.accordion
  margin-top: 20px
  &__item
    margin-bottom: 8px
    background: $colorContent
    box-shadow: $boxshadowDefault
  &__header
    height: 48px
    padding: 13px 15px
    box: wrap
    cursor: pointer
    &-arrow
      size: 22px
      background: #3c4d68
      border-radius: 100%
      position: relative
      &:before
        width: 0
        height: 0
        border-style: solid
        border-width: 3px 3px 0 3px
        border-color: $colorWhite transparent transparent transparent
        content: ''
        display: block
        position: absolute
        top: 50%
        left: 50%
        margin: -2px 0 0 -3px
        transition: 0.3s all ease
    &--active
      .accordion__header-arrow
        &:before
          transform: rotate(180deg)
          border-color: #8395b4 transparent transparent transparent
    .icon
      size: 18px
      margin: 2px 0 0 10px
    &-name
      text: $colorWhite 13px 22px 500
      margin-left: 8px
  &__dropdown
    padding: 8px 0
    display: none
