.active-stuffs
  background: $colorContent-2
  padding: 27px 0
  box-shadow:  7px 0px 11px 0px rgba(0, 0, 0, 0.15)
  .category-title
    padding: 0 33px
  .mCSB_inside>.mCSB_container
    margin-right: 0
    padding-top: 1px
  .mCSB_scrollTools
    right: 8px
  &__list
    max-height: 300px
    margin-top: $indentLarge
  &__inner
    position: relative
    overflow: hidden
    background: rgba($colorActiveStuffs,0.5)
    border-radius: $borderRadiusDefault
    padding: 10px 15px 10px 56px
    min-height: 75px
    margin-bottom: 10px
    transition: 0.3s all ease
    cursor: pointer
    &:hover ,
    &--active
      box-shadow: 0 0 0 1px $colorBlue
  &__item
    padding: 0 33px
  &__icon-c
    position: absolute
    size: 45px
    border-radius: 100%
    top: 50%
    left: -13px
    transform: translate(0,-50%)
    .icon
      size: 45px
  &__icon
    position: absolute
    size: 45px
    border-radius: 100%
    top: 50%
    left: -13px
    transform: translate(0,-50%)
    background: #50a1e6
    background: -moz-linear-gradient(top, #50a1e6 0%, #4fa1e7 100%)
    background: -webkit-linear-gradient(top, #50a1e6 0%,#4fa1e7 100%)
    background: linear-gradient(to bottom, #50a1e6 0%,#4fa1e7 100%)
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: center
    &--violet
      background: #584ccf
      background: -moz-linear-gradient(top, #584ccf 0%, #5e4ee6 100%)
      background: -webkit-linear-gradient(top, #584ccf 0%,#5e4ee6 100%)
      background: linear-gradient(to bottom, #584ccf 0%,#5e4ee6 100%)
    .icon--ethereum
      size: 14px 26px
    .icon--btc,
    .icon--litecoin,
    .icon--binance
      size: 24px
  &__name
    text: $colorActiveStuffsName 13px 16px
    margin-bottom: 4px
  &__price
    text: $colorActiveStuffsPrice 13px 16px 500
    &--num
      text: $colorActiveStuffsNum
    &--currency
      text: $colorActiveStuffsCurrency 11px 16px
      margin-left: 6px
  &__percent
    text: 15px 16px
    &--down
      text: $colorRed
    &--up
      text: $colorGreen
  &__val
    text: $colorActiveStuffsVal 11px 16px 500
