.bn-blue
  background: #2686dd
  background: -moz-linear-gradient(top, #2686dd 0%, #2c98f0 100%)
  background: -webkit-linear-gradient(top, #2686dd 0%,#2c98f0 100%)
  background: linear-gradient(to bottom, #2686dd 0%,#2c98f0 100%)
  min-height: 232px
  position: relative
  margin: 15px 0 15px
  box-shadow: $boxshadowDefault
  &__cont
    padding: 50px 0 0
    max-width: 346px
  &__title
    text: #f1f3f3 24px 1.3 500
    margin-bottom: 10px
  p
    margin: 0
    text: #a5cbec
    line-height: 1.5
    font-weight: 300
  .btn-c
    width: 156px
    margin-top: 15px
  &__bg
    position: absolute
    left: 0
    bottom: 0
    &-img
      display: block
