.bidding
  padding-bottom: $indentLarge
  background: #20304d
  min-height: 100vh
  .flex-p-wrap
    padding: * 2px
    margin: * -2px
    & > [class*="col-"]
      padding: * 2px
  &__header
    padding: 15px $indentSmall 15px 15px
    background: #21314e
    &-select
      height: 43px
      .select-styler
        min-width: 110px
    .header
      &__user
        margin-right: 0
        padding-top: 9px
      &__notifications
        margin-top: 13px
      &__message
        margin-top: 15px
  &__col
    width: 300px
    padding: * $indentMini
  &__col-2
    width: 600px
    padding: * 2px
  &__info
    margin-right: 20px
    box: wrap
    &-item
      margin-left: 25px
      padding-top: 9px
    &-name
      text: #71819d 10px 1
      margin-bottom: 4px
    &-text
      text: #d7e2f3 11px 1
  &__cont
    padding-right: $indentMini
    padding-left: $indentSmall
  &__tabs-p
    &__list-btn
      padding-left: 15px
      padding-right: 15px
  &-set-h
    padding: 4px
    background: #273855
    .btn-row
      margin: 0 -2px
      &__item
        margin-bottom: 0
    &__text
      display: inline-block
      vertical-align: top
      text: #9cacc6 12px 22px
      margin-right: $indentSmall
  &__table
    background: #2d3f5d
    &-tr
      box: wrap
      position: relative
      margin-bottom: 1px
    &-th
      padding: 10px 8px
      text: #9cacc6 12px 1
    &-td
      padding: 5px 8px
      text: 11px 1
      z-index: 5
    &-td ,
    &-th
      &:nth-child(1),
      &:nth-child(3)
        width: 80px
      &:nth-child(2)
        text-align: center
        flex-basis: 0
        flex-grow: 1
        max-width: 100%
    &-preload-red
      background: #404060
    &-preload-green
      background: #304f5c
  &__best
    height: 30px
    text: 14px 30px 500 center
    position: relative
    background: #21314e
    &-price
      text: $colorYelow 12px
      margin-left: $indentMini
    &-load
      position: absolute
      top: 7px
      right: 8px
  &__tabs
    box-shadow: $boxshadowDefault
    margin: $indentMini 2px 0
    .tabs
      &__list
        box: wrap
        background: #1f2f4c
        &-item
          height: 30px
          text: #8d9ab1 12px 30px
          padding: 0 15px
          transition: 0.3s all ease
          &--active
            text: $colorYelow bold
            background: #2d3f5d
      &__cont
        background: #1f2f4c
        .flex-wrap__tabs
          margin: 0 -1px
          & > [class*="col-"]
            padding: * 1px
        .inner-block
          padding: 15px 20px
          min-height: 200px
          box-shadow: none
        .form-row
          margin-bottom: 4px
        .btn-row
          margin: 4px -2px 0
          &__item
            margin-bottom: 0
          .btn
            padding: * 0
  &__info-cont
    background: #21314e
    min-height: 191px
    width: auto
    box-shadow: $boxshadowDefault
    margin: 4px 0 0
    padding: 0 2px
    .bidding-set-h
      background: transparent
      padding-left: 0
      padding-right: 0
[class*="bidding__table-preload-"]
  height: 100%
  top: 0
  right: 0
  position: absolute
.load-status
  box: wrap
  &__item
    size: 4px 16px
    background: rgba(#a4b8da,0.2)
    border-radius: 4px
    margin-left: 2px
    &:nth-child(1)
      height: 8px
      margin-top: 8px
    &:nth-child(2)
      height: 10px
      margin-top: 6px
    &:nth-child(3)
      height: 12px
      margin-top: 4px
    &--active
      background: #47d69b
