.chat
  &-list
    background: $colorContent-2
    width: 325px
    margin-right: -1px
    padding: 20px 0
    &__full
      width: 100%
      padding: 18px 0
      background: $colorMain
      padding-left: 20px
    &__inner
      padding: 0 15px 0 42px
    &__scroll
      max-height: 600px
      .chat-list__inner
        padding-right: 24px
      .mCSB_inside>.mCSB_container
        margin-right: 0
      .mCSB_scrollTools .mCSB_draggerContainer
        right: 6px
    &__up
      text: #35ffd7
    &__down
      text: $colorRed
    &__item
      position: relative
      min-height: 65px
      background: #273751
      padding: 15px
      padding-left: 33px
      border-radius: $borderRadiusSmall
      text-decoration: none
      display: block
      margin-bottom: 10px
      &-img
        size: 37px
        border-radius: 100%
        position: absolute
        top: 50%
        left: -20px
        margin-top: -18px
        background-position: center
        background-repeat: no-repeat
        background-size: cover
      &-name
        text: $colorWhite 13px 1 500
        display: inline-block
        vertical-align: top
      &-pro
        height: 13px
        text: $colorWhite 10px 13px 500 uppercase
        background: #f69d3e
        padding: 0 $indentMini
        border-radius: 13px
        margin-right: $indentMini
        display: inline-block
        vertical-align: top
      &-date
        text: #587199 11px 13px
      &-text
        text: #6e7e91 12px 13px
      &-coin
        text: 12px 13px 500
        .icon
          size: 13px
          margin-left: $indentMini
          margin-top: -1px
  &__tags
    box: wrap
    &-item
      margin: 0 10px 10px 0
      .btn-r
        text: #d8e4fa
        cursor: default
        &:before
          background: rgba(#546684,0.5)
        &:hover,
        &--active
          border-color: rgba(#546684,0.5)
        & > .icon
          margin: 0 8px 0 0
          vertical-align: text-bottom
          &--verified
            fill: $colorBlue
  &__scroll
    max-height: 460px
    margin: 18px -30px 0
    &-inner
      padding: 0 30px
    .mCSB_inside>.mCSB_container
      margin-right: 0
    .mCSB_scrollTools
      right: 6px
      .mCSB_dragger
        .mCSB_dragger_bar
          background: #4b6082
        &.mCSB_dragger_onDrag
          .mCSB_dragger_bar
            background: #7c93ae
  &__item
    box: wrap
    padding: 12px
    background: rgba(#23334d,0.3)
    border-radius: $borderRadiusSmall
    margin-bottom: $indentMini
    &-img
      border-radius: $borderRadiusSmall
      border: 1px solid #425575
      padding: 2px
      height: 26px
      &--cont
        text-align: center
        size: 20px
        background-position: center
        background-repeat: no-repeat
        background-size: cover
        background-color: #a5c199
        text-align: center
        text: #23334d 13px 20px 500
      &--violet
        .chat__item-img--cont
          background-color: #a087d9

    &-cont
      padding: 6px 0 0 8px
      text: #d8e4fa 12px 1.3 300
      flex: 0 0 calc(100% - 26px)
      max-width: calc(100% - 26px)
    &-login
      text: #6d82a7 500
      display: inline-block
      vertical-align: top
      margin-right: $indentMini
      &--blue
        text: #2dade3
  &__message
    margin-top: 24px
    margin-bottom: 12px
    position: relative
    padding-right: 40px
    height: 35px
    border-radius: $borderRadiusSmall
    background:  #1e2c44
    &-input
      width: 100%
      height: 35px
      padding: 0 15px
      border: 0
      outline: 0
      background: transparent
      text: #59739f 12px 400
      &::placeholder
        text: rgba(#59739f,0.5)
    &-submit
      position: absolute
      top: 4px
      right: 4px
      background: $colorBlue
      size: 27px
      border-radius: $borderRadiusSmall
      border: 0
      outline: 0
      margin: 0
      padding: 0
      cursor: pointer
      transition: 0.3s all ease
      &:hover
        background: $colorBtnBlueHover
      .icon--send
        margin: 2px 0 0
