.check-list
  background: $colorMain
  padding-bottom: 8px
  .mCSB_inside>.mCSB_container
    margin-right: 0
  .mCSB_scrollTools .mCSB_draggerContainer
    right: 8px
  &__link
    text: #64e1ef 11px 12px 500
    text-decoration: none
    letter-spacing: 1px
    display: inline-block
    vertical-align: top
    &:hover
      text-decoration: underline
  &__top
    padding: 20px 30px 0
  &__title
    text: #a0b5d9 12px 12px
    span
      text: #e6efff
  &__scroll
    max-height: 172px
    margin-top: 15px
    [class*="col-"]
      margin-bottom: 5px
  &__list
    padding: 0 30px
  .coin-price
    width: 100%
    &__name
      width: 100%
      span
        margin-left: 6px
