.coin-info
  padding-bottom: 20px
  &__header
    padding: 15px 0
  &__select
    display: inline-block
    vertical-align: top
    width: 130px
  &__title
    text: #a0b5d9 34px 1 300
    padding: 7px 0 0
    span
      font-weight: 100
  &__price
    text: 12px right
  &__regarding
    display: inline-flex
    vertical-align: top
    flex-wrap: wrap
    padding: 28px 0 0 15px
    &-label
      text: #a0b5d9 13px 24px 300
    &-row
      margin-left: 15px
    .coin-price
      margin-left: 4px
  &__charts
    margin-top: 40px
  &__chart
    width: 99px
    position: relative
    &-inner
      position: relative
      img
        width: 100%
        display: block
    &-title
      text: #a8c0e8 12px 1 center
      padding-bottom: 15px
    &-percent
      position: absolute
      width: 100%
      top: 50%
      left: 0
      text: $colorWhite 14px 1 center
      margin-top: -11px
      z-index: 50
    &-line
      width: auto
      height: 250px
      margin: 15px 0
      margin-left: -40px
      .highcharts-container
        max-width: 100%
      .highcharts-background,
      .highcharts-scrollable-mask
        fill: #1f2e48
      .highcharts-button,
      .highcharts-credits,
      .highcharts-title
        display: none
    &-col
      margin-bottom: 8px
  &__c-list
    position: absolute
    left: 100%
    top: 0
    margin-left: 15px
    &-item
      padding-left: 12px
      text: #92a1ba 12px 1
      margin-bottom: 5px
      position: relative
      &:before
        position: absolute
        top: 2px
        left: 0
        content: ''
        display: block
        size: 8px
        border-radius: 100%
      &--red
        &:before
          background: #ff9e8e
      &--violet
        &:before
          background: #7e6aff
  &__chart-cont
    background: #1f2e48
    min-height: 100px
    overflow: hidden
