.coin-list
  box: wrap
  margin-top: 56px
  &__total
    height: 54px
    border: 1px solid $colorBlue
    background: #1f2e48
    padding: 0 16px
    text: $colorWhite 13px 54px 500
    border-radius: $borderRadiusSmall
    margin-right: 6px
    margin-bottom: 6px
    span
      text: #4f5e78
      margin-left: 15px
  &__item
    background: rgba(#374968,0.3)
    transition: 0.3s all ease
    height: 54px
    border-radius: $borderRadiusSmall
    padding: 12px 15px 0 46px
    position: relative
    min-width: 155px
    cursor: pointer
    text-decoration: none
    margin-right: 6px
    margin-bottom: 6px
    &:hover ,
    &--active
      background: #374968
    &-name
      text: $colorWhite 13px 1.2 500
      margin-bottom: 3px
    &-text
      text: #bfcfed 12px 1.2 300
    .icon
      size: 18px
      position: absolute
      top: 50%
      left: 15px
      margin-top: -9px
