.coin-stats
  box-shadow: $boxshadowDefault
  border-radius: $borderRadiusDefault
  background-color: #1f2e48
  min-height: 273px
  overflow: hidden
  position: relative
  margin-top: $indentDefault
  &__cont
    position: relative
    z-index: 10
    padding: 10px 5px 15px 10px
  &__scroll
    max-height: 180px
    &--large
      max-height: 400px
  &__icon-bg
    position: absolute
    bottom: -65px
    right: -65px
    .icon
      size: 326px
      fill: #b1bed3!important
      opacity: .02
      &--litecoin
        opacity: .05
  &__icon
    width: 45px
    .icon
      size: 20px
  &__list
    padding: 30px 0 0 0
    &-item
      margin-bottom: 10px
      padding-left: 43px
      box: wrap
      &:before
        position: absolute
        content: ''
        display: block
        size: 19px 16px
        background-position: center
        background-repeat: no-repeat
        background-size: cover
        top: 0
        left: 0
        margin: -3px 0 0 15px
      &--green
        position: relative
        &:before
          background-image: svg-load('icons/slider-place-r-g.svg', fill:#AEE88F)
        .coin-stats__list-num
          color: $colorGreen
        .coin-stats__list-progress
          div
            background: $colorGreen
      &--red
        position: relative
        &:before
          background-image: svg-load('icons/slider-place-r-g.svg', fill:$colorRed-3)
        .coin-stats__list-num
          color: $colorRed-3
        .coin-stats__list-progress
          div
            background: $colorRed-3
      &--blue
        .coin-stats__list-num
          color: #4fadbd
        .coin-stats__list-progress
          div
            background: $colorBlue-2
    &-num
      text: #5976a1 11px 1
      width: 55px
      padding-right: 15px
      span
        color: #2d4260
    &-cont
      flex: 0 0 calc(100% - 55px)
      max-width: calc(100% - 55px)
    &-progress
      max-width: 115px
      height: 3px
      position: relative
      background: $colorContent
      margin-top: 3px
      div
        position: absolute
        top: 0
        left: 0
        height: 3px
        background: $colorBlueLigth
