.coin-slider
  margin-left: 26px
  width: 70px
  &-wrap
    width: 100%
    min-height: 258px
    background: $colorContent
    box-shadow: $boxshadowDefault
    position: relative
    overflow: hidden
  &__arrow
    position: absolute
    z-index: 50
    left: 50%
    margin-left: -7px
    size: 14px 7px
    cursor: pointer
    .icon
      size: 14px 7px
      transition: 0.3s all ease
      opacity: 0.3
    &--prev
      top: 45px
    &--next
      bottom: 45px
    &:hover
      .icon
        opacity: 0.8
  &__inner
    size: 70px 55px
    position: relative
  &__item
    outline: 0!important
    padding: 3px 0
    transition: 0.3s all ease
    opacity: 0.3
    .icon
      size: 31px
      transition: 0.3s all ease
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%,-50%)
    &.slick-active
      &:not(.slick-center)
        .icon
          size: 42px
    &.slick-center
      opacity: 1
      .icon
        size: 64px
  &__select
    width: 120px
    position: absolute
    top: 15px
    right: 15px
  &__tab
    position: absolute
    top: 87px
    right: 18px
    text: right
    opacity: 0
    visibility: hidden
    transform: translate(100%,0)
    transition: 0.3s all ease
    &--active
      opacity: 1
      visibility: visible
      transform: translate(0,0)
  &__name
    text: #879dc0 17px 1 300
  &__percent
    text: 28px 1
    margin: 5px 0 0
    &--down
      text: #ff6c9c
    &--up
      text: $colorGreen
  &__val
    text: #7d92b4 11px 1
    margin: 7px 0 0
  &__price
    text: #91a3bf 15px 1  500
    margin: 18px 0 0
