.coin-price
  border-radius: $borderRadiusSmall
  background: rgba(#405679,0.4)
  height: 24px
  line-height: 25px
  transition: $transition all
  padding: 0 8px
  box: wrap
  &--active
    background: #243451
    box-shadow: 0 0 0 1px $colorBlue
  &__num
    text: $colorCoinPrice2 11px
    flex: 0 0 auto
    width: auto
    max-width: 100%
    span
      font-weight: 500
      color: $colorCoinPrice
  &__name
    margin-left: auto
    flex: 0 0 auto
    width: auto
    max-width: 100%
    text: $colorCoinPrice3 11px
    span
      margin-left: 4px
  &__icon
    vertical-align: top
    margin-top: 7px
    size: 11px
