.coin-check
  padding: 20px 0
  &__scroll
    max-height: 520px
    .mCSB_inside>.mCSB_container
      margin-right: 0
    .mCSB_scrollTools
      right: 6px
      .mCSB_dragger
        .mCSB_dragger_bar
          background: #4b6082
        &.mCSB_dragger_onDrag
          .mCSB_dragger_bar
            background: #7c93ae
  &__inner
    padding: 0 30px
  &__item
    margin-bottom: $indentSmall
    border-radius: $borderRadiusDefault
    background: #374968
    min-height: 80px
    position: relative
    padding: 17px 15px 0 65px
    overflow: hidden
  &__name
    text: #d7e6ff 13px 1
    margin-bottom: $indentSmall
  &__price
    text: 12px 1
    margin-bottom: $indentMini
  &__persent
    width: 47px
  &__coin
    left: -12px
    top: 50%
    position: absolute
    margin-top: -20px
    z-index: 10
    .icon
      size: 40px
  &__coin-old
    left: 17px
    top: 50%
    position: absolute
    margin-top: -11px
    opacity: 0.4
    .icon
      size: 22px
  &__close
    position: absolute
    top: 10px
    right: 10px
    display: inline-block
    vertical-align: top
    .icon
      fill: #7486a5
      transition: 0.3s all ease
    &:hover
      .icon
        fill: $colorWhite
  .swicher
    margin: 10px 0 0
