.form-row
  margin-bottom: 9px
  &__title
    text: #d7e2f3 13px 1 500
  &__check-inner
    width: 32px
    padding-top: 2px
  &__or
    position: relative
    &:before
      content: '/'
      display: inline-block
      vertical-align: top
      position: absolute
      top: 34px
      left: 50%
      margin-left: -2px
      text: #5a77a2 12px 1
  &__hint
    text: #9aafd1 12px 16px 500
    span
      text: #ecf3ff
      margin-left: $indentMini
  &__label
    text: $colorLabel 13px 1 300
    display: block
    min-height: 13px
    margin-bottom: 6px
  &__inline-label
    flex: 0 0 90px
    max-width: 90px
    text: #9eb5dd 13px 1 right
    align-self: center
  &__inline-cont
    flex-basis: 0
    flex-grow: 1
    max-width: 100%
    padding-left: 15px
    height: 42px
    &--icon
      position: relative
      .form-row__input-lg
        padding-left: 40px
      .icon
        size: 17px
        position: absolute
        top: 12px
        left: 30px
        z-index: 10
  &__inline-label-s
    text: #9cacc6 12px 26px left
    flex: 0 0 50px
    max-width: 50px
  &__inline-cont-s
    padding-left: 15px
    flex-basis: 0
    flex-grow: 1
    max-width: 100%
    position: relative
  &__name-option
    position: absolute
    top: 0
    right: 0
    height: 26px
    padding-right: 20px
    text: rgba(#d7e2f3,0.3) 10px 26px
    z-index: 30
    &:before ,
    &:after
      position: absolute
      display: block
      content: ''
      width: 0
      height: 0
      border-style: solid
      position: absolute
      right: 5px
    &:before
      border-width: 0 3.5px 5px 3.5px
      border-color: transparent transparent #c0cfea transparent
      top: 6.5px
    &:after
      border-width: 5px 3.5px 0 3.5px
      border-color: #c0cfea transparent transparent transparent
      bottom: 6.5px
  &__text
    text: $colorLabel 13px 1 300
    padding: $indentMini 0 0
  &__price
    text: $colorCoinPrice 15px 1 500
    margin-top: $indentSmall
    &--num
      color: #677a9a
    &--currency
      color: #8da1c3
  &__val
    text: rgba(#91a3bf,0.4) 11px 1 500
    margin-top: 6px
  &__scope
    text: 12px 1 500
    margin-top: $indentSmall
  &__input
    border-radius: $borderRadiusSmall
    background: rgba($colorInput,0.8)
    text: $colorInputText 12px 1
    height: 34px
    border: 0
    outline: 0
    padding: 0 15px
    transition: 0.3s all ease
    width: 100%
    &::placeholder
      text: rgba($colorInputText,.4)
    &:focus ,
    &:active
      box-shadow: 0 0 0 1px $colorBlue
  &__input-lg
    width: 100%
    height: 42px
    border: 1px solid rgba(#4b5e8c,0.5)
    background: rgba(#10172b,0.4)
    border-radius: $borderRadiusSmall
    transition: 0.3s all ease
    text: $colorInputText 12px 1
    padding: 0 $indentDefault
    outline: 0
    box-shadow: inset 0 0 0 1px rgba(#4b5e8c,0.5)
    &:focus,
    &:active
      border-color: $colorBlue
      background: rgba(#10172b,0.6)
      box-shadow: inset 0 0 0 1px rgba(#4b5e8c,0)
      &::placeholder
        text: rgba($colorInputText,.4)
  &__input-s
    background: $colorInput
    border-radius: $borderRadiusMini
    text: #d7e2f3 12px 1
    height: 26px
    border: 0
    outline: 0
    padding: 0 10px
    transition: 0.3s all ease
    width: 100%
    &::placeholder
      text: rgba($colorInputText,.4)
    &:focus ,
    &:active
      box-shadow: 0 0 0 1px $colorBlue
  &__icon
    position: relative
    .form-row__input-lg
      padding-left: 40px
    .icon
      position: absolute
      size: 17px
      left: 15px
      top: 50%
      transform: translate(0,-50%)
div.select-styler,
div.select-coin,
div.select-icon
  width: 100%
  height: 42px
  position: relative
  z-index: 100
  &.focused
    .jq-selectbox__select
      box-shadow: 0 0 0 1px $colorBlue
  .jq-selectbox
    &__select
      size: 100% 42px
      display: block
      border-radius: $borderRadiusSmall
      background: $colorSelect
      text: $colorWhite 13px 43px 500 left
      box-shadow: 0 0 0 1px transparent
      transition: $transition all
    &__select-text
      padding: 0 30px 0 15px
    &__trigger
      position: absolute
      width: 22px
      top: 1px
      right: 0
      bottom: 1px
      border-left: 1px solid $colorSelectBorder
    &__trigger-arrow
      width: 0
      height: 0
      border-style: solid
      border-width: 4px 3.5px 0 3.5px
      border-color: $colorSelectArrow transparent transparent transparent
      position: absolute
      top: 50%
      left: 50%
      margin: -2px 0 0 -4px
    &__dropdown
      padding: 2px *
      width: 100%
      z-index: 100
      ul
        padding: 0
        margin: 0
        list-style: none
        border-radius: $borderRadiusDefault
        background: $colorSelect
        li
          padding: 12px $indentDefault
          text: $colorWhite 13px 1 300  left
          transition: $transition all
          cursor: pointer
          border-top: 1px solid $colorSelectBorder
          &:first-child
            margin-top: 0
          &.sel ,
          &.selected
            background: $colorBlueLigth!important
            cursor: default
          &:hover
            background: $colorBlue
  &__large
    height: 60px
    .jq-selectbox
      &__select
        height: 60px
        text: 16px 60px
  &__small
    height: 22px
    .jq-selectbox
      &__select
        height: 22px
        line-height: 22px
      &__dropdown
        ul
          border-radius: 4px
          li
            padding: 6px 8px
.select-icon
  .icon
    size: 18px
    margin: 12px 12px 0 0
    vertical-align: top
  .jq-selectbox__dropdown
    ul li
      padding-top: 0!important
      padding-bottom: 0!important
      line-height: 43px!important
      display: block!important
      &.sel ,
      &.selected,
      &:hover
        .select-coin__num
          color: $colorWhite
  &__large
    .jq-selectbox__select-text
      .icon
        size: 22px
        margin-top: 18px
.select-coin
  &__num
    text: $colorCoinPrice2 15px
    span
      color: $colorCoinPrice
      font-weight: 500
  .icon
    size: 13px
    margin: 15px 5px 0 0
  &__name
    text-transform: uppercase
    text: $colorCoinPrice3 12px
  .jq-selectbox__dropdown
    ul li
      padding-top: 0!important
      padding-bottom: 0!important
      line-height: 43px!important
      display: block!important
      &.sel ,
      &.selected,
      &:hover
        .select-coin__num
          color: $colorWhite
.slider
  border: 0!important
  outline: 0
  background: $colorSlider
  border-radius: 0
  margin: 18px 0 0
  size: 100% 3px
  .ui-slider-handle
    size: 13px
    border-radius: 100%
    border: 0
    outline: 0
    box-shadow: 0 0 0 3px $colorSliderBorder
    background: $colorSliderGreen
    top: -5px
    cursor: pointer
  .ui-slider-range
    background: $colorSliderGreen
  &__blue
    .ui-slider-handle,
    .ui-slider-range
      background: $colorSliderBlue
  &__red
    .ui-slider-handle,
    .ui-slider-range
      background: $colorSliderRed
.checkbox
  display: inline-block
  vertical-align: top
  cursor: pointer
  &__red
    .checkbox__inner
      .icon--checked
        fill: $colorWhite
      &-input
        &:checked
          & + .checkbox__inner-check
            background: $colorRed-3
  &__blue
    .checkbox__inner
      .icon--checked
        fill: $colorWhite
      &-input
        &:checked
          & + .checkbox__inner-check
            background: $colorBlue
  &__inner
    display: inline-block
    vertical-align: top
    position: relative
    overflow: hidden
    cursor: pointer
    &-check
      size: 17px
      border-radius: 3px
      background: $colorInput
      transition: 0.3s all ease
      position: relative
    .icon--checked
      position: absolute
      top: 3px
      left: 2px
      z-index: 5
      opacity: 0
      transform: scale(0)
      transition: 0.3s all ease
      fill: rgba($colorInput,0.8)
    &-input
      position: absolute
      top: 0
      left: 0
      opacity: 0
      z-index: 10
      cursor: pointer
      size: 17px
      &:checked
        & + .checkbox__inner-check
          background: $colorGreen
          .icon--checked
            opacity: 1
            transform: scale(1)
  &__text
    display: inline-block
    vertical-align: top
    text: #a0b5d9 13px 1
    padding: 1px 0 0 4px
.swicher
  size: 44px 24px
  border-radius: 24px
  position: relative
  display: inline-block
  vertical-align: top
  background: #22314b
  overflow: hidden
  &__circle
    position: absolute
    size: 20px
    top: 2px
    left: 2px
    transition: 0.3s all ease
    cursor: pointer
    &:before
      size: 80px 24px
      position: absolute
      top: -2px
      right: 50%
      content: ''
      display: block
      background: #22314b
      transition: 0.5s all ease
      border-radius: 24px
    &:after
      size: 20px
      z-index: 5
      background: $colorWhite
      border-radius: 100%
      box-shadow: $boxshadowDefault
      display: block
      content: ''
      position: absolute
      top: 0
      left: 0
  &__input
    position: absolute
    z-index: 10
    size: 100px
    top: 0
    left: 0
    opacity: 0
    cursor: pointer
    &:checked
      & + .swicher__circle
        left: 22px
        &:before
          background: $colorBlue
          margin-right: -20px
.circle-chart
  transform: rotateZ(-89.5deg)
  circle
    transition: 2s all ease
.select
  display: inline-block
  vertical-align: top
  size: auto 42px
  min-width: 140px
  border-radius: $borderRadiusSmall
  background: $colorSelect
  text: $colorWhite 13px 43px 500 left
  box-shadow: 0 0 0 1px transparent
  transition: $transition all
  position: relative
  z-index: 50
  &:focus,
  &:active ,
  &--active
    box-shadow: 0 0 0 1px $colorBlue
  &--active
    .select__dropdown
      opacity: 1
      visibility: visible
      transform: translate(0,0)
  .icon
    size: 18px
    margin: 12px 12px 0 0
    vertical-align: top
  &__text
    padding: 0 30px 0 15px
    position: relative
    cursor: pointer
  &__trigger
    position: absolute
    width: 22px
    top: 1px
    right: 0
    bottom: 1px
    border-left: 1px solid $colorSelectBorder
    cursor: pointer
  &__trigger-arrow
    width: 0
    height: 0
    border-style: solid
    border-width: 4px 3.5px 0 3.5px
    border-color: $colorSelectArrow transparent transparent transparent
    position: absolute
    top: 50%
    left: 50%
    margin: -2px 0 0 -4px
  &__inner
    border-radius: $borderRadiusDefault
    background: $colorSelect
    overflow: hidden
    .mCustomScrollbar
      max-height: 200px
    .mCSB_inside>.mCSB_container
      margin-right: 0
  &__dropdown
    padding: 2px *
    width: 100%
    z-index: 100
    transition: 0.3s all ease
    opacity: 0
    visibility: hidden
    transform: translate(0,50px)
    ul
      padding: 0
      margin: 0
      list-style: none
      li
        padding: 12px $indentDefault
        text: $colorWhite 13px 18px 300  left
        transition: $transition all
        cursor: pointer
        border-top: 1px solid $colorSelectBorder
        cursor: pointer
        &:first-child
          margin-top: 0
        &.sel ,
        &.selected
          background: $colorBlueLigth!important
          cursor: default
        &:hover
          background: $colorBlue
        .icon
          margin-top: 0
