.header
  min-height: 102px
  padding-top: 40px
  padding-left: 195px
  &__h3
    margin: 0
    color: $colorBlueLigth
  &__h1
    margin: 0
  &__user
    display: inline-block
    vertical-align: top
    padding-top: $indentDefault
    position: relative
    &:hover
      .header__user--icon
        transform: rotate(180deg)
      .header__user-dropdown
        opacity: 1
        visibility: visible
        transform: translate(0,0)
    &-inner
      padding-right: $indentLarge
      position: relative
      text: right
      cursor: pointer
      display: inline-block
      vertical-align: top
    &-dropdown
      position: absolute
      top: 100%
      left: 0
      width: 100%
      padding-top: 15px
      opacity: 0
      visibility: hidden
      transform: translate(0,50px)
      transition: $transition all
      z-index: 100
      &:after
        border: solid transparent
        content: " "
        height: 0
        width: 0
        position: absolute
        pointer-events: none
        border-color: rgba(136, 183, 213, 0)
        border-bottom-color: #1f2e48
        border-width: 5px
        top: 5px
        right: 9px
      &--inner
        border-radius: 5px
        background: #1f2e48
        text: $colorWhite 11px left
        box-shadow: 0 9px 57px rgba(75, 95, 144, 0.25)
        position: relative
        overflow: hidden
    &--name
      text: $colorWhite 13px 1
    &--date
      text: $colorUserDate 9.5px 1
      margin-top: 5px
    &--icon
      position: absolute
      top: 50%
      right: 9px
      margin-top: -2px
      size: 9px 5px
      transition: $transition all
      .icon
        fill: $colorUserIcon
    &-list
      &-item
        border-top: 1px solid #3f5375
        &:first-child
          border-top: 0
      &-link
        display: block
        padding: 10px 15px
        text: rgba($colorWhite,0.8) 12px 1 300
        text-decoration: none
        transition: 0.3s all ease
        &:hover
          background: $colorBlue
          text: $colorWhite
    &-avatar
      display: inline-block
      vertical-align: top
      size: 30px
      background-position: center
      background-repeat: no-repeat
      background-size: cover
      border-radius: 100%
      border: 1px solid #6279a6
      margin-right: 8px
  &__notifications
    display: inline-block
    vertical-align: top
    position: relative
    margin: 17px 22px 0 0
    cursor: pointer
    .icon
      fill: $colorHeaderIcons
    &--badge
      size: 4px
      border-radius: 100%
      background: $colorOrange
      position: absolute
      top: 0
      right: -1px
      animation: bounceNotifications 1s infinite
  &__message
    display: inline-block
    vertical-align: top
    margin: 19px 18px 0 0
    text-decoration: none
    .icon
      fill: $colorHeaderIcons
  &__login
    display: inline-block
    vertical-align: top
    padding-top: 7px
    &-btn
      display: inline-block
      vertical-align: top
      background: #54a9eb
      position: relative
      text: $colorWhite 12px 1 300
      padding: 12px 15px
      padding-left: 40px
      border-radius: 20px
      text-decoration: none
      transition: 0.3s all ease
      &:before
        position: absolute
        top: 10px
        left: 11px
        content: ''
        display: block
        background: url("$rootUrl/tg_button_large.png") no-repeat center
        background-size: cover
        size: 20px 16px
      &:hover
        background: $colorBlue
