.menu
  position: absolute
  left: 0
  &__item
    margin-bottom: 18px
  &__link
    position: relative
    height: 43px
    text-decoration: none
    text: $colorBlueLigth 13px 43px nowrap
    box: wrap
    transition: $transition all
    &:before
      position: absolute
      top: 50%
      left: 0
      size: 2px 0
      transition: $transition all
      content: ''
      display: block
      background: $colorBlue
    &--active,
    &:hover
      text: $colorWhite
      &:before
        top: 0
        height: 100%
      .menu__icon
        .icon
          fill: $colorBlue
  &__icon
    width: 57px
    height: 43px
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: center
    .icon
      fill: $colorMenuIcon
  &__small
    .menu
      &__item
        &-name
          position: absolute
          top: 0
          left: 50px
          display: block
          padding: 0 15px
          background: #1a2842
          transition: 0.3s all ease
          opacity: 0
          visibility: hidden
          transform: translate(100%,0)
          z-index: 50
      &__icon
        width: 80px
        transition: 0.3s all ease
      &__link
        &:hover
          .menu__icon
            background: #1a2842
          .menu__item-name
            opacity: 1
            visibility: visible
            transform: translate(0,0)
