.portfolio-history
  margin-top: 25px
  &__item
    box: wrap
    background: $colorPortfolioHistory
    border-radius: $borderRadiusDefault
    padding: 15px
    margin-bottom: 5px
    .btn
      min-width: 300px
  &__lable
    text: $colorPortfolioLabel 12px 1
    padding: 12px 15px 12px 15px
    min-width: 150px
  &__cont
    padding-top: 8px
    box: wrap
  &__next-arrow,
  &__prev-arrow
    margin: 0 $indentMini
    .icon
      fill: #7087ad
  .coin-price
    margin: 0 2px
    &__name
      padding-left: 4px
