.mCSB_inside>.mCSB_container
  margin-right: 20px


.mCSB_scrollTools
  opacity: 1
  .mCSB_dragger
    &:hover
      .mCSB_dragger_bar
        background: $colorBlueLigth
    .mCSB_dragger_bar
      width: 4px
      border-radius: 2px
      background: $colorContent
      opacity: 1!important
  .mCSB_draggerRail
    opacity: 0!important
    background: transparent
    transition: 0.3s all ease
  .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar
    background: $colorBlueLigth
