.spinner
  border-radius: $borderRadiusSmall
  padding: 4px
  background: $colorSpinner
  &__btn
    size: 34px
    background: rgba($colorSpinnerBtn,0.5)
    display: block
    transition: $transition all
    text: $colorWhite
    border-radius: $borderRadiusSmall
    position: relative
    &:before,
    &:after
      display: block
      content: ''
      background: rgba($colorWhite,0.5)
      transition: 0.2s all ease
      position: absolute
      top: 50%
      left: 50%
    &:before
      transform: translate(-50%,0)
      size: 11px 1px
    &:after
      size: 1px 11px
      transform: translate(0,-50%)
    &--minus
      &:after
        display: none
    &:hover
      background: $colorSpinnerBtn
      &:before,
      &:after
        background: $colorWhite
      &:before
        width: 15px
      &:after
        height: 15px
  &__cont
    padding: * 4px
    .col-1-2
      &:nth-child(1)
        position: relative
        &:before
          top: 50%
          left: 100%
          size: 2px 18px
          background: #697c9e
          content: ''
          display: block
          position: absolute
          margin: -9px 0 0 -1px
  &__input
    size: 100% 34px
    text-align: center
    display: block
    border: 0
    outline: 0
    background: transparent
    text: $colorSpinnerText 14px 34px
    &--num
      font-size: 15px
  &__icon
    size: 13px
    margin: 10px 4px 0 0
  &__coin
    text-transform: uppercase
    text: $colorCoinPrice3 12px 34px 500
    display: inline-block
    vertical-align: top
  &-small
    height: 22px
    display: inline-block
    vertical-align: top
    position: relative
    border-radius: $borderRadiusSmall
    background: #374968
    padding: 0 20px 0 8px
    &__num
      text: #c8daf8 12px 22px
    &__input
      text: #c8daf8 12px 22px
      background: transparent
      border: 0
      outline: 0
      width: 60px
      display: inline-block
      vertical-align: top
    &__btn
      size: 11px
      display: block
      position: absolute
      right: 0
      cursor: pointer
      transition: 0.3s all ease
      z-index: 10
      &:hover
        &.spinner-small__btn--up
          &:before
            border-color: transparent transparent $colorWhite transparent
        &.spinner-small__btn--down
          &:before
            border-color: $colorWhite transparent transparent transparent
      &:before
        width: 0
        height: 0
        border-style: solid
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        content: ''
        margin-left: -1px
      &--up
        top: 0
        &:before
          border-width: 0 3.5px 5px 3.5px
          border-color: transparent transparent $colorSpinnerArrow transparent
          margin-top: 1px
      &--down
        bottom: 0
        &:before
          border-width: 5px 3.5px 0 3.5px
          border-color: $colorSpinnerArrow transparent transparent transparent
          margin-top: -1px
.spinner-v
  border-radius: $borderRadiusSmall
  height: 42px
  background: $colorSpinner
  padding-right: 28px
  padding-left: 13px
  position: relative
  overflow: hidden
  z-index: 2
  &__btn
    position: absolute
    size: 20px 50%
    right: 0
    transition: 0.3s all ease
    border-left: 1px solid $colorContent
    display: block
    text-decoration: none
    cursor: pointer
    z-index: 10
    &:hover
      background: $colorBtn
      &.spinner-v__btn--up
        &:before
          border-color: transparent transparent $colorWhite transparent
      &.spinner-v__btn--down
        &:before
          border-color: $colorWhite transparent transparent transparent
    &:before
      width: 0
      height: 0
      border-style: solid
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%,-50%)
      content: ''
      margin: -1px 0 0 -1px
    &--up
      top: 0
      bottom: calc(50% - 1px)
      border-bottom: 1px solid $colorContent
      &:before
        border-width: 0 3.5px 5px 3.5px
        border-color: transparent transparent $colorSpinnerArrow transparent
    &--down
      bottom: 0
      &:before
        border-width: 5px 3.5px 0 3.5px
        border-color: $colorSpinnerArrow transparent transparent transparent
        margin-top: 0
  &__num
    height: 42px
    text: $colorGreen 15px 42px 500
    span
      color: $colorSpinnerLastNum
  &__percent
    position: absolute
    top: 0
    right: 30px
    text: $colorGreen 12px 42px
