.user-history
  &__header
    position: relative
    &-inner
      position: absolute
      top: -5px
      left: 0
      width: 100%
      z-index: 10
      text-align: center
      .btn-row-c
        display: inline-flex
        vertical-align: top
        padding: 0
      .category-title
        display: inline-block
        vertical-align: top
        margin: 4px 0 0 8px
  &__stat
    min-height: 257px
    background-position: center left
    background-repeat: no-repeat
    background-size: auto 100%
    margin: 30px 0 0
  &__block
    background: #324563
    box-shadow: $boxshadowDefault
    margin-bottom: 8px
    padding: 12px 15px
    min-height: 65px
    &--large
      min-height: 284px
    .category-title
      margin-top: 10px
  &__inf
    &-cont
      size: 121px
      position: relative
      background: url("$rootUrl/user-history-inf-cont.png") no-repeat center
      background-size: cover
      margin: 20px auto 0
    &-text
      text: $colorWhite 22px 22px center
      position: absolute
      top: 48px
      left: 0
      width: 100%
      span
        text: #91afd6 10px
        vertical-align: top
        display: inline-block
        margin: 3px 0 0
    &-list
      margin: 30px 0 0
    &-item
      position: relative
      text: #b5cbed 11px 1
      padding: 0 0 0 28px
      margin-bottom: 8px
      &:before
        position: absolute
  &__top
    padding: 0 15px 15px 95px
  &__avatar
    size: 53px
    border-radius: 100%
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    box-shadow: $boxshadowDefault
    margin-left: 6px
  &__cont
    padding-left: 17px
  &__name
    text: $colorWhite 18px 1 0.5px
    padding-top: 5px
  &__list
    margin: 8px 0 0
    &-item
      display: inline-block
      vertical-align: top
      text: #7c93ae 12px 1
      margin-right: 40px
      margin-bottom: 15px
      .icon
        fill: #7c93ae
        margin-right: 6px
      .icon--global
        margin-top: -2px
  &__btn-group
    margin: 10px 0 0
    .btn
      margin-left: 8px
      min-width: 130px
.user-stat
  box: wrap
  min-height: 41px
  padding: 0 15px
  &__p-0
    padding-left: 0
    padding-right: 0
  &__name
    flex-basis: 0
    flex-grow: 1
    max-width: 100%
    text: #b8cbe4 12px 1.3 0.5px 500
    align-self: center
  .col-auto
    align-self: center
  &__icon-w
    background: #3a4d6c
    size: 36px
    border-radius: $borderRadiusMini
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: center
    box-shadow: 0 9px 57px rgba(0,0,0,0.15)
    .icon
      size: 20px
  &__num
    text: $colorWhite 16px 1 300
    display: inline-block
    vertical-align: middle
  &__icon
    display: inline-block
    vertical-align: middle
    .icon
      size: 20px
.user-cong
  padding-top: 30px
  .firework-rocket
    width: 57px
    margin: auto
  &__title
    text: $colorWhite 27px 1 300 center
    margin: 30px 0 0
  &__text
    text: #afc3e4 14px 1.3 300 center
    margin: 15px 0 0
  .btn
    width: 165px
    margin: 30px 0 0
