.users-status
  padding: 40px 25px
  &__go-to
    position: absolute
    top: $indentSmall
    right: $indentSmall
    bottom: $indentSmall
    border-radius: $borderRadiusSmall
    size: 26px auto
    background: #364966
    transition: 0.3s all ease
    display: block
    text-decoration: none
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: center
    .icon
      fill: rgba($colorWhite,0.2)
      transition: 0.3s all ease
      size: 7px 14px
    &:hover
      background: $colorBlue
      .icon
        fill: $colorWhite
.us-list
  &__item
    background: #324563
    border-radius: $borderRadiusDefault
    padding: 24px
    padding-right: 46px
    position: relative
    margin-bottom: 12px
    &:hover
      .users-status__go-to
        background: $colorBlue
        .icon
          fill: $colorWhite
  &__img
    size: 40px
    border-radius: 100%
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    box-shadow: $boxshadowDefault
  &__cont
    flex: 0 0 calc(100% - 40px)
    max-width: calc(100% - 40px)
    padding-left: 15px
  &__name
    text: $colorWhite 13px 1 500
    margin: 3px 0 0
  &__total-profit
    text: #6e7e91 12px 13px
    margin-top: 6px
    span
      text: $colorWhite 13px * 500
  &__profit
    padding: 24px 0 0 29px
    position: relative
    &:before
      position: absolute
      top: 30px
      left: 5px
      display: block
      content: ''
      size: 0
      border-style: solid
      border-width: 0 6px 6px 6px
      border-color: transparent transparent #465978 transparent
      transition: 0.3s all ease
    &-percent
      text: 12px * 500
    &-time
      text: #6e7e91 12px
    &--up
      .us-list__profit-percent
        text: $colorGreen-2
    &--down
      &:before
        transform: rotate(180deg)
      .us-list__profit-percent
        text: $colorRed-2
.ul-row
  min-height: 46px
  background: #324563
  border-radius: $borderRadiusDefault
  margin-bottom: $indentSmall
  position: relative
  padding: 6px 46px 6px 15px
  &:hover
    .users-status__go-to
      background: $colorBlue
      .icon
        fill: $colorWhite
  &__avatar
    size: 25px
    background: #394c69
    border-radius: 100%
    display: inline-flex
    flex-wrap: wrap
    align-items: center
    justify-content: center
    margin-top: 6px
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    .icon
      size: 9px 12px
      fill: rgba($colorWhite,0.2)
      margin-top: -1px
  &__num
    text: #6e7e91 14px 25px 300 right
    margin: 6px 5px 0 0
    display: inline-block
    vertical-align: top
    width: 20px
  &__name
    display: inline-block
    vertical-align: top
    text: #b9cae6 12px 25px
    text-decoration: none
    margin-left: 12px
    margin-top: 6px
    &:hover
      text-decoration: underline
  &__img
    display: block
    margin-right: 30px
  &__profit
    position: relative
    padding: 6px 0 0 29px
    position: relative
    box: flex
    line-height: 25px
    &:before
      position: absolute
      top: 15px
      left: 5px
      display: block
      content: ''
      size: 0
      border-style: solid
      border-width: 0 6px 6px 6px
      border-color: transparent transparent #465978 transparent
      transition: 0.3s all ease
    &-percent
      text: 12px * 500
    &-time
      text: #6e7e91 12px
      margin-left: $indentSmall
    &--up
      .ul-row__profit-percent
        text: $colorGreen-2
    &--down
      &:before
        transform: rotate(180deg)
      .ul-row__profit-percent
        text: $colorRed-2
