.user-status
  padding: 33px 78px 24px
  &__avatar
    size: 74px
    border: 1px solid #556a8e
    position: relative
    border-radius: 100%
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    span
      size: 33px 39px
      background: url("$rootUrl/man.png") no-repeat center
      background-size: cover
      position: absolute
      display: block
      top: 50%
      left: 50%
      transform: translate(-50%,-50%)
  &__cont
    flex-basis: 0
    flex-grow: 1
    max-width: 100%
    padding: 7px 0 0 30px
  &__email
    text: #eff6ff 15px 1 500
    margin-bottom: 10px
  &__info
    text: #98a6be 11px 1
    margin-bottom: $indentSmall
    b
      text: #b8cbeb 500
