.user-steps
  box: horizontal center
  margin: 30px 0 21px
  &__item
    position: relative
  &__lv
    text: #e1ecff 12px 1
    &--active
      text: #f2d64f
  &__line
    size: 150px 2px
    background: #3f5375
    border-radius: 2px
    margin: 5px 8px 0
    position: relative
    &--active
      background: #f2d64f
  &__name
    text: #98a6be 11px 1 500
    display: inline-block
    vertical-align: top
    position: absolute
    bottom: 100%
    left: 50%
    margin-bottom: 12px
    transform: translate(-50%,0)
    white-space: nowrap
  &__link
    white-space: nowrap
    display: inline-block
    vertical-align: top
    text: #a7d6ff 11px 1 500
    position: absolute
    top: 100%
    left: 50%
    transform: translate(-50%,0)
    margin-top: 12px
    &:hover
      text-decoration: none
  .firework-rocket
    position: absolute
    top: -7px
    right: -3px
