.icon
  display: inline-block
  vertical-align: top
  fill: $colorWhite
  &--arrow-down
    size: 9px 5px
  &--arrow-top
    size: 9px 5px
  &--arrow-right
    size: 5px 9px
  &--arrow-left
    size: 5px 9px
  &--notifications
    size: 15px 18px
  &--message
    size: 22px 16px
  &--chart
    size: 20px 14px
  &--support
    size: 20px 21px
  &--strategy
    size: 20px 21px
  &--statistics
    size: 18px
  &--settings
    size: 18px 20px
  &--btc
    size: 32px
  &--bch
    size: 32px
  &--binance
    size: 32px
  &--litecoin
    size: 32px
  &--ethereum
    size: 18px 33px
  &--next-arrow
    size: 15px 10px
  &--prev-arrow
    size: 15px 10px
  &--remove
    size: 7px
  &--verified
    size: 16px 15px
  &--send
    size: 14px
  &--man-user
    size: 12px 16px
  &--checked
    size: 13px 10px
  &--fullscreen
    size: 14px 10px
  &--statistics-2
    size: 20px
  &--time
    size: 12px
  &--calendar
    size: 12px
  &--location
    size: 9px 12px
  &--global
    size: 16px
  &--telegram
    size: 26px
