.firework-rocket {
  position: relative;
}

.firework-rocket__svg {
  display: block;
  width: 57px;
  height: 15px;
}

.firework-rocket__flames {
  position: absolute;
  z-index: 1;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -155px;
  width: 150px;
  height: 11px;
}

.firework-rocket__flame-position {
  position: absolute;
  width: 150px;
  height: 2px;
  -webkit-transform-origin: top right;
          transform-origin: top right;
}
.firework-rocket__flame-position:nth-child(1) {
  top: 0;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}
.firework-rocket__flame-position:nth-child(2) {
  top: 4.5px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.firework-rocket__flame-position:nth-child(3) {
  bottom: 0;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}
.firework-rocket__flame-position:nth-child(4) {
  top: 1.75px;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}
.firework-rocket__flame-position:nth-child(5) {
  bottom: 1.75px;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.firework-rocket__flame {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  -webkit-transform-origin: right;
          transform-origin: right;
  border-radius: 50%;
}

.firework-rocket__flame--1,
.firework-rocket__flame--3 {
  background-color: #FEE140;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.firework-rocket__flame--2 {
  background-color: #FEE140;
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
}

.firework-rocket__flame--4,
.firework-rocket__flame--5 {
  background-color: #FFBC00;
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.animate-flame {
  -webkit-animation-name: animation-flame;
          animation-name: animation-flame;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  will-change: transform, opacity;
}

@-webkit-keyframes animation-flame {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 0;
  }
}

@keyframes animation-flame {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 0;
  }
}
.firework-rocket__stars {
  position: absolute;
  z-index: 1;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -150px;
  width: 100%;
  height: 140px;
}

.svg-firework-star__svg {
  width: 15px;
  height: 15px;
}

.firework-rocket__star {
  position: absolute;
}

.firework-rocket__star--1 {
  top: 0;
  left: 80px;
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
}

.firework-rocket__star--2 {
  top: 20px;
  left: 40px;
  -webkit-animation-delay: 50ms;
          animation-delay: 50ms;
}

.firework-rocket__star--3 {
  top: 40%;
  left: 20px;
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

.firework-rocket__star--4 {
  top: 60%;
  left: 40px;
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}

.firework-rocket__star--5 {
  bottom: 0;
  left: 70px;
  -webkit-animation-delay: 50ms;
          animation-delay: 50ms;
}

.firework-rocket__star--6 {
  bottom: 10px;
  left: 20px;
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
}

.firework-rocket__star--7 {
  top: 50%;
  left: 90px;
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.firework-rocket__star--8 {
  bottom: 50%;
  left: 60px;
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}

.animate-flame-star {
  -webkit-animation-name: animation-flame-star;
          animation-name: animation-flame-star;
  -webkit-animation-duration: 600ms;
          animation-duration: 600ms;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  will-change: transform, opacity;
}

@-webkit-keyframes animation-flame-star {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0);
            transform: rotate(0) scale(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-90deg) scale(1.2);
            transform: rotate(-90deg) scale(1.2);
  }
}

@keyframes animation-flame-star {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0);
            transform: rotate(0) scale(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-90deg) scale(1.2);
            transform: rotate(-90deg) scale(1.2);
  }
}
