table
  border-collapse: collapse
.table
  width: 100%
  margin-bottom: 1rem
  font-size: 13px
  th
    text: left
.table-l
  .mCSB_inside>.mCSB_container
    margin-right: 0
  .mCSB_scrollTools
    margin-right: 5px
  &__scroll
    height: 233px
    padding: 27px 0
    background: #1f2e48
  &__head
    box: wrap
  &__th
    text: #7486a5 11px 30px 400 left
    padding: * 4px
  &__td
    text: #bdcbe4 12px 20px
    background:  #273753
    margin-bottom: 5px
    padding: 10px 4px
    &:first-child
      border-radius: $borderRadiusSmall 0 0 $borderRadiusSmall
    &:last-child
      border-radius: 0 $borderRadiusSmall $borderRadiusSmall 0
    &.table-l__price,
    &.table-l__volume
      text: $colorBlue
    &.table-l__change
      color: $colorGreen
    &.table-l__name
      font-weight: 500
  &__num
    width: 25px
    text-align: center
    padding-left: 0
    padding-right: 0
    color: #7486a5
  &__name
    width: 145px
  &__market-cap
    text-align: right
    width: 110px
  &__price
    text-align: right
    width: 70px
  &__volume
    text-align: right
    width: 80px
  &__change
    text-align: center
    width: 80px
    font-weight: 500
  &__graph
    flex-basis: 0
    flex-grow: 1
    max-width: 100%
    text-align: right
  &__head-wrap
    background: #2c3d5b
    height: 30px
    padding: 0 60px
  &__body-wrap
    padding: 0 60px
    background: #1f2e48
  &__no-p
    margin: 0 -30px
    .mCSB_scrollTools
      margin-right: 6px
    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
      background: rgba($colorWhite,.2)
    .table-l__body-wrap
      padding: 0 30px
    .table-l__body-wrap,
    .table-l__scroll,
    .table-l__head-wrap
      background: transparent
    .table-l__scroll
      padding: 13px 0
      height: 380px
    .table-l__head-wrap
      border-bottom: 1px solid rgba($colorWhite,.05)
      padding: 0
      margin: 0 30px
.table-assets
  width: 100%
  margin-top: 15px
  th
    text: #7486a5 9px 1 left
    padding: 13px 2px
    &:first-child
      padding-left: 20px
    &:last-child
      padding-right: 20px
  td
    text: $colorWhite 9px 1
    padding: 6px 2px
    &:first-child
      padding-left: 20px
      text: left
      text: #95add6 500
    &:last-child
      padding-right: 20px
  &__down,
  &__up
    text: right
  &__down
    text: #ff96be!important
  &__up
    text: $colorGreen!important
  &__active-row,
  tr:hover
    td
      background: #354766
      &:first-child
        position: relative
        &:before
          size: 2px 100%
          content: ''
          display: block
          position: absolute
          top: 0
          left: 0
          background: $colorBlue
  &__price-up
    background: rgba(#75b788,0.4)!important
  &__price-down
    background: rgba(#b77598,0.4)!important
  &__price-down-2
    background: rgba(#b77598,0.8)!important
.table-info
  width: 100%
  &__scroll
    max-height: 400px
    .mCSB_inside>.mCSB_container
      margin-right: 0
  &__wrap
    margin: * -30px
    padding-top: 22px

  &__token
    position: relative
    text: #95add6 12px 1 500
    .icon
      opacity: 0
      visibility: hidden
      position: absolute
      top: 0
      right: 100%
      margin: 0 5px 0 0
      size: 11px
      transform: translate(-5px,0)
      transition: 0.3s all ease
  &__coin
    text: 12px uppercase
    .icon
      size: 14px
      margin-right: $indentMini
  th
    text: #7486a5 12px 14px 400 left
    padding: 0 30px 22px
  td
    padding: 8px 30px
    text: #6c81a6 12px 14px 400
    transition: 0.3s all ease
    &:first-child
      position: relative
      &:before
        position: absolute
        top: 50%
        left: 0
        size: 4px 0
        display: block
        content: ''
        background: rgba(#96ffbb,0.75)
        transition: 0.3s all ease
  &__down
    text: #ff96be!important
  &__up
    text: #96ffbb!important
  tr
    &:hover ,
    &.table-info__row-active
      td
        background: rgba(#546a8f,0.2)
        &:first-child
          &:before
            height: 100%
            top: 0
      .table-info__token
        .icon
          opacity: 1
          visibility: visible
          transform: translate(0,0)

  &__large
    td
      text: #d7e2f3
    td , th
      padding: 9px 8px
      &:first-child
        padding-left: 15px
  &__blue
    td
      &:first-child
        &:before
          background: $colorBlue
.table-token
  width: 240px
  margin: 30px auto 15px
  &__scroll
    height: calc(100vh - 332px)
    margin: 0 -20px
    .mCSB_inside>.mCSB_container
      margin-right: 0
    .mCSB_scrollTools
      right: 0
      .mCSB_dragger .mCSB_dragger_bar
        background: $colorMain
  &__inner
    padding: 0 20px
  &__th
    text: #7486a5 12px 1
    padding: 15px 0
  &__item
    background: #394c6b
    border-radius: $borderRadiusSmall
    padding: 0 12px
    height: 30px
    text: 14px 30px 500
    margin: 0 0 6px
    .icon
      size: 16px
      vertical-align: middle
  &__name
    text: #d0e0fc 12px * 500 uppercase
    display: inline-block
    vertical-align: middle
    margin-left: 8px
.table-api-key
  width: 100%
  &__wrap
    background: #24324d
    padding: 0 25px 30px
    margin: 0 -$indentLarge
  .icon
    size: 13px
    margin-right: $indentSmall
  th
    border-bottom: 1px solid rgba(#3e5375,0.2)
    text: #7486a5 12px 13px left
    padding: 13px 5px
  td
    padding: 13px 5px
    text: #7486a5 12px 13px left
  &__remove
    .icon
      size: 10px
      fill: #7486a5
      transition: 0.3s all ease
    &:hover
      .icon
        fill: $colorBlue
.table-info-d
  width: 100%
  margin-top: 4px
  &__scroll
    max-height: 150px
    .select-styler__small .jq-selectbox__dropdown
      bottom: auto!important
      top: 22px!important

  th
    text: #7486a5 12px 22px 400 left
    padding: 2px 4px
  td
    padding: 2px 4px
    text: #d7e2f3 12px 22px 400
    background: rgba(#1c2a43,0.4)
    border-bottom: 4px solid #21314e
    &:first-child
      border-radius: 4px 0 0 4px
    &:last-child
      border-radius: 0 4px 4px 0
