.tabs
  &__assets
    .tabs__list
      margin: 0 -3px 8px
      [class*="col-"]
        padding: * 3px
      &-item
        &--active
          .coin-price
            background: #243451
            box-shadow: 0 0 0 1px $colorBlue
    .coin-price
      width: 100%
  &__list-item
    cursor: pointer
    &--active
      cursor: default
  &__item
    display: none
    &--active
      display: block
  &__list-btn
    box: horizontal center
    padding-top: 18px
    padding-left: 30px
    padding-right: 30px
    .tabs__list-item
      cursor: pointer
      text: #9aabc9 13px 1 400 center
      cursor: pointer
      border: 0
      outline: 0
      display: inline-block
      vertical-align: top
      padding: 10px 15px
      transition: 0.3s all ease
      text-decoration: none
      background: $colorBtn
      position: relative
      overflow: hidden
      z-index: 1
      &:first-child
        border-radius: $borderRadiusSmall 0 0 $borderRadiusSmall
      &:last-child
        border-radius: 0 $borderRadiusSmall $borderRadiusSmall 0
      &--active
        background: #1f2e48
        text: $colorWhite
  &__list-line
    box: wrap
    .tabs__list-item
      text: #97a7c0 14px 1 500
      transition: 0.3s all ease
      position: relative
      padding: 12px 15px
      margin-right: 4px
      cursor: pointer
      &:before
        position: absolute
        left: 50%
        top: 100%
        size: 0 2px
        display: block
        content: ''
        background: $colorBlue
        transition: 0.3s all ease
      &:hover ,
      &--active
        text: #eff6ff
        &:before
          width: 100%
          left: 0
