.chat-list 
  .chat-list__scroll.mCustomScrollbar
    .chat-list__inner
      +chatListItem('img/pic-2.png','Chris Williams','3 min ago','85%','73.34 BCH','btc','up')
      +chatListItem('img/pic-2.png','Chris Williams','3 min ago','85%','73.34 BCH','binance','down')
      +chatListItem('img/pic-2.png','Chris Williams','3 min ago','85%','73.34 BCH','litecoin','up')
      +chatListItem('img/pic-2.png','Chris Williams','3 min ago','85%','73.34 BCH','binance','down')
      +chatListItem('img/pic-2.png','Chris Williams','3 min ago','85%','73.34 BCH','bch','down')
      +chatListItem('img/pic-2.png','Chris Williams','3 min ago','85%','73.34 BCH','btc','up')
      +chatListItem('img/pic-2.png','Chris Williams','3 min ago','85%','73.34 BCH','binance','down')
      +chatListItem('img/pic-2.png','Chris Williams','3 min ago','85%','73.34 BCH','litecoin','up')
      +chatListItem('img/pic-2.png','Chris Williams','3 min ago','85%','73.34 BCH','binance','down')
      +chatListItem('img/pic-2.png','Chris Williams','3 min ago','85%','73.34 BCH','bch','down')

    
