.chat__tags
  .chat__tags-item
    .btn-r.btn__remove-wrap Русскоязычная
      a(href="").btn__remove
        svg.icon.icon--remove
          use(xlink:href="img/svg-sprite.svg#remove")
  .chat__tags-item
    .btn-r.btn__remove-wrap Moneylover
      a(href="").btn__remove
        svg.icon.icon--remove
          use(xlink:href="img/svg-sprite.svg#remove")
  .chat__tags-item
    .btn-r.btn__remove-wrap.btn-r--active 
      svg.icon.icon--verified
        use(xlink:href="img/svg-sprite.svg#verified")
      | Support
      a(href="").btn__remove
        svg.icon.icon--remove
          use(xlink:href="img/svg-sprite.svg#remove")
.chat__scroll.mCustomScrollbar
  .chat__scroll-inner
    .chat__item
      .chat__item-img
        .chat__item-img--cont G
      .chat__item-cont
        .chat__item-login griffin1989
        | 
        | Ruby когда новые режимы?
    .chat__item
      .chat__item-img
        .chat__item-img--cont(style="background-image:url(img/pic-1.jpg)")
      .chat__item-cont
        .chat__item-login.chat__item-login--blue moder_3
        |
        | Ты думаешь ты самый умный, когда пополняешь на свои другие же аккаунты конечно тебя не засчитает как реферал
    .chat__item
      .chat__item-img.chat__item-img--violet
        .chat__item-img--cont V
      .chat__item-cont
        .chat__item-login velcours
        | 
        | Что?
    .chat__item
      .chat__item-img
        .chat__item-img--cont G
      .chat__item-cont
        .chat__item-login griffin1989
        | 
        | Ruby когда новые режимы?
    .chat__item
      .chat__item-img
        .chat__item-img--cont(style="background-image:url(img/pic-1.jpg)")
      .chat__item-cont
        .chat__item-login.chat__item-login--blue moder_3
        |
        | Ты думаешь ты самый умный, когда пополняешь на свои другие же аккаунты конечно тебя не засчитает как реферал
    .chat__item
      .chat__item-img.chat__item-img--violet
        .chat__item-img--cont V
      .chat__item-cont
        .chat__item-login velcours
        | 
        | Что?
    .chat__item
      .chat__item-img
        .chat__item-img--cont(style="background-image:url(img/pic-1.jpg)")
      .chat__item-cont
        .chat__item-login.chat__item-login--blue moder_3
        |
        | Ты думаешь ты самый умный, когда пополняешь на свои другие же аккаунты конечно тебя не засчитает как реферал
    .chat__item
      .chat__item-img.chat__item-img--violet
        .chat__item-img--cont V
      .chat__item-cont
        .chat__item-login velcours
        | 
        | Что?
    .chat__item
      .chat__item-img
        .chat__item-img--cont G
      .chat__item-cont
        .chat__item-login griffin1989
        | 
        | Ruby когда новые режимы?
    .chat__item
      .chat__item-img
        .chat__item-img--cont(style="background-image:url(img/pic-1.jpg)")
      .chat__item-cont
        .chat__item-login.chat__item-login--blue moder_3
        |
        | Ты думаешь ты самый умный, когда пополняешь на свои другие же аккаунты конечно тебя не засчитает как реферал
    .chat__item
      .chat__item-img.chat__item-img--violet
        .chat__item-img--cont V
      .chat__item-cont
        .chat__item-login velcours
        | 
        | Что?
    .chat__item
      .chat__item-img
        .chat__item-img--cont G
      .chat__item-cont
        .chat__item-login griffin1989
        | 
        | Ruby когда новые режимы?
    .chat__item
      .chat__item-img
        .chat__item-img--cont(style="background-image:url(img/pic-1.jpg)")
      .chat__item-cont
        .chat__item-login.chat__item-login--blue moder_3
        |
        | Ты думаешь ты самый умный, когда пополняешь на свои другие же аккаунты конечно тебя не засчитает как реферал
    .chat__item
      .chat__item-img.chat__item-img--violet
        .chat__item-img--cont V
      .chat__item-cont
        .chat__item-login velcours
        | 
        | Что?
    .chat__item
      .chat__item-img
        .chat__item-img--cont(style="background-image:url(img/pic-1.jpg)")
      .chat__item-cont
        .chat__item-login.chat__item-login--blue moder_3
        |
        | Ты думаешь ты самый умный, когда пополняешь на свои другие же аккаунты конечно тебя не засчитает как реферал
    .chat__item
      .chat__item-img.chat__item-img--violet
        .chat__item-img--cont V
      .chat__item-cont
        .chat__item-login velcours
        | 
        | Что?
.chat__message
  input(type="text" placeholder="Введите сообщение").chat__message-input
  button.chat__message-submit
    svg(class="icon icon--send")
      use(xlink:href="img/svg-sprite.svg#send")
