.coin-slider-wrap
  .coin-slider
    .coin-slider__item(data-tab="#coin-slider-tab-1")
      .coin-slider__inner
        svg(class="icon icon--btc")
          use(xlink:href="img/svg-sprite.svg#btc")
    .coin-slider__item(data-tab="#coin-slider-tab-2")
      .coin-slider__inner
        svg(class="icon icon--bch")
          use(xlink:href="img/svg-sprite.svg#bch")
    .coin-slider__item(data-tab="#coin-slider-tab-3")
      .coin-slider__inner
        svg(class="icon icon--binance")
          use(xlink:href="img/svg-sprite.svg#binance")
    .coin-slider__item(data-tab="#coin-slider-tab-4")
      .coin-slider__inner
        svg(class="icon icon--litecoin")
          use(xlink:href="img/svg-sprite.svg#litecoin")
    .coin-slider__item(data-tab="#coin-slider-tab-5")
      .coin-slider__inner
        svg(class="icon icon--btc")
          use(xlink:href="img/svg-sprite.svg#btc")
    .coin-slider__item(data-tab="#coin-slider-tab-6")
      .coin-slider__inner
        svg(class="icon icon--litecoin")
          use(xlink:href="img/svg-sprite.svg#litecoin")
  .coin-slider__select
    select.select-icon
      option(data-icon="binance") Binance
      option(data-icon="litecoin") Litecoin
      option(data-icon="binance") Binance 3
  #coin-slider-tab-1.coin-slider__tab
    .coin-slider__name Ethereum
    .coin-slider__percent.coin-slider__percent--down -0.22%
    .coin-slider__val 0.00048 BTC
    .coin-slider__price $141.55
  #coin-slider-tab-2.coin-slider__tab
    .coin-slider__name Ethereum
    .coin-slider__percent.coin-slider__percent--up 0.22%
    .coin-slider__val 1.00048 BTC
    .coin-slider__price $1411.55
  #coin-slider-tab-3.coin-slider__tab
    .coin-slider__name Ethereum
    .coin-slider__percent.coin-slider__percent--down -0.22%
    .coin-slider__val 0.00048 BTC
    .coin-slider__price $1411.55
  #coin-slider-tab-4.coin-slider__tab
    .coin-slider__name Ethereum
    .coin-slider__percent.coin-slider__percent--up 10.22%
    .coin-slider__val 0.00048 BTC
    .coin-slider__price $141.55
  #coin-slider-tab-5.coin-slider__tab
    .coin-slider__name Ethereum
    .coin-slider__percent.coin-slider__percent--down -0.22%
    .coin-slider__val 0.00048 BTC
    .coin-slider__price $141.55
  #coin-slider-tab-6.coin-slider__tab
    .coin-slider__name Ethereum
    .coin-slider__percent.coin-slider__percent--down -0.22%
    .coin-slider__val 0.00048 BTC
    .coin-slider__price $141.55
