header#header.header 
  .flex-wrap
    .col-auto.ml-auto
      a(href="chat.html").header__message
        svg.icon.icon--message
          use(xlink:href="img/svg-sprite.svg#message")
      .header__notifications
        .header__notifications--badge
        svg.icon.icon--notifications
          use(xlink:href="img/svg-sprite.svg#notifications")
      .header__user
        .header__user-inner
          .header__user--name Kirill Moneylover
          .header__user--date Member since 2019
          .header__user--icon
            svg.icon.icon--arrow-down
              use(xlink:href="img/svg-sprite.svg#arrow-down")
        .header__user-dropdown 
          .header__user-dropdown--inner
            | Dropdown content
