header#header.header 
  .flex-wrap
    .col-auto
      h3.header__h3 Welcome 
      h1.header__h1 Thanks for being with us.
    .col-auto.ml-auto
      a(href="chat.html").header__message
        svg.icon.icon--message
          use(xlink:href="img/svg-sprite.svg#message")
      .header__notifications
        .header__notifications--badge
        svg.icon.icon--notifications
          use(xlink:href="img/svg-sprite.svg#notifications")
      .header__login
        a(href="").header__login-btn Log in with Telegram
