.portfolio-history
  .portfolio-history__item
    .col-auto
      .flex-wrap
        .portfolio-history__lable 15 дней назад
        .portfolio-history__cont
          .coin-price
            .coin-price__num 
              span 0.92
              | 1500
            .coin-price__name
              svg.coin-price__icon.icon.icon--btc
                use(xlink:href="img/svg-sprite.svg#btc")
              span BTC
          .portfolio-history__next-arrow
            svg.coin-price__icon.icon.icon--next-arrow
              use(xlink:href="img/svg-sprite.svg#next-arrow")
          .coin-price.coin-price--active
            .coin-price__num 
              span 0.92
              | 1500
            .coin-price__name
              svg.coin-price__icon.icon.icon--bch
                use(xlink:href="img/svg-sprite.svg#bch")
              span BCH
          .coin-price
            .coin-price__num 
              span 0.92
              | 1500
            .coin-price__name
              svg.coin-price__icon.icon.icon--btc
                use(xlink:href="img/svg-sprite.svg#btc")
              span BTC
    .col-auto.ml-auto
      a(href="#").btn.btn__yellow.btn__large.fw-500 Откупить портфель на BTC 0.523
  .portfolio-history__item
    .col-auto
      .flex-wrap
        .portfolio-history__lable 15 дней назад
        .portfolio-history__cont
          .coin-price
            .coin-price__num 
              span 0.92
              | 1500
            .coin-price__name
              svg.coin-price__icon.icon.icon--btc
                use(xlink:href="img/svg-sprite.svg#btc")
              span BTC
          .portfolio-history__prev-arrow
            svg.coin-price__icon.icon.icon--prev-arrow
              use(xlink:href="img/svg-sprite.svg#prev-arrow")
          .coin-price.coin-price--active
            .coin-price__num 
              span 0.92
              | 1500
            .coin-price__name
              svg.coin-price__icon.icon.icon--bch
                use(xlink:href="img/svg-sprite.svg#bch")
              span BCH
          .coin-price
            .coin-price__num 
              span 0.92
              | 1500
            .coin-price__name
              svg.coin-price__icon.icon.icon--btc
                use(xlink:href="img/svg-sprite.svg#btc")
              span BTC
    .col-auto.ml-auto
      a(href="#").btn.btn__black.btn__large.fw-500.opacity-0_2 Откупить портфель на BTC 0.523
