.table-info__wrap
  .table-info__scroll.mCustomScrollbar
    table.table-info
      tr
        th Date
        th Token
        th.text-right Old Price
        th.text-right New Price
        th.text-right Percent Change
        
      tr.table-info__row-active
        td 5 min ago
        td
          .table-info__token
            svg(class="icon icon--btc")
              use(xlink:href="img/svg-sprite.svg#btc")
            | BTC
        td.text-right.table-info__down 0.0443534 BTC
        td.text-right.table-info__up 14.2623232 BTC
        td.text-right.table-info__up 14.26%
      tr
        td 5 min ago
        td
          .table-info__token
            svg(class="icon icon--btc")
              use(xlink:href="img/svg-sprite.svg#btc")
            | BTC
        td.text-right.table-info__down 0.0443534 BTC
        td.text-right.table-info__up 14.2623232 BTC
        td.text-right.table-info__down 8%
      tr
        td 2 min ago
        td
          .table-info__token
            svg(class="icon icon--btc")
              use(xlink:href="img/svg-sprite.svg#btc")
            | BTC
        td.text-right.table-info__down 0.0443534 BTC
        td.text-right.table-info__up 14.2623232 BTC
        td.text-right.table-info__down 11%
      tr
        td 1 min ago
        td
          .table-info__token
            svg(class="icon icon--btc")
              use(xlink:href="img/svg-sprite.svg#btc")
            | BTC
        td.text-right.table-info__down 0.0443534 BTC
        td.text-right.table-info__up 14.2623232 BTC
        td.text-right.table-info__down 8%
      tr
        td 4 min ago
        td
          .table-info__token
            svg(class="icon icon--btc")
              use(xlink:href="img/svg-sprite.svg#btc")
            | BTC
        td.text-right.table-info__down 0.0443534 BTC
        td.text-right.table-info__up 14.2623232 BTC
        td.text-right.table-info__down 11%
      tr
        td 3 min ago
        td
          .table-info__token
            svg(class="icon icon--btc")
              use(xlink:href="img/svg-sprite.svg#btc")
            | BTC
        td.text-right.table-info__down 0.0443534 BTC
        td.text-right.table-info__up 14.2623232 BTC
        td.text-right.table-info__down 8%
      tr
        td 4 min ago
        td
          .table-info__token
            svg(class="icon icon--btc")
              use(xlink:href="img/svg-sprite.svg#btc")
            | BTC
        td.text-right.table-info__down 0.0443534 BTC
        td.text-right.table-info__up 14.2623232 BTC
        td.text-right.table-info__down 11%
      tr
        td 5 min ago
        td
          .table-info__token
            svg(class="icon icon--btc")
              use(xlink:href="img/svg-sprite.svg#btc")
            | BTC
        td.text-right.table-info__down 0.0443534 BTC
        td.text-right.table-info__up 14.2623232 BTC
        td.text-right.table-info__down 8%
      tr
        td 6 min ago
        td
          .table-info__token
            svg(class="icon icon--btc")
              use(xlink:href="img/svg-sprite.svg#btc")
            | BTC
        td.text-right.table-info__down 0.0443534 BTC
        td.text-right.table-info__up 14.2623232 BTC
        td.text-right.table-info__down 11%
      tr
        td 7 min ago
        td
          .table-info__token
            svg(class="icon icon--btc")
              use(xlink:href="img/svg-sprite.svg#btc")
            | BTC
        td.text-right.table-info__down 0.0443534 BTC
        td.text-right.table-info__up 14.2623232 BTC
        td.text-right.table-info__down
      tr
        td 5 min ago
        td
          .table-info__token
            svg(class="icon icon--btc")
              use(xlink:href="img/svg-sprite.svg#btc")
            | BTC
        td.text-right.table-info__down 0.0443534 BTC
        td.text-right.table-info__up 14.2623232 BTC
        td.text-right.table-info__down 8%
      tr
        td 2 min ago
        td
          .table-info__token
            svg(class="icon icon--btc")
              use(xlink:href="img/svg-sprite.svg#btc")
            | BTC
        td.text-right.table-info__down 0.0443534 BTC
        td.text-right.table-info__up 14.2623232 BTC
        td.text-right.table-info__down 11%
      tr
        td 1 min ago
        td
          .table-info__token
            svg(class="icon icon--btc")
              use(xlink:href="img/svg-sprite.svg#btc")
            | BTC
        td.text-right.table-info__down 0.0443534 BTC
        td.text-right.table-info__up 14.2623232 BTC
        td.text-right.table-info__down 8%
      tr
        td 4 min ago
        td
          .table-info__token
            svg(class="icon icon--btc")
              use(xlink:href="img/svg-sprite.svg#btc")
            | BTC
        td.text-right.table-info__down 0.0443534 BTC
        td.text-right.table-info__up 14.2623232 BTC
        td.text-right.table-info__down 11%
      tr
        td 3 min ago
        td
          .table-info__token
            svg(class="icon icon--btc")
              use(xlink:href="img/svg-sprite.svg#btc")
            | BTC
        td.text-right.table-info__down 0.0443534 BTC
        td.text-right.table-info__up 14.2623232 BTC
        td.text-right.table-info__down 8%
      tr
        td 4 min ago
        td
          .table-info__token
            svg(class="icon icon--btc")
              use(xlink:href="img/svg-sprite.svg#btc")
            | BTC
        td.text-right.table-info__down 0.0443534 BTC
        td.text-right.table-info__up 14.2623232 BTC
        td.text-right.table-info__down 11%
      tr
        td 5 min ago
        td
          .table-info__token
            svg(class="icon icon--btc")
              use(xlink:href="img/svg-sprite.svg#btc")
            | BTC
        td.text-right.table-info__down 0.0443534 BTC
        td.text-right.table-info__up 14.2623232 BTC
        td.text-right.table-info__down 8%
      tr
        td 6 min ago
        td
          .table-info__token
            svg(class="icon icon--btc")
              use(xlink:href="img/svg-sprite.svg#btc")
            | BTC
        td.text-right.table-info__down 0.0443534 BTC
        td.text-right.table-info__up 14.2623232 BTC
        td.text-right.table-info__down 11%
      tr
        td 7 min ago
        td
          .table-info__token
            svg(class="icon icon--btc")
              use(xlink:href="img/svg-sprite.svg#btc")
            | BTC
        td.text-right.table-info__down 0.0443534 BTC
        td.text-right.table-info__up 14.2623232 BTC
        td.text-right.table-info__down
