table.table-assets
  tr
    th Market
    th.text-right 1D
    th Vol
    th.text-right 1D
    th Vol
    th.text-right 1D
    th Vol
    th.text-right 1D
    th Vol
    th.text-right 1D
    th Vol
  tr.table-assets__active-row
    td.table-assets__name BTC
    td.table-assets__down.table-assets__price-down 14.26
    td.table-assets__price-down 356M
    td.table-assets__down.table-assets__price-down 14.26
    td.table-assets__price-down 356M
    td.table-assets__up.table-assets__price-up 14.26
    td.table-assets__price-up 356M
    td.table-assets__up 14.26
    td 356M
    td.table-assets__down 14.26
    td 356M
  tr
    td.table-assets__name BNB
    td.table-assets__down.table-assets__price-down-2 9.55
    td.table-assets__price-down-2 71.5M
    td.table-assets__down.table-assets__price-down-2 9.55
    td.table-assets__price-down-2 71.5M
    td.table-assets__down.table-assets__price-down 9.55
    td.table-assets__price-down 71.5M
    td.table-assets__down.table-assets__price-down 9.55
    td.table-assets__price-down 71.5M
    td.table-assets__down 9.55
    td 71.5M
  tr
    td.table-assets__name ETH
    td.table-assets__down.table-assets__price-down 6.29
    td.table-assets__price-down 71.5M
    td.table-assets__down 6.29
    td 82.9M
    td.table-assets__down 6.29
    td 82.9M
    td.table-assets__down 6.29
    td 82.9M
    td.table-assets__down 6.29
    td 82.9M
  tr
    td.table-assets__name XRP
    td.table-assets__down.table-assets__price-down-2 6.26
    td.table-assets__price-down-2 82.9M
    td.table-assets__up.table-assets__price-down 6.26
    td.table-assets__price-down 45.5M
    td.table-assets__down 6.26
    td 45.5M
    td.table-assets__down 6.26
    td 45.5M
    td.table-assets__down 6.26
    td 45.5M
  tr
    td.table-assets__name EOS
    td.table-assets__down.table-assets__price-down 8.67
    td.table-assets__price-down 45.5M
    td.table-assets__up 3.98
    td 55.2M
    td.table-assets__down 8.67
    td 55.2M
    td.table-assets__down 8.67
    td 55.2M
    td.table-assets__down 8.67
    td 55.2M
  tr
    td.table-assets__name TRX
    td.table-assets__down 9.77
    td 55.2M
    td.table-assets__down 8.67
    td 27.2M
    td.table-assets__down 9.77
    td 27.2M
    td.table-assets__down 9.77
    td 27.2M
    td.table-assets__down 9.77
    td 27.2M
  tr
    td.table-assets__name ADA
    td.table-assets__down 12.28
    td 26.8M
    td.table-assets__down 9.77
    td 29.5M
    td.table-assets__up 12.28
    td 29.5M
    td.table-assets__up 12.28
    td 29.5M
    td.table-assets__down 12.28
    td 29.5M
  tr
    td.table-assets__name LTC
    td.table-assets__up 10.88
    td 27.2M
    td.table-assets__down 12.28
    td 15.1M 
    td.table-assets__down 10.88
    td 15.1M
    td.table-assets__down 10.88
    td 15.1M
    td.table-assets__down 10.88
    td 15.1M
  tr
    td.table-assets__name BTT
    td.table-assets__down 3.98
    td 29.5M
    td.table-assets__down 10.88
    td 15.1M 
    td.table-assets__down 3.98
    td 15.1M 
    td.table-assets__down 3.98 
    td 15.1M 
    td.table-assets__down 3.98
    td 15.1M
