table.table-info.table-info__large.table-info__blue
  tr
    th Date
    th Pair
    th Type
    th Side
    th.text-center Price
    th Amount
    th Filled %
    th Total
    th.text-center Trigger Co...
    th Cancel All
  tr.table-info__row-active
    td 03-18 15:54
    td
      .table-info__coin
        svg(class="icon icon--btc")
          use(xlink:href="img/svg-sprite.svg#btc")
        | WAVES/US
    td Limit
    td.text-red Sell
    td.text-center 2.90000
    td 2,011.18
    td 0.00%
    td 5,823.4220 USDT
    td -
    td Cancel
  tr
    td 03-18 15:54
    td
      .table-info__coin
        svg(class="icon icon--btc")
          use(xlink:href="img/svg-sprite.svg#btc")
        | WAVES/US
    td Limit
    td.text-red Sell
    td.text-center 2.90000
    td 2,011.18
    td 0.00%
    td 5,823.4220 USDT
    td -
    td Cancel
  tr
    td 03-18 15:54
    td
      .table-info__coin
        svg(class="icon icon--btc")
          use(xlink:href="img/svg-sprite.svg#btc")
        | WAVES/US
    td Limit
    td.text-red Sell
    td.text-center 2.90000
    td 2,011.18
    td 0.00%
    td 5,823.4220 USDT
    td -
    td Cancel
  tr
    td 03-18 15:54
    td
      .table-info__coin
        svg(class="icon icon--btc")
          use(xlink:href="img/svg-sprite.svg#btc")
        | WAVES/US
    td Limit
    td.text-red Sell
    td.text-center 2.90000
    td 2,011.18
    td 0.00%
    td 5,823.4220 USDT
    td -
    td Cancel
