-  
  var menu = [
    {
      name: 'History',
      icon: 'chart',
      href: '#',
      active: 'menu__link--active'
    },
    {
      name: 'Trading',
      icon: 'statistics',
      href: '#',
      active: ''
    },
    {
      name: 'Tasks',
      icon: 'settings',
      href: '#',
      active: ''
    },
    {
      name: 'Strategies',
      icon: 'strategy',
      href: '#',
      active: ''
    },
    {
      name: 'Support',
      icon: 'support',
      href: '#',
      active: ''
    }
  ]
  
  var table_l = [
    {
      num: '1',
      name: 'Bitcoin',
      market_cap: '$88.602,843,944',
      price: '$5,025.66',
      volume: '$21.975.858',
      change: '1.52%',
      graph: '',
      style: ''
    },
    {
      num: '2',
      name: 'Bitcoin',
      market_cap: '$88.602,843,944',
      price: '$5,025.66',
      volume: '$21.975.858',
      change: '1.52%',
      graph: '',
      style: ''
    },
    {
      num: '3',
      name: 'Bitcoin',
      market_cap: '$88.602,843,944',
      price: '$5,025.66',
      volume: '$21.975.858',
      change: '1.52%',
      graph: '',
      style: ''
    },
    {
      num: '4',
      name: 'Bitcoin',
      market_cap: '$88.602,843,944',
      price: '$5,025.66',
      volume: '$21.975.858',
      change: '1.52%',
      graph: '',
      style: ''
    },
    {
      num: '5',
      name: 'Bitcoin',
      market_cap: '$88.602,843,944',
      price: '$5,025.66',
      volume: '$21.975.858',
      change: '1.52%',
      graph: '',
      style: ''
    },{
      num: '6',
      name: 'Bitcoin',
      market_cap: '$88.602,843,944',
      price: '$5,025.66',
      volume: '$21.975.858',
      change: '1.52%',
      graph: '',
      style: ''
    },
    {
      num: '7',
      name: 'Bitcoin',
      market_cap: '$88.602,843,944',
      price: '$5,025.66',
      volume: '$21.975.858',
      change: '1.52%',
      graph: '',
      style: ''
    },
    {
      num: '8',
      name: 'Bitcoin',
      market_cap: '$88.602,843,944',
      price: '$5,025.66',
      volume: '$21.975.858',
      change: '1.52%',
      graph: '',
      style: ''
    },
    {
      num: '9',
      name: 'Bitcoin',
      market_cap: '$88.602,843,944',
      price: '$5,025.66',
      volume: '$21.975.858',
      change: '1.52%',
      graph: '',
      style: ''
    },
    {
      num: '10',
      name: 'Bitcoin',
      market_cap: '$88.602,843,944',
      price: '$5,025.66',
      volume: '$21.975.858',
      change: '1.52%',
      graph: '',
      style: ''
    },
    {
      num: '11',
      name: 'Bitcoin',
      market_cap: '$88.602,843,944',
      price: '$5,025.66',
      volume: '$21.975.858',
      change: '1.52%',
      graph: '',
      style: ''
    }
  ]

  
  
  
  
  
