extends layouts/layout.pug

block title
  title Main page

block content
  .coin-list
    .coin-list__total Все биржы
      span 3
    .coin-list__item
      svg(class="icon icon--litecoin")
        use(xlink:href="img/svg-sprite.svg#litecoin")
      .coin-list__item-name Binance
      .coin-list__item-text Volumetric_treo
    .coin-list__item
      svg(class="icon icon--btc")
        use(xlink:href="img/svg-sprite.svg#btc")
      .coin-list__item-name Binance
      .coin-list__item-text Test_account
    .coin-list__item
      svg(class="icon icon--bch")
        use(xlink:href="img/svg-sprite.svg#bch")
      .coin-list__item-name Binance
      .coin-list__item-text Volumetric_treo
  .accordion
    .accordion__item
      .accordion__header
        .accordion__header-arrow
        svg(class="icon icon--litecoin")
          use(xlink:href="img/svg-sprite.svg#litecoin")
        .accordion__header-name Binance
      .accordion__dropdown
        include blocks/table-info-accordion.pug
    .accordion__item
      .accordion__header
        .accordion__header-arrow
        svg(class="icon icon--btc")
          use(xlink:href="img/svg-sprite.svg#btc")
        .accordion__header-name Binance
      .accordion__dropdown
        include blocks/table-info-accordion.pug
    .accordion__item
      .accordion__header
        .accordion__header-arrow
        svg(class="icon icon--bch")
          use(xlink:href="img/svg-sprite.svg#bch")
        .accordion__header-name Binance
      .accordion__dropdown
        include blocks/table-info-accordion.pug
