extends layouts/layout.pug

block title
  title Active  Stuffs

block content
  .flex-p-wrap.mt-30 
    .col-2-3
      .inner-block.p-inner
        .category-title 
          .category-title__icon
            svg(class="icon icon--chart")
              use(xlink:href="img/svg-sprite.svg#chart")
          | Active  
          span Stuffs
        .table-info__wrap
          .table-info__scroll.active-stuffs__table-s.mCustomScrollbar
            table.table-info
              tr
                th Date
                th Token
                th.text-right Old Price
                th.text-right New Price
                th.text-right Percent Change
                
              tr.table-info__row-active
                td 5 min ago
                td
                  .table-info__token
                    svg(class="icon icon--btc")
                      use(xlink:href="img/svg-sprite.svg#btc")
                    | BTC
                td.text-right.table-info__down 0.0443534 BTC
                td.text-right.table-info__up 14.2623232 BTC
                td.text-right.table-info__up 14.26%
              tr
                td 5 min ago
                td
                  .table-info__token
                    svg(class="icon icon--btc")
                      use(xlink:href="img/svg-sprite.svg#btc")
                    | BTC
                td.text-right.table-info__down 0.0443534 BTC
                td.text-right.table-info__up 14.2623232 BTC
                td.text-right.table-info__down 8%
              tr
                td 2 min ago
                td
                  .table-info__token
                    svg(class="icon icon--btc")
                      use(xlink:href="img/svg-sprite.svg#btc")
                    | BTC
                td.text-right.table-info__down 0.0443534 BTC
                td.text-right.table-info__up 14.2623232 BTC
                td.text-right.table-info__down 11%
              tr
                td 1 min ago
                td
                  .table-info__token
                    svg(class="icon icon--btc")
                      use(xlink:href="img/svg-sprite.svg#btc")
                    | BTC
                td.text-right.table-info__down 0.0443534 BTC
                td.text-right.table-info__up 14.2623232 BTC
                td.text-right.table-info__down 8%
              tr
                td 4 min ago
                td
                  .table-info__token
                    svg(class="icon icon--btc")
                      use(xlink:href="img/svg-sprite.svg#btc")
                    | BTC
                td.text-right.table-info__down 0.0443534 BTC
                td.text-right.table-info__up 14.2623232 BTC
                td.text-right.table-info__down 11%
              tr
                td 3 min ago
                td
                  .table-info__token
                    svg(class="icon icon--btc")
                      use(xlink:href="img/svg-sprite.svg#btc")
                    | BTC
                td.text-right.table-info__down 0.0443534 BTC
                td.text-right.table-info__up 14.2623232 BTC
                td.text-right.table-info__down 8%
              tr
                td 4 min ago
                td
                  .table-info__token
                    svg(class="icon icon--btc")
                      use(xlink:href="img/svg-sprite.svg#btc")
                    | BTC
                td.text-right.table-info__down 0.0443534 BTC
                td.text-right.table-info__up 14.2623232 BTC
                td.text-right.table-info__down 11%
              tr
                td 5 min ago
                td
                  .table-info__token
                    svg(class="icon icon--btc")
                      use(xlink:href="img/svg-sprite.svg#btc")
                    | BTC
                td.text-right.table-info__down 0.0443534 BTC
                td.text-right.table-info__up 14.2623232 BTC
                td.text-right.table-info__down 8%
              tr
                td 6 min ago
                td
                  .table-info__token
                    svg(class="icon icon--btc")
                      use(xlink:href="img/svg-sprite.svg#btc")
                    | BTC
                td.text-right.table-info__down 0.0443534 BTC
                td.text-right.table-info__up 14.2623232 BTC
                td.text-right.table-info__down 11%
              tr
                td 7 min ago
                td
                  .table-info__token
                    svg(class="icon icon--btc")
                      use(xlink:href="img/svg-sprite.svg#btc")
                    | BTC
                td.text-right.table-info__down 0.0443534 BTC
                td.text-right.table-info__up 14.2623232 BTC
                td.text-right.table-info__down
              tr
                td 5 min ago
                td
                  .table-info__token
                    svg(class="icon icon--btc")
                      use(xlink:href="img/svg-sprite.svg#btc")
                    | BTC
                td.text-right.table-info__down 0.0443534 BTC
                td.text-right.table-info__up 14.2623232 BTC
                td.text-right.table-info__down 8%
              tr
                td 2 min ago
                td
                  .table-info__token
                    svg(class="icon icon--btc")
                      use(xlink:href="img/svg-sprite.svg#btc")
                    | BTC
                td.text-right.table-info__down 0.0443534 BTC
                td.text-right.table-info__up 14.2623232 BTC
                td.text-right.table-info__down 11%
              tr
                td 1 min ago
                td
                  .table-info__token
                    svg(class="icon icon--btc")
                      use(xlink:href="img/svg-sprite.svg#btc")
                    | BTC
                td.text-right.table-info__down 0.0443534 BTC
                td.text-right.table-info__up 14.2623232 BTC
                td.text-right.table-info__down 8%
              tr
                td 4 min ago
                td
                  .table-info__token
                    svg(class="icon icon--btc")
                      use(xlink:href="img/svg-sprite.svg#btc")
                    | BTC
                td.text-right.table-info__down 0.0443534 BTC
                td.text-right.table-info__up 14.2623232 BTC
                td.text-right.table-info__down 11%
              tr
                td 3 min ago
                td
                  .table-info__token
                    svg(class="icon icon--btc")
                      use(xlink:href="img/svg-sprite.svg#btc")
                    | BTC
                td.text-right.table-info__down 0.0443534 BTC
                td.text-right.table-info__up 14.2623232 BTC
                td.text-right.table-info__down 8%
              tr
                td 4 min ago
                td
                  .table-info__token
                    svg(class="icon icon--btc")
                      use(xlink:href="img/svg-sprite.svg#btc")
                    | BTC
                td.text-right.table-info__down 0.0443534 BTC
                td.text-right.table-info__up 14.2623232 BTC
                td.text-right.table-info__down 11%
              tr
                td 5 min ago
                td
                  .table-info__token
                    svg(class="icon icon--btc")
                      use(xlink:href="img/svg-sprite.svg#btc")
                    | BTC
                td.text-right.table-info__down 0.0443534 BTC
                td.text-right.table-info__up 14.2623232 BTC
                td.text-right.table-info__down 8%
              tr
                td 6 min ago
                td
                  .table-info__token
                    svg(class="icon icon--btc")
                      use(xlink:href="img/svg-sprite.svg#btc")
                    | BTC
                td.text-right.table-info__down 0.0443534 BTC
                td.text-right.table-info__up 14.2623232 BTC
                td.text-right.table-info__down 11%
              tr
                td 7 min ago
                td
                  .table-info__token
                    svg(class="icon icon--btc")
                      use(xlink:href="img/svg-sprite.svg#btc")
                    | BTC
                td.text-right.table-info__down 0.0443534 BTC
                td.text-right.table-info__up 14.2623232 BTC
                td.text-right.table-info__down
    .col-1-3
      .inner-block.min-h-full
        .tabs
          .tabs__list.tabs__list-btn 
            .col-1-2.tabs__list-item(data-tab="#your-assets") Ваши активы
            .col-1-2.tabs__list-item.tabs__list-item--active(data-tab="#volatile") Волатильные
          .tabs__cont
            #your-assets.tabs__item 
              include blocks/table-your-assets.pug
            #volatile.tabs__item.tabs__item--active 
              .btn-row-c
                .btn-row-c__item
                  .btn-row-c__link Day
                .btn-row-c__item
                  .btn-row-c__link.btn-row-c__link--active Week
                .btn-row-c__item
                  .btn-row-c__link Month
              .table-token
                .flex-wrap
                  .col-auto
                    .table-token__th Token
                  .col-auto.ml-auto
                    .table-token__th Changes Qty
                .table-token__scroll.mCustomScrollbar
                  .table-token__inner
                    .table-token__item
                      .flex-wrap
                        .col-auto 
                          svg(class="icon icon--litecoin")
                            use(xlink:href="img/svg-sprite.svg#litecoin")
                          .table-token__name WAVES/US
                        .col-auto.ml-auto
                          .text-green 25%
                    .table-token__item
                      .flex-wrap
                        .col-auto 
                          svg(class="icon icon--litecoin")
                            use(xlink:href="img/svg-sprite.svg#litecoin")
                          .table-token__name LITECOIN/US
                        .col-auto.ml-auto
                          .text-red 8%
                    .table-token__item
                      .flex-wrap
                        .col-auto 
                          svg(class="icon icon--litecoin")
                            use(xlink:href="img/svg-sprite.svg#litecoin")
                          .table-token__name WAVES/US
                        .col-auto.ml-auto
                          .text-green 25%
                    .table-token__item
                      .flex-wrap
                        .col-auto 
                          svg(class="icon icon--litecoin")
                            use(xlink:href="img/svg-sprite.svg#litecoin")
                          .table-token__name WAVES/US
                        .col-auto.ml-auto
                          .text-green 25%
                    .table-token__item
                      .flex-wrap
                        .col-auto 
                          svg(class="icon icon--litecoin")
                            use(xlink:href="img/svg-sprite.svg#litecoin")
                          .table-token__name LITECOIN/US
                        .col-auto.ml-auto
                          .text-red 8%
                    .table-token__item
                      .flex-wrap
                        .col-auto 
                          svg(class="icon icon--litecoin")
                            use(xlink:href="img/svg-sprite.svg#litecoin")
                          .table-token__name WAVES/US
                        .col-auto.ml-auto
                          .text-green 25%
                    .table-token__item
                      .flex-wrap
                        .col-auto 
                          svg(class="icon icon--litecoin")
                            use(xlink:href="img/svg-sprite.svg#litecoin")
                          .table-token__name WAVES/US
                        .col-auto.ml-auto
                          .text-green 25%
                    .table-token__item
                      .flex-wrap
                        .col-auto 
                          svg(class="icon icon--litecoin")
                            use(xlink:href="img/svg-sprite.svg#litecoin")
                          .table-token__name LITECOIN/US
                        .col-auto.ml-auto
                          .text-red 8%
                    .table-token__item
                      .flex-wrap
                        .col-auto 
                          svg(class="icon icon--litecoin")
                            use(xlink:href="img/svg-sprite.svg#litecoin")
                          .table-token__name WAVES/US
                        .col-auto.ml-auto
                          .text-green 25%
                    .table-token__item
                      .flex-wrap
                        .col-auto 
                          svg(class="icon icon--litecoin")
                            use(xlink:href="img/svg-sprite.svg#litecoin")
                          .table-token__name WAVES/US
                        .col-auto.ml-auto
                          .text-green 25%
                    .table-token__item
                      .flex-wrap
                        .col-auto 
                          svg(class="icon icon--litecoin")
                            use(xlink:href="img/svg-sprite.svg#litecoin")
                          .table-token__name LITECOIN/US
                        .col-auto.ml-auto
                          .text-red 8%
                    .table-token__item
                      .flex-wrap
                        .col-auto 
                          svg(class="icon icon--litecoin")
                            use(xlink:href="img/svg-sprite.svg#litecoin")
                          .table-token__name WAVES/US
                        .col-auto.ml-auto
                          .text-green 25%
                    .table-token__item
                      .flex-wrap
                        .col-auto 
                          svg(class="icon icon--litecoin")
                            use(xlink:href="img/svg-sprite.svg#litecoin")
                          .table-token__name WAVES/US
                        .col-auto.ml-auto
                          .text-green 25%
                    .table-token__item
                      .flex-wrap
                        .col-auto 
                          svg(class="icon icon--litecoin")
                            use(xlink:href="img/svg-sprite.svg#litecoin")
                          .table-token__name LITECOIN/US
                        .col-auto.ml-auto
                          .text-red 8%
                    .table-token__item
                      .flex-wrap
                        .col-auto 
                          svg(class="icon icon--litecoin")
                            use(xlink:href="img/svg-sprite.svg#litecoin")
                          .table-token__name WAVES/US
                        .col-auto.ml-auto
                          .text-green 25%
