extends layouts/layout.pug

block title
  title Main page

block content
  .flex-p-wrap.mt-30 
    .col-2-3
      .inner-block.h-full
        .flex-wrap.h-full
          .col-1-2
            .active-stuffs.min-h-full
              .category-title 
                .category-title__icon
                  svg(class="icon icon--chart")
                    use(xlink:href="img/svg-sprite.svg#chart")
                | Active  
                span Stuffs
              .active-stuffs__list.mCustomScrollbar
                +activeStuffsItem('ethereum','','Ethereum','132.32','1500','ETH','active-stuffs__percent--down','-0.22%','2141.45 USD','31.5 USD')
                +activeStuffsItem('ethereum','active-stuffs__icon--violet','BTC','132.32','1500','ETH','active-stuffs__percent--up','-0.22%','2141.45 USD','31.5 USD')
                +activeStuffsItem2('btc','BTC','132.32','1500','ETH','active-stuffs__percent--up','-0.22%','2141.45 USD','31.5 USD','active-stuffs__inner--active')
                +activeStuffsItem2('litecoin','Ltecoin','132.32','1500','ETH','active-stuffs__percent--down','-0.22%','2141.45 USD','31.5 USD','')
                +activeStuffsItem2('binance','Binance','132.32','1500','ETH','active-stuffs__percent--up','-0.22%','2141.45 USD','31.5 USD','')
          .col-1-2.flex-center-cont.text-center
            .p-cont
              h2.m-0.mb-8 Send Ethereum to...
              p Wheels come in many variations that affect grip, top speed, cryptocurrency, and turning 
              .form-row.w-230.m-auto
                select.select-icon.select-icon__large
                  option(data-icon="binance") Binance
                  option(data-icon="litecoin") Litecoin
                  option(data-icon="binance") Binance 3
                .form-row__hint Выйдет
                  span 2141.45 USD
              a(href="#").btn.btn__xxl.btn__blue-2.w-230.mt-8 Submit
    .col-1-3
      .inner-block.min-h-full
        .tabs
          .tabs__list.tabs__list-btn 
            .col-1-2.tabs__list-item.tabs__list-item--active(data-tab="#your-assets") Ваши активы
            .col-1-2.tabs__list-item(data-tab="#volatile") Волатильные
          .tabs__cont
            #your-assets.tabs__item.tabs__item--active 
              include blocks/table-your-assets.pug
            #volatile.tabs__item Tab content 2
  .flex-wrap.mt-8 
    .col-1.inner-block.p-inner  
      .flex-p-wrap 
        .col-auto 
          a(href="#").btn.btn__black.w-140 Все сделки
        .col-auto.ml-auto
          a(href="#").btn-r.w-140 Прибильные
            span.btn__badge 5
          a(href="#").btn-r.w-140.ml-8 Откуп готов
      include blocks/portfolio-history.pug
    
