extends layouts/layout.pug

block title
  title Add key
block content
  .inner-block.mt-30.user-status
    .flex-p-wrap 
      .col-1-2
        .flex-wrap
          .user-status__avatar
            span
          .user-status__cont
            .user-status__email weathermood@gmail.com
              span.pro.ml-8 pro
            .user-status__info
              b Last login time: 
              |  
              | 2019-04-04 12:14:03  
            .user-status__info
              b Last login IP:
              |  
              | 176.37.17157      
      .col-1-2
        .user-steps
          .user-steps__item
            .user-steps__lv.user-steps__lv--active Lv. 1
            .user-steps__name Новичек
          .user-steps__line.user-steps__line--active
            .firework-rocket
               svg.firework-rocket__svg
                 use(xlink:href='img/svg-sprite.svg#firework-rocket')
               .firework-rocket__flames
                 .firework-rocket__flame-position
                   .firework-rocket__flame.firework-rocket__flame--1.animate-flame
                 .firework-rocket__flame-position
                   .firework-rocket__flame.firework-rocket__flame--2.animate-flame
                 .firework-rocket__flame-position
                   .firework-rocket__flame.firework-rocket__flame--3.animate-flame
                 .firework-rocket__flame-position
                   .firework-rocket__flame.firework-rocket__flame--4.animate-flame
                 .firework-rocket__flame-position
                   .firework-rocket__flame.firework-rocket__flame--5.animate-flame
               .firework-rocket__stars
                 .firework-rocket__star.firework-rocket__star--1.animate-flame-star
                   svg.svg-firework-star__svg
                     use(xlink:href='img/svg-sprite.svg#firework-star')
                 .firework-rocket__star.firework-rocket__star--2.animate-flame-star
                   svg.svg-firework-star__svg
                     use(xlink:href='img/svg-sprite.svg#firework-star')
                 .firework-rocket__star.firework-rocket__star--3.animate-flame-star
                   svg.svg-firework-star__svg
                     use(xlink:href='img/svg-sprite.svg#firework-star')
                 .firework-rocket__star.firework-rocket__star--4.animate-flame-star
                   svg.svg-firework-star__svg
                     use(xlink:href='img/svg-sprite.svg#firework-star')
                 .firework-rocket__star.firework-rocket__star--5.animate-flame-star
                   svg.svg-firework-star__svg
                     use(xlink:href='img/svg-sprite.svg#firework-star')
                 .firework-rocket__star.firework-rocket__star--6.animate-flame-star
                   svg.svg-firework-star__svg
                     use(xlink:href='img/svg-sprite.svg#firework-star')
                 .firework-rocket__star.firework-rocket__star--7.animate-flame-star
                   svg.svg-firework-star__svg
                     use(xlink:href='img/svg-sprite.svg#firework-star')
                 .firework-rocket__star.firework-rocket__star--8.animate-flame-star
                   svg.svg-firework-star__svg
                     use(xlink:href='img/svg-sprite.svg#firework-star')
          .user-steps__item
            .user-steps__lv.user-steps__lv--active Lv. 2
            .user-steps__name Проверенный трейдер
          .user-steps__line
          .user-steps__item 
            .user-steps__lv Lv. 3
            .user-steps__name Аккаунт Про
            a(href="").user-steps__link Подробнее
        .text-center
          a(href="").btn.btn__blue-2 Пройти проверку
  .inner-block.mt-8.add-key
    .tabs
      .tabs__list.tabs__list-line
        .tabs__list-item.tabs__list-item--active(data-tab="#api-keyse") API ключи
        .tabs__list-item(data-tab="#by-volume") Настройки
      .tabs__cont
        #api-keyse.tabs__item.tabs__item--active  
          .flex-wrap.justify-content-center
            .col-1-2
              .form-row.flex-wrap
                .form-row__inline-label Обменник
                .form-row__inline-cont
                  .select
                    .select__text
                      svg(class="icon icon--binance")
                        use(xlink:href="img/svg-sprite.svg#binance")
                      | Binance
                      .select__trigger
                        .select__trigger-arrow
                    .select__dropdown
                      .select__inner
                          ul 
                            li 
                              svg(class="icon icon--binance")
                                use(xlink:href="img/svg-sprite.svg#binance")
                              | Binance
                            li.sel
                              svg(class="icon icon--binance")
                                use(xlink:href="img/svg-sprite.svg#binance")
                              | Binance
                            li 
                              svg(class="icon icon--binance")
                                use(xlink:href="img/svg-sprite.svg#binance")
                              | Binance
                          
              .form-row.flex-wrap
                .form-row__inline-label Имя ключа
                .form-row__inline-cont.form-row__inline-cont--icon
                  svg(class="icon icon--binance")
                    use(xlink:href="img/svg-sprite.svg#binance")
                  input(type="text").form-row__input-lg
              .form-row.flex-wrap
                .form-row__inline-label Api Key
                .form-row__inline-cont 
                  input(type="text").form-row__input-lg
              .form-row.flex-wrap
                .form-row__inline-label Private Key
                .form-row__inline-cont 
                  input(type="text").form-row__input-lg
              .form-row.text-right.mt-20
                a(href="#api-code").btn.btn__blue-2.btn__large.w-140.modal-btn Submit
          .table-api-key__wrap
            table.table-api-key
              tr
                th(width="33%") Exchange
                th(width="33%") Name
                th ApiKey
                th(width="30")
              tr
                td 
                  svg(class="icon icon--binance")
                    use(xlink:href="img/svg-sprite.svg#binance")
                  | Binance
                td Gortensy
                td 234929342934923234929342934923234929342934923
                td 
                  a(href="#agree-to-remove").table-api-key__remove.modal-btn
                    svg.icon.icon--remove
                      use(xlink:href="img/svg-sprite.svg#remove")
        #by-volume.tabs__item 2
  #api-code.modal 
    .modal__title Need your API Code
    .modal__text!="Wheels come in many variations that affect <br> grip, top speed, cryptocurrency!"
    .form-row.form-row__icon
      svg(class="icon icon--btc")
        use(xlink:href="img/svg-sprite.svg#btc")
      input(type="text").form-row__input-lg
    .form-row.text-right
      a(href="").btn.btn__gray.btn__large.mr-8.modal__btn-close close 
      a(href="").btn.btn__blue-2.btn__large Copy code 
    .modal__footer API-код биржы можно найти в натсройках.
      |  
      a(href="") Смотри подробнее
  #agree-to-remove.modal 
    .modal__title Удалять не удалять
    .modal__text!="На право пойдешь удалишь, на лево пойдешь не удалишь!"
    .form-row.text-center
      a(href="").btn.btn__gray.btn__large.mr-8.modal__btn-close close 
      a(href="").btn.btn__blue-2.btn__large Remove
    .modal__footer API-код биржы можно найти в натсройках.
      |  
      a(href="") Смотри подробнее
    
      
