extends layouts/layout-bidding.pug

block title
  title Main page

block content
  .bidding 
    .bidding__header.flex-wrap 
      .col-auto 
        .bidding__header-select
          select.select-icon.w-140
            option(data-icon="binance") Binance
            option(data-icon="litecoin") Litecoin
            option(data-icon="binance") Binance 3
      .col-auto.ml-auto
        .flex-wrap
          .bidding__info
            .bidding__info-item
              .bidding__info-name Last Price
              .bidding__info-text 0.00006870  
                span.text-yellow $2.71
            .bidding__info-item
              .bidding__info-name Last Price
              .bidding__info-text 0.00006870  $2.71
            .bidding__info-item
              .bidding__info-name 24 High
              .bidding__info-text 0.0006927
            .bidding__info-item
              .bidding__info-name 24 Volume
              .bidding__info-text 239.55 BTC
          .bidding__header-select
            select.select-styler
              option ENJ / BTC
              option ENJ / BTC
              option ENJ / BTC
          .bidding__col.text-right
            .header__message
              svg.icon.icon--message
                use(xlink:href="img/svg-sprite.svg#message")
            .header__notifications
              .header__notifications--badge
              svg.icon.icon--notifications
                use(xlink:href="img/svg-sprite.svg#notifications")
            .header__user
              .header__user-inner
                .header__user--name Kirill Moneylover
                .header__user--date Member since 2019
                .header__user--icon
                  svg.icon.icon--arrow-down
                    use(xlink:href="img/svg-sprite.svg#arrow-down")
              .header__user-dropdown 
                .header__user-dropdown--inner
                  | Dropdown content
    .bidding__cont 
      .flex-wrap 
        .col 
          .inner-block
            .bidding-set-h
              .flex-p-wrap
                .col-auto 
                  .btn-row
                    .btn-row__item
                      .btn.btn__small.btn__block time
                    .btn-row__item
                      a(href="").btn.btn__small.btn--sel 15m
                    .btn-row__item
                      a(href="").btn.btn__small 1H
                    .btn-row__item
                      a(href="").btn.btn__small 1D
                    .btn-row__item
                      a(href="").btn.btn__small 1W
                    .btn-row__item
                      a(href="").btn.btn__small 1M
                    .btn-row__item
                      a(href="").btn.btn__small Tools
                    .btn-row__item
                      a(href="").btn.btn__small Indicators
                    .btn-row__item
                      .btn-row__tag MACD
                        a(href="#").btn-row__tag-remove 
                          svg.icon.icon--remove
                            use(xlink:href="img/svg-sprite.svg#remove")
                    .btn-row__item
                      .btn-row__tag MA
                        a(href="#").btn-row__tag-remove 
                          svg.icon.icon--remove
                            use(xlink:href="img/svg-sprite.svg#remove")
                .col-auto.ml-auto
                  .btn-row
                    .btn-row__item
                      a(href="").btn.btn__small.btn--sel Original
                    .btn-row__item
                      a(href="").btn.btn__small TradingView
                    .btn-row__item
                      a(href="").btn.btn__small Depth
                    .btn-row__item
                      a(href="").btn.btn__small.btn__small--icon 
                        svg.icon.icon--fullscreen
                          use(xlink:href="img/svg-sprite.svg#fullscreen")
            div(style="background:url(img/pic-3.jpg) no-repeat center;background-size: auto 100%;height: 560px;")
            .bidding__info-cont
              .bidding-set-h
                .flex-p-wrap
                  .col-auto 
                    .btn-row
                      .btn-row__item
                        a(href="").btn.btn__small.btn--sel Open Orders (1)
                      .btn-row__item
                        a(href="").btn.btn__small Order History
                      .btn-row__item
                        a(href="").btn.btn__small Trade History
                      .btn-row__item
                        a(href="").btn.btn__small Funds
                  .col-auto.ml-auto
                    a(href="").btn.btn__small.btn__link Hide Other Pairs
              .table-info-d__scroll.mCustomScrollbar
                table.table-info-d
                  tr
                    th Date
                    th Pair
                    th Type
                    th.text-center Side
                    th Price
                    th.text-center Amount
                    th.text-center Filled %
                    th.text-right Total
                    th.text-right Trigger Co...
                    th(width="80px").text-center 
                      select.select-styler.select-styler__small
                        option Cancel All
                        option Cancel Last 
                  tr 
                    td 03-18 15:54
                    td WAVES/US
                    td Limit
                    td.text-center.text-red Sell
                    td 2.90000
                    td.text-center 2,011.18
                    td.text-center 0.00%
                    td.text-right 5,823.4220 USDT
                    td -
                    td.text-center
                      a(href="").btn.btn__small Cancel
                  tr 
                    td 03-18 15:54
                    td WAVES/US
                    td Limit
                    td.text-center.text-green Sell
                    td 2.90000
                    td.text-center 2,011.18
                    td.text-center 0.00%
                    td.text-right 5,823.4220 USDT
                    td -
                    td.text-center
                      a(href="").btn.btn__small Cancel
                  tr 
                    td 03-18 15:54
                    td WAVES/US
                    td Limit
                    td.text-center.text-red Sell
                    td 2.90000
                    td.text-center 2,011.18
                    td.text-center 0.00%
                    td.text-right 5,823.4220 USDT
                    td -
                    td.text-center
                      a(href="").btn.btn__small Cancel
                  tr 
                    td 03-18 15:54
                    td WAVES/US
                    td Limit
                    td.text-center.text-green Sell
                    td 2.90000
                    td.text-center 2,011.18
                    td.text-center 0.00%
                    td.text-right 5,823.4220 USDT
                    td -
                    td.text-center
                      a(href="").btn.btn__small Cancel
                    tr 
                      td 03-18 15:54
                      td WAVES/US
                      td Limit
                      td.text-center.text-red Sell
                      td 2.90000
                      td.text-center 2,011.18
                      td.text-center 0.00%
                      td.text-right 5,823.4220 USDT
                      td -
                      td.text-center
                        a(href="").btn.btn__small Cancel
                    tr 
                      td 03-18 15:54
                      td WAVES/US
                      td Limit
                      td.text-center.text-green Sell
                      td 2.90000
                      td.text-center 2,011.18
                      td.text-center 0.00%
                      td.text-right 5,823.4220 USDT
                      td -
                      td.text-center
                        a(href="").btn.btn__small Cancel
        .bidding__col-2
          .flex-p-wrap
            .col-1-2
              .inner-block
                .bidding-set-h 
                  .flex-p-wrap
                    .col-auto
                      .btn-row
                        .btn-row__item
                          a(href="").btn.btn__small 25%
                        .btn-row__item
                          a(href="").btn.btn__small 50%
                        .btn-row__item
                          a(href="").btn.btn__small 75%
                    .col-auto.ml-auto
                      .bidding-set-h__text groups
                      .spinner-small
                        a(href="").spinner-small__btn.spinner-small__btn--up
                        a(href="").spinner-small__btn.spinner-small__btn--down
                        input(type="text" value="7 decimals").spinner-small__input  
                .bidding__table
                  .bidding__table-tr
                    .bidding__table-th Price (BTC)
                    .bidding__table-th Amount(WAVES)
                    .bidding__table-th Total(BTC)
                  +biddingTableRowRed('0.0006803','1,390.19','0.0006803','60%')
                  +biddingTableRowRed('0.0006803','181.46','0.0006803','70%')
                  +biddingTableRowRed('0.0006802','16.00','0.0006803','20%')
                  +biddingTableRowRed('0.0006802','90.60','0.0006803','50%')
                  +biddingTableRowRed('0.0006802','715.77','0.0006803','65%')
                  +biddingTableRowRed('0.0006802','983.45','0.0006803','58%')
                  +biddingTableRowRed('0.0006802','60.00','0.0006803','80%')
                  +biddingTableRowRed('0.0006802','1,9878.66','0.0006803','90%')
                  +biddingTableRowRed('0.0006802','20.5816.00','0.0006803','10%')
                  +biddingTableRowRed('0.0006802','341.','0.0006803','30%')
                .bidding__best 0.00068807
                  span.bidding__best-price $2.71
                  .bidding__best-load.load-status
                    .load-status
                      .load-status__item.load-status__item--active
                      .load-status__item.load-status__item--active
                      .load-status__item.load-status__item--active
                      .load-status__item
                .bidding__table
                  +biddingTableRowGreen('0.0006803','1,390.19','0.0006803','60%')
                  +biddingTableRowGreen('0.0006803','181.46','0.0006803','70%')
                  +biddingTableRowGreen('0.0006802','16.00','0.0006803','20%')
                  +biddingTableRowGreen('0.0006802','90.60','0.0006803','50%')
                  +biddingTableRowGreen('0.0006802','715.77','0.0006803','65%')
                  +biddingTableRowGreen('0.0006802','983.45','0.0006803','58%')
                  +biddingTableRowGreen('0.0006802','60.00','0.0006803','80%')
                  +biddingTableRowGreen('0.0006802','1,9878.66','0.0006803','90%')
                  +biddingTableRowGreen('0.0006802','20.5816.00','0.0006803','10%')
                  +biddingTableRowGreen('0.0006802','341.','0.0006803','30%')
            .col-1-2
              .inner-block
                .tabs.bidding__tabs-p
                  .tabs__list.tabs__list-btn
                    .col-1-2.tabs__list-item.tabs__list-item--active(data-tab="#by-price") По цене
                    .col-1-2.tabs__list-item(data-tab="#by-volume") По объему
                  .tabs__cont
                    #by-price.tabs__item.tabs__item--active 
                      .p-15
                        .form-row.form-row__or
                          label.form-row__label Пара
                          .flex-p-wrap.flex-p-def
                            .col-1-2
                              select.select-icon
                                option(data-icon="btc") BTC
                                option(data-icon="litecoin") Litecoin
                                option(data-icon="binance") Binance 3
                            .col-1-2
                              select.select-icon
                                option(data-icon="bch") BCH
                                option(data-icon="litecoin") Litecoin
                                option(data-icon="binance") Binance 3
                        .flex-p-wrap.flex-p-def.mt-20
                          .col-1-2
                            .form-row
                              .form-row__label Текущая цена
                              .form-row__price.mt-15
                                | 132.32
                                span.form-row__price--num 150 
                                span.form-row__price--currency ETH
                              .form-row__val 2141.45 USD
                          .col-1-2
                            .form-row
                              .form-row__label Границы
                              .form-row__scope.mt-15.text-green 31.5 USD
                              .form-row__scope.text-red 21.5 USD
                        .flex-p-wrap.mt-20
                          .col-1-2
                            .form-row 
                              label.form-row__label Верхняя
                              .flex-wrap
                                .form-row__check-inner
                                  label.checkbox 
                                    .checkbox__inner
                                      input(type="checkbox").checkbox__inner-input
                                      .checkbox__inner-check
                                        svg.icon.icon--checked
                                          use(xlink:href="img/svg-sprite.svg#checked")
                                .col
                                  .slider.mt-10(data-value="40")
                          .col-1-2
                            .form-row 
                              .spinner-v 
                                a(href="").spinner-v__btn.spinner-v__btn--up
                                a(href="").spinner-v__btn.spinner-v__btn--down
                                .spinner-v__num.text-green 33% 
                        .flex-p-wrap
                          .col-1-2
                            .form-row 
                              label.form-row__label Нижняя
                              .flex-wrap
                                .form-row__check-inner
                                  label.checkbox.checkbox__red
                                    .checkbox__inner
                                      input(type="checkbox" checked).checkbox__inner-input
                                      .checkbox__inner-check
                                        svg.icon.icon--checked
                                          use(xlink:href="img/svg-sprite.svg#checked")
                                .col
                                  .slider.slider__red.mt-10(data-value="40")
                          .col-1-2
                            .form-row 
                              .spinner-v 
                                a(href="").spinner-v__btn.spinner-v__btn--up
                                a(href="").spinner-v__btn.spinner-v__btn--down
                                .spinner-v__num.text-red -13% 
                        .form-row.mt-20
                          button(type="submit").btn.btn__blue.btn__full.btn__mega Submit
                        .coin-check.pb-0.pt-15
                          .coin-check__item.mb-0
                            .coin-check__coin
                              svg(class="icon icon--btc")
                                use(xlink:href="img/svg-sprite.svg#btc")
                            .coin-check__coin-old
                              svg(class="icon icon--bch")
                                use(xlink:href="img/svg-sprite.svg#bch")
                            a(href="").coin-check__close
                              svg(class="icon icon--remove")
                                use(xlink:href="img/svg-sprite.svg#remove")
                            .flex-p-wrap
                              .col-auto
                                .coin-check__name ETH/BTC
                                .flex-wrap.coin-check__price.text-green
                                  .coin-check__persent +13%
                                  .col 31.50000 USD
                                .flex-wrap.coin-check__price.text-red
                                  .coin-check__persent -5%
                                  .col 21.5044 USD
                              .col-auto.ml-auto
                                .swicher
                                  input(type="checkbox").swicher__input
                                  .swicher__circle
                    #by-volume.tabs__item 
                      .p-inner 2
          .tabs.bidding__tabs
            .tabs__list 
              .tabs__list-item.tabs__list-item--active(data-tab="#limit") Limit
              .tabs__list-item(data-tab="#market") Market
              .tabs__list-item(data-tab="#stop-limit") Stop-Limit
            .tabs__cont
              #limit.tabs__item.tabs__item--active 
                .flex-wrap.flex-wrap__tabs
                  .col-1-2 
                    .inner-block
                      .form-row 
                        .flex-p-wrap 
                          .col-auto 
                            .form-row__title Buy WAVES
                          .col-auto.ml-auto
                            label.form-row__label  BTC
                      .form-row
                        .flex-wrap 
                          .form-row__inline-label-s Price:
                          .form-row__inline-cont-s
                            .form-row__name-option BTC
                            input(type="text" value="0.00068000").form-row__input-s 
                      .form-row
                        .flex-wrap 
                          .form-row__inline-label-s Amount:
                          .form-row__inline-cont-s
                            .form-row__name-option WAVES
                            input(type="text").form-row__input-s 
                            .btn-row
                              .btn-row__item.col-1-4
                                a(href="").btn.btn__full.btn__small 25%
                              .btn-row__item.col-1-4
                                a(href="").btn.btn__full.btn__small 50%
                              .btn-row__item.col-1-4
                                a(href="").btn.btn__full.btn__small 75%
                              .btn-row__item.col-1-4
                                a(href="").btn.btn__full.btn__small 100%
                      .form-row
                        .flex-wrap 
                          .form-row__inline-label-s Total:
                          .form-row__inline-cont-s
                            .form-row__name-option BTC
                            input(type="text").form-row__input-s 
                      .form-row.mt-15
                        a(href="").btn.btn__green.btn__full Buy WAVES
                  .col-1-2 
                    .inner-block
                      .form-row 
                        .flex-p-wrap 
                          .col-auto 
                            .form-row__title Sell WAVES
                          .col-auto.ml-auto
                            label.form-row__label  BTC
                      .form-row
                        .flex-wrap 
                          .form-row__inline-label-s Price:
                          .form-row__inline-cont-s
                            .form-row__name-option BTC
                            input(type="text" value="0.00068000").form-row__input-s 
                      .form-row
                        .flex-wrap 
                          .form-row__inline-label-s Amount:
                          .form-row__inline-cont-s
                            .form-row__name-option WAVES
                            input(type="text").form-row__input-s 
                            .btn-row
                              .btn-row__item.col-1-4
                                a(href="").btn.btn__full.btn__small 25%
                              .btn-row__item.col-1-4
                                a(href="").btn.btn__full.btn__small 50%
                              .btn-row__item.col-1-4
                                a(href="").btn.btn__full.btn__small 75%
                              .btn-row__item.col-1-4
                                a(href="").btn.btn__full.btn__small 100%
                      .form-row
                        .flex-wrap 
                          .form-row__inline-label-s Total:
                          .form-row__inline-cont-s
                            .form-row__name-option BTC
                            input(type="text").form-row__input-s 
                      .form-row.mt-15
                        a(href="").btn.btn__red.btn__full Sell WAVES
              #market.tabs__item 
                .flex-wrap.flex-wrap__tabs 
                  .col-1-2 
                    .inner-block tab 2
                  .col-1-2 
                    .inner-block
              #stop-limit.tabs__item 
                .flex-wrap.flex-wrap__tabs 
                  .col-1-2 
                    .inner-block tab 3
                  .col-1-2 
                    .inner-block
          
      
