extends layouts/layout.pug

block title
  title Main page

block content
  .flex-p-wrap.mt-30 
    .col-2-3
      .inner-block.p-inner.min-h-full
        .flex-p-wrap 
          .col-auto 
            .form-row 
              input(type="text" placeholder="Начните вводить ").form-row__input.w-265
          .col-auto.ml-auto 
            a(href="#").btn-r.w-140.pl-0.pr-0 Только Прибильные
            a(href="#").btn-r.w-140.ml-8 Откуп готов
        .table-l.table-l__no-p.mt-20
          .table-l__head-wrap
            .flex-wrap
              .table-l__th.table-l__num #
              .table-l__th.table-l__name Name
              .table-l__th.table-l__market-cap Market Cap
              .table-l__th.table-l__price Price
              .table-l__th.table-l__volume Volume
              .table-l__th.table-l__change Change
              .table-l__th.table-l__graph Graph
          .table-l__scroll.table-l__scroll-2.mCustomScrollbar
            .table-l__body-wrap
              each tableLItem in table_l
                +tableLItem(tableLItem.num,tableLItem.name,tableLItem.market_cap,tableLItem.price,tableLItem.volume,tableLItem.change,tableLItem.graph,tableLItem.style)
    .col-1-3
      .inner-block
        .check-list
          .check-list__top
            .flex-p-wrap
              .col-auto 
                .check-list__title Выбрано: 
                  span 75
              .col-auto.ml-auto 
                a(href="").check-list__link Очистить список 
          .check-list__scroll.mCustomScrollbar
            .check-list__list
              .flex-p-wrap
                .col-1-4
                  .coin-price
                    .coin-price__name
                      svg.coin-price__icon.icon.icon--btc
                        use(xlink:href="img/svg-sprite.svg#btc")
                      span BTC
                .col-1-4
                  .coin-price
                    .coin-price__name
                      svg.coin-price__icon.icon.icon--bch
                        use(xlink:href="img/svg-sprite.svg#bch")
                      span BCH
                .col-1-4
                  .coin-price
                    .coin-price__name
                      svg.coin-price__icon.icon.icon--binance
                        use(xlink:href="img/svg-sprite.svg#binance")
                      span BIN
                .col-1-4
                  .coin-price
                    .coin-price__name
                      svg.coin-price__icon.icon.icon--litecoin
                        use(xlink:href="img/svg-sprite.svg#litecoin")
                      span LITE
                .col-1-4
                  .coin-price
                    .coin-price__name
                      svg.coin-price__icon.icon.icon--btc
                        use(xlink:href="img/svg-sprite.svg#btc")
                      span BTC
                .col-1-4
                  .coin-price
                    .coin-price__name
                      svg.coin-price__icon.icon.icon--bch
                        use(xlink:href="img/svg-sprite.svg#bch")
                      span BCH
                .col-1-4
                  .coin-price
                    .coin-price__name
                      svg.coin-price__icon.icon.icon--binance
                        use(xlink:href="img/svg-sprite.svg#binance")
                      span BIN
                .col-1-4
                  .coin-price
                    .coin-price__name
                      svg.coin-price__icon.icon.icon--litecoin
                        use(xlink:href="img/svg-sprite.svg#litecoin")
                      span LITE
                .col-1-4
                  .coin-price
                    .coin-price__name
                      svg.coin-price__icon.icon.icon--btc
                        use(xlink:href="img/svg-sprite.svg#btc")
                      span BTC
                .col-1-4
                  .coin-price
                    .coin-price__name
                      svg.coin-price__icon.icon.icon--bch
                        use(xlink:href="img/svg-sprite.svg#bch")
                      span BCH
                .col-1-4
                  .coin-price
                    .coin-price__name
                      svg.coin-price__icon.icon.icon--binance
                        use(xlink:href="img/svg-sprite.svg#binance")
                      span BIN
                .col-1-4
                  .coin-price
                    .coin-price__name
                      svg.coin-price__icon.icon.icon--litecoin
                        use(xlink:href="img/svg-sprite.svg#litecoin")
                      span LITE
                .col-1-4
                  .coin-price
                    .coin-price__name
                      svg.coin-price__icon.icon.icon--btc
                        use(xlink:href="img/svg-sprite.svg#btc")
                      span BTC
                .col-1-4
                  .coin-price
                    .coin-price__name
                      svg.coin-price__icon.icon.icon--bch
                        use(xlink:href="img/svg-sprite.svg#bch")
                      span BCH
                .col-1-4
                  .coin-price
                    .coin-price__name
                      svg.coin-price__icon.icon.icon--binance
                        use(xlink:href="img/svg-sprite.svg#binance")
                      span BIN
                .col-1-4
                  .coin-price
                    .coin-price__name
                      svg.coin-price__icon.icon.icon--litecoin
                        use(xlink:href="img/svg-sprite.svg#litecoin")
                      span LITE
                .col-1-4
                  .coin-price
                    .coin-price__name
                      svg.coin-price__icon.icon.icon--btc
                        use(xlink:href="img/svg-sprite.svg#btc")
                      span BTC
                .col-1-4
                  .coin-price
                    .coin-price__name
                      svg.coin-price__icon.icon.icon--bch
                        use(xlink:href="img/svg-sprite.svg#bch")
                      span BCH
                .col-1-4
                  .coin-price
                    .coin-price__name
                      svg.coin-price__icon.icon.icon--binance
                        use(xlink:href="img/svg-sprite.svg#binance")
                      span BIN
                .col-1-4
                  .coin-price
                    .coin-price__name
                      svg.coin-price__icon.icon.icon--litecoin
                        use(xlink:href="img/svg-sprite.svg#litecoin")
                      span LITE
                .col-1-4
                  .coin-price
                    .coin-price__name
                      svg.coin-price__icon.icon.icon--btc
                        use(xlink:href="img/svg-sprite.svg#btc")
                      span BTC
                .col-1-4
                  .coin-price
                    .coin-price__name
                      svg.coin-price__icon.icon.icon--bch
                        use(xlink:href="img/svg-sprite.svg#bch")
                      span BCH
                .col-1-4
                  .coin-price
                    .coin-price__name
                      svg.coin-price__icon.icon.icon--binance
                        use(xlink:href="img/svg-sprite.svg#binance")
                      span BIN
                .col-1-4
                  .coin-price
                    .coin-price__name
                      svg.coin-price__icon.icon.icon--litecoin
                        use(xlink:href="img/svg-sprite.svg#litecoin")
                      span LITE
                .col-1-4
                  .coin-price
                    .coin-price__name
                      svg.coin-price__icon.icon.icon--btc
                        use(xlink:href="img/svg-sprite.svg#btc")
                      span BTC
                .col-1-4
                  .coin-price
                    .coin-price__name
                      svg.coin-price__icon.icon.icon--bch
                        use(xlink:href="img/svg-sprite.svg#bch")
                      span BCH
                .col-1-4
                  .coin-price
                    .coin-price__name
                      svg.coin-price__icon.icon.icon--binance
                        use(xlink:href="img/svg-sprite.svg#binance")
                      span BIN
                .col-1-4
                  .coin-price
                    .coin-price__name
                      svg.coin-price__icon.icon.icon--litecoin
                        use(xlink:href="img/svg-sprite.svg#litecoin")
                      span LITE
                .col-1-4
                  .coin-price
                    .coin-price__name
                      svg.coin-price__icon.icon.icon--btc
                        use(xlink:href="img/svg-sprite.svg#btc")
                      span BTC
                .col-1-4
                  .coin-price
                    .coin-price__name
                      svg.coin-price__icon.icon.icon--bch
                        use(xlink:href="img/svg-sprite.svg#bch")
                      span BCH
                .col-1-4
                  .coin-price
                    .coin-price__name
                      svg.coin-price__icon.icon.icon--binance
                        use(xlink:href="img/svg-sprite.svg#binance")
                      span BIN
                .col-1-4
                  .coin-price
                    .coin-price__name
                      svg.coin-price__icon.icon.icon--litecoin
                        use(xlink:href="img/svg-sprite.svg#litecoin")
                      span LITE
        .p-cont
          .flex-p-wrap
            .col-1-2
              .form-row 
                label.form-row__label 5 min
                .spinner.flex-wrap
                  .col-auto.mr-auto
                    a(href="").spinner__btn.spinner__btn--minus
                  .col 
                    .spinner__cont
                      input(type="text" value="3%").spinner__input
                  .col-auto
                    a(href="").spinner__btn.spinner__btn--pluse
            .col-1-2
              .form-row 
                label.form-row__label 5 min
                .spinner.flex-wrap
                  .col-auto.mr-auto
                    a(href="").spinner__btn.spinner__btn--minus
                  .col 
                    .spinner__cont
                      input(type="text" value="3%").spinner__input
                  .col-auto
                    a(href="").spinner__btn.spinner__btn--pluse
            .col-1-2
              .form-row 
                label.form-row__label 5 min
                .spinner.flex-wrap
                  .col-auto.mr-auto
                    a(href="").spinner__btn.spinner__btn--minus
                  .col 
                    .spinner__cont
                      input(type="text" value="3%").spinner__input
                  .col-auto
                    a(href="").spinner__btn.spinner__btn--pluse
            .col-1-2
              .form-row 
                label.form-row__label 5 min
                .spinner.flex-wrap
                  .col-auto.mr-auto
                    a(href="").spinner__btn.spinner__btn--minus
                  .col 
                    .spinner__cont
                      input(type="text" value="3%").spinner__input
                  .col-auto
                    a(href="").spinner__btn.spinner__btn--pluse
            .col-1-2
              .form-row 
                label.form-row__label 5 min
                .spinner.flex-wrap
                  .col-auto.mr-auto
                    a(href="").spinner__btn.spinner__btn--minus
                  .col 
                    .spinner__cont
                      input(type="text" value="3%").spinner__input
                  .col-auto
                    a(href="").spinner__btn.spinner__btn--pluse
            .col-1-2
              .form-row 
                label.form-row__label 5 min
                .spinner.flex-wrap
                  .col-auto.mr-auto
                    a(href="").spinner__btn.spinner__btn--minus
                  .col 
                    .spinner__cont
                      input(type="text" value="3%").spinner__input
                  .col-auto
                    a(href="").spinner__btn.spinner__btn--pluse
            .col-1
              .form-row.mt-8
                a(href="").btn.btn__blue-2.btn__full.btn__mega Submit
