extends layouts/layout.pug

block title
  title Coin status

block content
  .flex-p-wrap.mt-30 
    .col-2-3
      .inner-block.min-h-full
        .flex-wrap 
          .col-1-2
            .tabs
              .tabs__list.tabs__list-btn
                .col-1-2.tabs__list-item.tabs__list-item--active(data-tab="#by-price") По цене
                .col-1-2.tabs__list-item(data-tab="#by-volume") По объему
              .tabs__cont
                #by-price.tabs__item.tabs__item--active 
                  .p-inner 
                    .form-row.form-row__or
                      label.form-row__label Пара
                      .flex-p-wrap.flex-p-def
                        .col-1-2
                          select.select-icon
                            option(data-icon="btc") BTC
                            option(data-icon="litecoin") Litecoin
                            option(data-icon="binance") Binance 3
                        .col-1-2
                          select.select-icon
                            option(data-icon="bch") BCH
                            option(data-icon="litecoin") Litecoin
                            option(data-icon="binance") Binance 3
                    .flex-p-wrap.flex-p-def.mt-20
                      .col-1-2
                        .form-row
                          .form-row__label Текущая цена
                          .form-row__price.mt-15
                            | 132.32
                            span.form-row__price--num 150 
                            span.form-row__price--currency ETH
                          .form-row__val 2141.45 USD
                      .col-1-2
                        .form-row
                          .form-row__label Границы
                          .form-row__scope.mt-15.text-green 31.5 USD
                          .form-row__scope.text-red 21.5 USD
                    .flex-p-wrap.mt-20
                      .col-1-2
                        .form-row 
                          label.form-row__label Верхняя
                          .flex-wrap
                            .form-row__check-inner
                              label.checkbox 
                                .checkbox__inner
                                  input(type="checkbox").checkbox__inner-input
                                  .checkbox__inner-check
                                    svg.icon.icon--checked
                                      use(xlink:href="img/svg-sprite.svg#checked")
                            .col
                              .slider.mt-10(data-value="40")
                      .col-1-2
                        .form-row 
                          .spinner-v 
                            a(href="").spinner-v__btn.spinner-v__btn--up
                            a(href="").spinner-v__btn.spinner-v__btn--down
                            .spinner-v__num.text-green 33% 
                    .flex-p-wrap
                      .col-1-2
                        .form-row 
                          label.form-row__label Нижняя
                          .flex-wrap
                            .form-row__check-inner
                              label.checkbox.checkbox__red
                                .checkbox__inner
                                  input(type="checkbox" checked).checkbox__inner-input
                                  .checkbox__inner-check
                                    svg.icon.icon--checked
                                      use(xlink:href="img/svg-sprite.svg#checked")
                            .col
                              .slider.slider__red.mt-10(data-value="40")
                      .col-1-2
                        .form-row 
                          .spinner-v 
                            a(href="").spinner-v__btn.spinner-v__btn--up
                            a(href="").spinner-v__btn.spinner-v__btn--down
                            .spinner-v__num.text-red -13% 
                    .form-row.mt-20
                      button(type="submit").btn.btn__blue.btn__full.btn__mega Submit
                #by-volume.tabs__item 
                  .p-inner 2
          .col-1-2
            .coin-stats.mr-15.mb-15
              .coin-stats__cont
                .flex-wrap 
                  .coin-stats__icon.flex-center-cont
                    svg(class="icon icon--litecoin")
                      use(xlink:href="img/svg-sprite.svg#litecoin")
                  .col
                    .form-row__text Ожидаемый доход
                    .form-row__price
                      | 42.32
                      span.form-row__price--num 150 
                      span.form-row__price--currency USD
                .coin-stats__list
                  .coin-stats__scroll.coin-stats__scroll--large.mCustomScrollbar
                    .coin-stats__list-item
                      .coin-stats__list-num 0.32
                        span 150
                      .coin-stats__list-cont
                        .coin-stats__list-progress
                          div(style="width:70%")
                    .coin-stats__list-item.coin-stats__list-item--green
                      .coin-stats__list-num 0.31
                        span 150
                      .coin-stats__list-cont
                        .coin-stats__list-progress
                          div(style="width:95%")
                    .coin-stats__list-item.coin-stats__list-item--blue
                      .coin-stats__list-num 0.30
                        span 150
                      .coin-stats__list-cont
                        .coin-stats__list-progress
                          div(style="width:75%")
                    .coin-stats__list-item.coin-stats__list-item--blue
                      .coin-stats__list-num 0.29
                        span 150
                      .coin-stats__list-cont
                        .coin-stats__list-progress
                          div(style="width:50%")
                    .coin-stats__list-item.coin-stats__list-item--red
                      .coin-stats__list-num 0.28
                        span 150
                      .coin-stats__list-cont
                        .coin-stats__list-progress
                          div(style="width:88%")
                    .coin-stats__list-item
                      .coin-stats__list-num 0.27
                        span 150
                      .coin-stats__list-cont
                        .coin-stats__list-progress
                          div(style="width:38%")
                    .coin-stats__list-item
                      .coin-stats__list-num 0.26
                        span 150
                      .coin-stats__list-cont
                        .coin-stats__list-progress
                          div(style="width:78%")
                    .coin-stats__list-item
                      .coin-stats__list-num 0.25
                        span 150
                      .coin-stats__list-cont
                        .coin-stats__list-progress
                          div(style="width:98%")
                    .coin-stats__list-item
                      .coin-stats__list-num 0.25
                        span 150
                      .coin-stats__list-cont
                        .coin-stats__list-progress
                          div(style="width:18%")
                    .coin-stats__list-item
                      .coin-stats__list-num 0.25
                        span 150
                      .coin-stats__list-cont
                        .coin-stats__list-progress
                          div(style="width:68%")
                    .coin-stats__list-item
                      .coin-stats__list-num 0.25
                        span 150
                      .coin-stats__list-cont
                        .coin-stats__list-progress
                          div(style="width:28%")
                    .coin-stats__list-item
                      .coin-stats__list-num 0.27
                        span 150
                      .coin-stats__list-cont
                        .coin-stats__list-progress
                          div(style="width:38%")
                    .coin-stats__list-item
                      .coin-stats__list-num 0.26
                        span 150
                      .coin-stats__list-cont
                        .coin-stats__list-progress
                          div(style="width:78%")
                    .coin-stats__list-item
                      .coin-stats__list-num 0.25
                        span 150
                      .coin-stats__list-cont
                        .coin-stats__list-progress
                          div(style="width:98%")
                    .coin-stats__list-item
                      .coin-stats__list-num 0.25
                        span 150
                      .coin-stats__list-cont
                        .coin-stats__list-progress
                          div(style="width:18%")
                    .coin-stats__list-item
                      .coin-stats__list-num 0.25
                        span 150
                      .coin-stats__list-cont
                        .coin-stats__list-progress
                          div(style="width:68%")
                    .coin-stats__list-item
                      .coin-stats__list-num 0.25
                        span 150
                      .coin-stats__list-cont
                        .coin-stats__list-progress
                          div(style="width:28%")
                    .coin-stats__list-item
                      .coin-stats__list-num 0.27
                        span 150
                      .coin-stats__list-cont
                        .coin-stats__list-progress
                          div(style="width:38%")
                    .coin-stats__list-item
                      .coin-stats__list-num 0.26
                        span 150
                      .coin-stats__list-cont
                        .coin-stats__list-progress
                          div(style="width:78%")
                    .coin-stats__list-item
                      .coin-stats__list-num 0.25
                        span 150
                      .coin-stats__list-cont
                        .coin-stats__list-progress
                          div(style="width:98%")
                    .coin-stats__list-item
                      .coin-stats__list-num 0.25
                        span 150
                      .coin-stats__list-cont
                        .coin-stats__list-progress
                          div(style="width:18%")
                    .coin-stats__list-item
                      .coin-stats__list-num 0.25
                        span 150
                      .coin-stats__list-cont
                        .coin-stats__list-progress
                          div(style="width:68%")
                    .coin-stats__list-item
                      .coin-stats__list-num 0.25
                        span 150
                      .coin-stats__list-cont
                        .coin-stats__list-progress
                          div(style="width:28%")
              .coin-stats__icon-bg
                svg(class="icon icon--litecoin")
                  use(xlink:href="img/svg-sprite.svg#litecoin")
    .col-1-3
      .inner-block.min-h-full
        .coin-check
          .coin-check__scroll.mCustomScrollbar
            .coin-check__inner
              .coin-check__item
                .coin-check__coin
                  svg(class="icon icon--btc")
                    use(xlink:href="img/svg-sprite.svg#btc")
                .coin-check__coin-old
                  svg(class="icon icon--bch")
                    use(xlink:href="img/svg-sprite.svg#bch")
                a(href="").coin-check__close
                  svg(class="icon icon--remove")
                    use(xlink:href="img/svg-sprite.svg#remove")
                .flex-p-wrap
                  .col-auto
                    .coin-check__name ETH/BTC
                    .flex-wrap.coin-check__price.text-green
                      .coin-check__persent +13%
                      .col 31.50000 USD
                    .flex-wrap.coin-check__price.text-red
                      .coin-check__persent -5%
                      .col 21.5044 USD
                  .col-auto.ml-auto
                    .swicher
                      input(type="checkbox").swicher__input
                      .swicher__circle
              .coin-check__item
                .coin-check__coin
                  svg(class="icon icon--bch")
                    use(xlink:href="img/svg-sprite.svg#bch")
                .coin-check__coin-old
                  svg(class="icon icon--btc")
                    use(xlink:href="img/svg-sprite.svg#btc")
                a(href="").coin-check__close
                  svg(class="icon icon--remove")
                    use(xlink:href="img/svg-sprite.svg#remove")
                .flex-p-wrap
                  .col-auto
                    .coin-check__name ETH/BTC
                    .flex-wrap.coin-check__price.text-green
                      .coin-check__persent +13%
                      .col 31.50000 USD
                    .flex-wrap.coin-check__price.text-red
                      .coin-check__persent -5%
                      .col 21.5044 USD
                  .col-auto.ml-auto
                    .swicher
                      input(type="checkbox" checked).swicher__input
                      .swicher__circle
              .coin-check__item
                .coin-check__coin
                  svg(class="icon icon--litecoin")
                    use(xlink:href="img/svg-sprite.svg#litecoin")
                .coin-check__coin-old
                  svg(class="icon icon--binance")
                    use(xlink:href="img/svg-sprite.svg#binance")
                a(href="").coin-check__close
                  svg(class="icon icon--remove")
                    use(xlink:href="img/svg-sprite.svg#remove")
                .flex-p-wrap
                  .col-auto
                    .coin-check__name ETH/BTC
                    .flex-wrap.coin-check__price.text-green
                      .coin-check__persent +13%
                      .col 31.50000 USD
                    .flex-wrap.coin-check__price.text-red
                      .coin-check__persent -5%
                      .col 21.5044 USD
                  .col-auto.ml-auto
                    .swicher
                      input(type="checkbox").swicher__input
                      .swicher__circle
              .coin-check__item
                .coin-check__coin
                  svg(class="icon icon--btc")
                    use(xlink:href="img/svg-sprite.svg#btc")
                .coin-check__coin-old
                  svg(class="icon icon--bch")
                    use(xlink:href="img/svg-sprite.svg#bch")
                a(href="").coin-check__close
                  svg(class="icon icon--remove")
                    use(xlink:href="img/svg-sprite.svg#remove")
                .flex-p-wrap
                  .col-auto
                    .coin-check__name ETH/BTC
                    .flex-wrap.coin-check__price.text-green
                      .coin-check__persent +13%
                      .col 31.50000 USD
                    .flex-wrap.coin-check__price.text-red
                      .coin-check__persent -5%
                      .col 21.5044 USD
                  .col-auto.ml-auto
                    .swicher
                      input(type="checkbox").swicher__input
                      .swicher__circle
              .coin-check__item
                .coin-check__coin
                  svg(class="icon icon--bch")
                    use(xlink:href="img/svg-sprite.svg#bch")
                .coin-check__coin-old
                  svg(class="icon icon--btc")
                    use(xlink:href="img/svg-sprite.svg#btc")
                a(href="").coin-check__close
                  svg(class="icon icon--remove")
                    use(xlink:href="img/svg-sprite.svg#remove")
                .flex-p-wrap
                  .col-auto
                    .coin-check__name ETH/BTC
                    .flex-wrap.coin-check__price.text-green
                      .coin-check__persent +13%
                      .col 31.50000 USD
                    .flex-wrap.coin-check__price.text-red
                      .coin-check__persent -5%
                      .col 21.5044 USD
                  .col-auto.ml-auto
                    .swicher
                      input(type="checkbox" checked).swicher__input
                      .swicher__circle
              .coin-check__item
                .coin-check__coin
                  svg(class="icon icon--litecoin")
                    use(xlink:href="img/svg-sprite.svg#litecoin")
                .coin-check__coin-old
                  svg(class="icon icon--binance")
                    use(xlink:href="img/svg-sprite.svg#binance")
                a(href="").coin-check__close
                  svg(class="icon icon--remove")
                    use(xlink:href="img/svg-sprite.svg#remove")
                .flex-p-wrap
                  .col-auto
                    .coin-check__name ETH/BTC
                    .flex-wrap.coin-check__price.text-green
                      .coin-check__persent +13%
                      .col 31.50000 USD
                    .flex-wrap.coin-check__price.text-red
                      .coin-check__persent -5%
                      .col 21.5044 USD
                  .col-auto.ml-auto
                    .swicher
                      input(type="checkbox").swicher__input
                      .swicher__circle
              .coin-check__item
                .coin-check__coin
                  svg(class="icon icon--btc")
                    use(xlink:href="img/svg-sprite.svg#btc")
                .coin-check__coin-old
                  svg(class="icon icon--bch")
                    use(xlink:href="img/svg-sprite.svg#bch")
                a(href="").coin-check__close
                  svg(class="icon icon--remove")
                    use(xlink:href="img/svg-sprite.svg#remove")
                .flex-p-wrap
                  .col-auto
                    .coin-check__name ETH/BTC
                    .flex-wrap.coin-check__price.text-green
                      .coin-check__persent +13%
                      .col 31.50000 USD
                    .flex-wrap.coin-check__price.text-red
                      .coin-check__persent -5%
                      .col 21.5044 USD
                  .col-auto.ml-auto
                    .swicher
                      input(type="checkbox").swicher__input
                      .swicher__circle
              .coin-check__item
                .coin-check__coin
                  svg(class="icon icon--bch")
                    use(xlink:href="img/svg-sprite.svg#bch")
                .coin-check__coin-old
                  svg(class="icon icon--btc")
                    use(xlink:href="img/svg-sprite.svg#btc")
                a(href="").coin-check__close
                  svg(class="icon icon--remove")
                    use(xlink:href="img/svg-sprite.svg#remove")
                .flex-p-wrap
                  .col-auto
                    .coin-check__name ETH/BTC
                    .flex-wrap.coin-check__price.text-green
                      .coin-check__persent +13%
                      .col 31.50000 USD
                    .flex-wrap.coin-check__price.text-red
                      .coin-check__persent -5%
                      .col 21.5044 USD
                  .col-auto.ml-auto
                    .swicher
                      input(type="checkbox" checked).swicher__input
                      .swicher__circle
              .coin-check__item
                .coin-check__coin
                  svg(class="icon icon--litecoin")
                    use(xlink:href="img/svg-sprite.svg#litecoin")
                .coin-check__coin-old
                  svg(class="icon icon--binance")
                    use(xlink:href="img/svg-sprite.svg#binance")
                a(href="").coin-check__close
                  svg(class="icon icon--remove")
                    use(xlink:href="img/svg-sprite.svg#remove")
                .flex-p-wrap
                  .col-auto
                    .coin-check__name ETH/BTC
                    .flex-wrap.coin-check__price.text-green
                      .coin-check__persent +13%
                      .col 31.50000 USD
                    .flex-wrap.coin-check__price.text-red
                      .coin-check__persent -5%
                      .col 21.5044 USD
                  .col-auto.ml-auto
                    .swicher
                      input(type="checkbox").swicher__input
                      .swicher__circle
              .coin-check__item
                .coin-check__coin
                  svg(class="icon icon--btc")
                    use(xlink:href="img/svg-sprite.svg#btc")
                .coin-check__coin-old
                  svg(class="icon icon--bch")
                    use(xlink:href="img/svg-sprite.svg#bch")
                a(href="").coin-check__close
                  svg(class="icon icon--remove")
                    use(xlink:href="img/svg-sprite.svg#remove")
                .flex-p-wrap
                  .col-auto
                    .coin-check__name ETH/BTC
                    .flex-wrap.coin-check__price.text-green
                      .coin-check__persent +13%
                      .col 31.50000 USD
                    .flex-wrap.coin-check__price.text-red
                      .coin-check__persent -5%
                      .col 21.5044 USD
                  .col-auto.ml-auto
                    .swicher
                      input(type="checkbox").swicher__input
                      .swicher__circle
              .coin-check__item
                .coin-check__coin
                  svg(class="icon icon--bch")
                    use(xlink:href="img/svg-sprite.svg#bch")
                .coin-check__coin-old
                  svg(class="icon icon--btc")
                    use(xlink:href="img/svg-sprite.svg#btc")
                a(href="").coin-check__close
                  svg(class="icon icon--remove")
                    use(xlink:href="img/svg-sprite.svg#remove")
                .flex-p-wrap
                  .col-auto
                    .coin-check__name ETH/BTC
                    .flex-wrap.coin-check__price.text-green
                      .coin-check__persent +13%
                      .col 31.50000 USD
                    .flex-wrap.coin-check__price.text-red
                      .coin-check__persent -5%
                      .col 21.5044 USD
                  .col-auto.ml-auto
                    .swicher
                      input(type="checkbox" checked).swicher__input
                      .swicher__circle
              .coin-check__item
                .coin-check__coin
                  svg(class="icon icon--litecoin")
                    use(xlink:href="img/svg-sprite.svg#litecoin")
                .coin-check__coin-old
                  svg(class="icon icon--binance")
                    use(xlink:href="img/svg-sprite.svg#binance")
                a(href="").coin-check__close
                  svg(class="icon icon--remove")
                    use(xlink:href="img/svg-sprite.svg#remove")
                .flex-p-wrap
                  .col-auto
                    .coin-check__name ETH/BTC
                    .flex-wrap.coin-check__price.text-green
                      .coin-check__persent +13%
                      .col 31.50000 USD
                    .flex-wrap.coin-check__price.text-red
                      .coin-check__persent -5%
                      .col 21.5044 USD
                  .col-auto.ml-auto
                    .swicher
                      input(type="checkbox").swicher__input
                      .swicher__circle
