extends layouts/layout.pug

block title
  title Coin status
block scripts
  script(src="https://code.highcharts.com/highcharts.js")
  script(src="https://code.highcharts.com/modules/series-label.js")
  script(src="https://code.highcharts.com/modules/exporting.js")
  script(src="https://code.highcharts.com/modules/export-data.js")
  script(src="https://code.highcharts.com/themes/dark-unica.js")
  
  script.
    Highcharts.chart('container', {
      chart: {
          type: 'spline',
          scrollablePlotArea: {
              minWidth: 500,
              scrollPositionX: 1
          }
      },

      xAxis: {
          type: 'datetime',
          labels: {
              overflow: 'justify'
          }
      },
      yAxis: {
          title: {
              text: 'Wind speed (m/s)'
          },
          minorGridLineWidth: 0,
          gridLineWidth: 0,
          alternateGridColor: null,
          plotBands: [{ // Light air
              from: 0.3,
              to: 1.5,
              color: 'rgba(68, 170, 213, 0.1)',
              label: {
                  text: 'Light air',
                  style: {
                      color: '#606060'
                  }
              }
          }, { // Light breeze
              from: 1.5,
              to: 3.3,
              color: 'rgba(0, 0, 0, 0)',
              label: {
                  text: 'Light breeze',
                  style: {
                      color: '#606060'
                  }
              }
          }, { // Gentle breeze
              from: 3.3,
              to: 5.5,
              color: 'rgba(68, 170, 213, 0.1)',
              label: {
                  text: 'Gentle breeze',
                  style: {
                      color: '#606060'
                  }
              }
          }, { // Moderate breeze
              from: 5.5,
              to: 8,
              color: 'rgba(0, 0, 0, 0)',
              label: {
                  text: 'Moderate breeze',
                  style: {
                      color: '#606060'
                  }
              }
          }, { // Fresh breeze
              from: 8,
              to: 11,
              color: 'rgba(68, 170, 213, 0.1)',
              label: {
                  text: 'Fresh breeze',
                  style: {
                      color: '#606060'
                  }
              }
          }, { // Strong breeze
              from: 11,
              to: 14,
              color: 'rgba(0, 0, 0, 0)',
              label: {
                  text: 'Strong breeze',
                  style: {
                      color: '#606060'
                  }
              }
          }, { // High wind
              from: 14,
              to: 15,
              color: 'rgba(68, 170, 213, 0.1)',
              label: {
                  text: 'High wind',
                  style: {
                      color: '#606060'
                  }
              }
          }]
      },
      tooltip: {
          valueSuffix: ' m/s'
      },
      plotOptions: {
          spline: {
              lineWidth: 4,
              states: {
                  hover: {
                      lineWidth: 5
                  }
              },
              marker: {
                  enabled: false
              },
              pointInterval: 3600000, // one hour
              pointStart: Date.UTC(2018, 1, 13, 0, 0, 0)
          }
      },
      series: [{
          name: 'Hestavollane',
          data: [
              3.7, 3.3, 3.9, 5.1, 3.5, 3.8, 4.0, 5.0, 6.1, 3.7, 3.3, 6.4,
              6.9, 6.0, 6.8, 4.4, 4.0, 3.8, 5.0, 4.9, 9.2, 9.6, 9.5, 6.3,
              9.5, 10.8, 14.0, 11.5, 10.0, 10.2, 10.3, 9.4, 8.9, 10.6, 10.5, 11.1,
              10.4, 10.7, 11.3, 10.2, 9.6, 10.2, 11.1, 10.8, 13.0, 12.5, 12.5, 11.3,
              10.1
          ]

      }, {
          name: 'Vik',
          data: [
              0.2, 0.1, 0.1, 0.1, 0.3, 0.2, 0.3, 0.1, 0.7, 0.3, 0.2, 0.2,
              0.3, 0.1, 0.3, 0.4, 0.3, 0.2, 0.3, 0.2, 0.4, 0.0, 0.9, 0.3,
              0.7, 1.1, 1.8, 1.2, 1.4, 1.2, 0.9, 0.8, 0.9, 0.2, 0.4, 1.2,
              0.3, 2.3, 1.0, 0.7, 1.0, 0.8, 2.0, 1.2, 1.4, 3.7, 2.1, 2.0,
              1.5
          ]
      }],
      navigation: {
          menuItemStyle: {
              fontSize: '10px'
          }
      }
    });
    
    Highcharts.chart('container-2', {
      chart: {
          type: 'spline',
          scrollablePlotArea: {
              minWidth: 500,
              scrollPositionX: 1
          }
      },

      xAxis: {
          type: 'datetime',
          labels: {
              overflow: 'justify'
          }
      },
      yAxis: {
          title: {
              text: 'Wind speed (m/s)'
          },
          minorGridLineWidth: 0,
          gridLineWidth: 0,
          alternateGridColor: null,
          plotBands: [{ // Light air
              from: 0.3,
              to: 1.5,
              color: 'rgba(68, 170, 213, 0.1)',
              label: {
                  text: 'Light air',
                  style: {
                      color: '#606060'
                  }
              }
          }, { // Light breeze
              from: 1.5,
              to: 3.3,
              color: 'rgba(0, 0, 0, 0)',
              label: {
                  text: 'Light breeze',
                  style: {
                      color: '#606060'
                  }
              }
          }, { // Gentle breeze
              from: 3.3,
              to: 5.5,
              color: 'rgba(68, 170, 213, 0.1)',
              label: {
                  text: 'Gentle breeze',
                  style: {
                      color: '#606060'
                  }
              }
          }, { // Moderate breeze
              from: 5.5,
              to: 8,
              color: 'rgba(0, 0, 0, 0)',
              label: {
                  text: 'Moderate breeze',
                  style: {
                      color: '#606060'
                  }
              }
          }, { // Fresh breeze
              from: 8,
              to: 11,
              color: 'rgba(68, 170, 213, 0.1)',
              label: {
                  text: 'Fresh breeze',
                  style: {
                      color: '#606060'
                  }
              }
          }, { // Strong breeze
              from: 11,
              to: 14,
              color: 'rgba(0, 0, 0, 0)',
              label: {
                  text: 'Strong breeze',
                  style: {
                      color: '#606060'
                  }
              }
          }, { // High wind
              from: 14,
              to: 15,
              color: 'rgba(68, 170, 213, 0.1)',
              label: {
                  text: 'High wind',
                  style: {
                      color: '#606060'
                  }
              }
          }]
      },
      tooltip: {
          valueSuffix: ' m/s'
      },
      plotOptions: {
          spline: {
              lineWidth: 4,
              states: {
                  hover: {
                      lineWidth: 5
                  }
              },
              marker: {
                  enabled: false
              },
              pointInterval: 3600000, // one hour
              pointStart: Date.UTC(2018, 1, 13, 0, 0, 0)
          }
      },
      series: [{
          name: 'Hestavollane',
          data: [
              3.7, 3.3, 3.9, 5.1, 3.5, 3.8, 4.0, 5.0, 6.1, 3.7, 3.3, 6.4,
              6.9, 6.0, 6.8, 4.4, 4.0, 3.8, 5.0, 4.9, 9.2, 9.6, 9.5, 6.3,
              9.5, 10.8, 14.0, 11.5, 10.0, 10.2, 10.3, 9.4, 8.9, 10.6, 10.5, 11.1,
              10.4, 10.7, 11.3, 10.2, 9.6, 10.2, 11.1, 10.8, 13.0, 12.5, 12.5, 11.3,
              10.1
          ]

      }, {
          name: 'Vik',
          data: [
              0.2, 0.1, 0.1, 0.1, 0.3, 0.2, 0.3, 0.1, 0.7, 0.3, 0.2, 0.2,
              0.3, 0.1, 0.3, 0.4, 0.3, 0.2, 0.3, 0.2, 0.4, 0.0, 0.9, 0.3,
              0.7, 1.1, 1.8, 1.2, 1.4, 1.2, 0.9, 0.8, 0.9, 0.2, 0.4, 1.2,
              0.3, 2.3, 1.0, 0.7, 1.0, 0.8, 2.0, 1.2, 1.4, 3.7, 2.1, 2.0,
              1.5
          ]
      }],
      navigation: {
          menuItemStyle: {
              fontSize: '10px'
          }
      }
    });
    
    Highcharts.chart('container-3', {
      chart: {
          type: 'spline',
          scrollablePlotArea: {
              minWidth: 500,
              scrollPositionX: 1
          }
      },

      xAxis: {
          type: 'datetime',
          labels: {
              overflow: 'justify'
          }
      },
      yAxis: {
          title: {
              text: 'Wind speed (m/s)'
          },
          minorGridLineWidth: 0,
          gridLineWidth: 0,
          alternateGridColor: null,
          plotBands: [{ // Light air
              from: 0.3,
              to: 1.5,
              color: 'rgba(68, 170, 213, 0.1)',
              label: {
                  text: 'Light air',
                  style: {
                      color: '#606060'
                  }
              }
          }, { // Light breeze
              from: 1.5,
              to: 3.3,
              color: 'rgba(0, 0, 0, 0)',
              label: {
                  text: 'Light breeze',
                  style: {
                      color: '#606060'
                  }
              }
          }, { // Gentle breeze
              from: 3.3,
              to: 5.5,
              color: 'rgba(68, 170, 213, 0.1)',
              label: {
                  text: 'Gentle breeze',
                  style: {
                      color: '#606060'
                  }
              }
          }, { // Moderate breeze
              from: 5.5,
              to: 8,
              color: 'rgba(0, 0, 0, 0)',
              label: {
                  text: 'Moderate breeze',
                  style: {
                      color: '#606060'
                  }
              }
          }, { // Fresh breeze
              from: 8,
              to: 11,
              color: 'rgba(68, 170, 213, 0.1)',
              label: {
                  text: 'Fresh breeze',
                  style: {
                      color: '#606060'
                  }
              }
          }, { // Strong breeze
              from: 11,
              to: 14,
              color: 'rgba(0, 0, 0, 0)',
              label: {
                  text: 'Strong breeze',
                  style: {
                      color: '#606060'
                  }
              }
          }, { // High wind
              from: 14,
              to: 15,
              color: 'rgba(68, 170, 213, 0.1)',
              label: {
                  text: 'High wind',
                  style: {
                      color: '#606060'
                  }
              }
          }]
      },
      tooltip: {
          valueSuffix: ' m/s'
      },
      plotOptions: {
          spline: {
              lineWidth: 4,
              states: {
                  hover: {
                      lineWidth: 5
                  }
              },
              marker: {
                  enabled: false
              },
              pointInterval: 3600000, // one hour
              pointStart: Date.UTC(2018, 1, 13, 0, 0, 0)
          }
      },
      series: [{
          name: 'Hestavollane',
          data: [
              3.7, 3.3, 3.9, 5.1, 3.5, 3.8, 4.0, 5.0, 6.1, 3.7, 3.3, 6.4,
              6.9, 6.0, 6.8, 4.4, 4.0, 3.8, 5.0, 4.9, 9.2, 9.6, 9.5, 6.3,
              9.5, 10.8, 14.0, 11.5, 10.0, 10.2, 10.3, 9.4, 8.9, 10.6, 10.5, 11.1,
              10.4, 10.7, 11.3, 10.2, 9.6, 10.2, 11.1, 10.8, 13.0, 12.5, 12.5, 11.3,
              10.1
          ]

      }, {
          name: 'Vik',
          data: [
              0.2, 0.1, 0.1, 0.1, 0.3, 0.2, 0.3, 0.1, 0.7, 0.3, 0.2, 0.2,
              0.3, 0.1, 0.3, 0.4, 0.3, 0.2, 0.3, 0.2, 0.4, 0.0, 0.9, 0.3,
              0.7, 1.1, 1.8, 1.2, 1.4, 1.2, 0.9, 0.8, 0.9, 0.2, 0.4, 1.2,
              0.3, 2.3, 1.0, 0.7, 1.0, 0.8, 2.0, 1.2, 1.4, 3.7, 2.1, 2.0,
              1.5
          ]
      }],
      navigation: {
          menuItemStyle: {
              fontSize: '10px'
          }
      }
    });
    
    Highcharts.chart('container-4', {
      chart: {
          type: 'spline',
          scrollablePlotArea: {
              minWidth: 500,
              scrollPositionX: 1
          }
      },

      xAxis: {
          type: 'datetime',
          labels: {
              overflow: 'justify'
          }
      },
      yAxis: {
          title: {
              text: 'Wind speed (m/s)'
          },
          minorGridLineWidth: 0,
          gridLineWidth: 0,
          alternateGridColor: null,
          plotBands: [{ // Light air
              from: 0.3,
              to: 1.5,
              color: 'rgba(68, 170, 213, 0.1)',
              label: {
                  text: 'Light air',
                  style: {
                      color: '#606060'
                  }
              }
          }, { // Light breeze
              from: 1.5,
              to: 3.3,
              color: 'rgba(0, 0, 0, 0)',
              label: {
                  text: 'Light breeze',
                  style: {
                      color: '#606060'
                  }
              }
          }, { // Gentle breeze
              from: 3.3,
              to: 5.5,
              color: 'rgba(68, 170, 213, 0.1)',
              label: {
                  text: 'Gentle breeze',
                  style: {
                      color: '#606060'
                  }
              }
          }, { // Moderate breeze
              from: 5.5,
              to: 8,
              color: 'rgba(0, 0, 0, 0)',
              label: {
                  text: 'Moderate breeze',
                  style: {
                      color: '#606060'
                  }
              }
          }, { // Fresh breeze
              from: 8,
              to: 11,
              color: 'rgba(68, 170, 213, 0.1)',
              label: {
                  text: 'Fresh breeze',
                  style: {
                      color: '#606060'
                  }
              }
          }, { // Strong breeze
              from: 11,
              to: 14,
              color: 'rgba(0, 0, 0, 0)',
              label: {
                  text: 'Strong breeze',
                  style: {
                      color: '#606060'
                  }
              }
          }, { // High wind
              from: 14,
              to: 15,
              color: 'rgba(68, 170, 213, 0.1)',
              label: {
                  text: 'High wind',
                  style: {
                      color: '#606060'
                  }
              }
          }]
      },
      tooltip: {
          valueSuffix: ' m/s'
      },
      plotOptions: {
          spline: {
              lineWidth: 4,
              states: {
                  hover: {
                      lineWidth: 5
                  }
              },
              marker: {
                  enabled: false
              },
              pointInterval: 3600000, // one hour
              pointStart: Date.UTC(2018, 1, 13, 0, 0, 0)
          }
      },
      series: [{
          name: 'Hestavollane',
          data: [
              3.7, 3.3, 3.9, 5.1, 3.5, 3.8, 4.0, 5.0, 6.1, 3.7, 3.3, 6.4,
              6.9, 6.0, 6.8, 4.4, 4.0, 3.8, 5.0, 4.9, 9.2, 9.6, 9.5, 6.3,
              9.5, 10.8, 14.0, 11.5, 10.0, 10.2, 10.3, 9.4, 8.9, 10.6, 10.5, 11.1,
              10.4, 10.7, 11.3, 10.2, 9.6, 10.2, 11.1, 10.8, 13.0, 12.5, 12.5, 11.3,
              10.1
          ]

      }, {
          name: 'Vik',
          data: [
              0.2, 0.1, 0.1, 0.1, 0.3, 0.2, 0.3, 0.1, 0.7, 0.3, 0.2, 0.2,
              0.3, 0.1, 0.3, 0.4, 0.3, 0.2, 0.3, 0.2, 0.4, 0.0, 0.9, 0.3,
              0.7, 1.1, 1.8, 1.2, 1.4, 1.2, 0.9, 0.8, 0.9, 0.2, 0.4, 1.2,
              0.3, 2.3, 1.0, 0.7, 1.0, 0.8, 2.0, 1.2, 1.4, 3.7, 2.1, 2.0,
              1.5
          ]
      }],
      navigation: {
          menuItemStyle: {
              fontSize: '10px'
          }
      }
    });
block content
  .coin-info
    .flex-p-wrap.coin-info__header
      .col-auto 
        .coin-info__select 
          label.form-row__label Как выглядит
          select.select-icon
            option(data-icon="binance") Binance
            option(data-icon="litecoin") Litecoin
            option(data-icon="binance") Binance 3
        .coin-info__regarding 
          .coin-info__regarding-label относительно
          .coin-info__regarding-row
            .flex-wrap
              .coin-price.coin-price--active
                .coin-price__name
                  svg.coin-price__icon.icon.icon--btc
                    use(xlink:href="img/svg-sprite.svg#btc")
                  span BTC
              .coin-price
                .coin-price__name
                  svg.coin-price__icon.icon.icon--btc
                    use(xlink:href="img/svg-sprite.svg#btc")
                  span BTC
              .coin-price
                .coin-price__name
                  svg.coin-price__icon.icon.icon--btc
                    use(xlink:href="img/svg-sprite.svg#btc")
                  span BTC
              .coin-price
                .coin-price__name
                  svg.coin-price__icon.icon.icon--bch
                    use(xlink:href="img/svg-sprite.svg#bch")
                  span BCH
      .col-auto.ml-auto 
        .coin-info__title ADA
          span /BTC
        .form-row__price.text-right 0.32
          span.form-row__price--num 150 
          span.form-row__price--currency BTC
    .inner-block.p-inner
      .category-title
        .category-title__icon
          svg.icon.icon--statistics-2
            use(xlink:href="img/svg-sprite.svg#statistics-2")
        | Your Score 
        span Overall
      .flex-p-wrap.coin-info__charts 
        .col-1-6
          .coin-info__chart
            .coin-info__chart-title 1 min
            .coin-info__c-list
              .coin-info__c-list-item.coin-info__c-list-item--red Sell
              .coin-info__c-list-item.coin-info__c-list-item--violet Buy
            .coin-info__chart-inner
              .coin-info__chart-percent 55.1%
              svg.circle-chart(width='100%', height='100%', viewbox='0 0 42 42', data-val="55")
                circle.circle-chart__hole(cx='21', cy='21', r='16', fill='#2d3f5d')
                circle.circle-chart__main(cx='21', cy='21', r='16', fill='transparent', stroke='#ff9e8e', stroke-width='2.5', stroke-dasharray='100', stroke-dashoffset='0', stroke-linecap="butt")
                circle.circle-chart__main-l(cx='21', cy='21', r='16', fill='transparent', stroke='#7e6aff', stroke-width='2.5', stroke-dasharray='100', stroke-dashoffset='0', stroke-linecap="butt")
                circle.circle-chart__sub(cx='21', cy='21', r='20', fill='transparent', stroke='#ff9e8e', stroke-width='0.3', stroke-dasharray='128', stroke-dashoffset='0')
                circle.circle-chart__sub-l(cx='21', cy='21', r='20', fill='transparent', stroke='#7e6aff', stroke-width='0.3', stroke-dasharray='128', stroke-dashoffset='0')
        .col-1-6
          .coin-info__chart
            .coin-info__chart-title 1 min
            .coin-info__c-list
              .coin-info__c-list-item.coin-info__c-list-item--red Sell
              .coin-info__c-list-item.coin-info__c-list-item--violet Buy
            .coin-info__chart-inner
              .coin-info__chart-percent 55.1%
              svg.circle-chart(width='100%', height='100%', viewbox='0 0 42 42', data-val="55")
                circle.circle-chart__hole(cx='21', cy='21', r='16', fill='#2d3f5d')
                circle.circle-chart__main(cx='21', cy='21', r='16', fill='transparent', stroke='#ff9e8e', stroke-width='2.5', stroke-dasharray='100', stroke-dashoffset='0', stroke-linecap="butt")
                circle.circle-chart__main-l(cx='21', cy='21', r='16', fill='transparent', stroke='#7e6aff', stroke-width='2.5', stroke-dasharray='100', stroke-dashoffset='0', stroke-linecap="butt")
                circle.circle-chart__sub(cx='21', cy='21', r='20', fill='transparent', stroke='#ff9e8e', stroke-width='0.3', stroke-dasharray='128', stroke-dashoffset='0')
                circle.circle-chart__sub-l(cx='21', cy='21', r='20', fill='transparent', stroke='#7e6aff', stroke-width='0.3', stroke-dasharray='128', stroke-dashoffset='0')
        .col-1-6
          .coin-info__chart
            .coin-info__chart-title 1 min
            .coin-info__c-list
              .coin-info__c-list-item.coin-info__c-list-item--red Sell
              .coin-info__c-list-item.coin-info__c-list-item--violet Buy
            .coin-info__chart-inner
              .coin-info__chart-percent 55.1%
              svg.circle-chart(width='100%', height='100%', viewbox='0 0 42 42', data-val="55")
                circle.circle-chart__hole(cx='21', cy='21', r='16', fill='#2d3f5d')
                circle.circle-chart__main(cx='21', cy='21', r='16', fill='transparent', stroke='#ff9e8e', stroke-width='2.5', stroke-dasharray='100', stroke-dashoffset='0', stroke-linecap="butt")
                circle.circle-chart__main-l(cx='21', cy='21', r='16', fill='transparent', stroke='#7e6aff', stroke-width='2.5', stroke-dasharray='100', stroke-dashoffset='0', stroke-linecap="butt")
                circle.circle-chart__sub(cx='21', cy='21', r='20', fill='transparent', stroke='#ff9e8e', stroke-width='0.3', stroke-dasharray='128', stroke-dashoffset='0')
                circle.circle-chart__sub-l(cx='21', cy='21', r='20', fill='transparent', stroke='#7e6aff', stroke-width='0.3', stroke-dasharray='128', stroke-dashoffset='0')
        .col-1-6
          .coin-info__chart
            .coin-info__chart-title 1 min
            .coin-info__c-list
              .coin-info__c-list-item.coin-info__c-list-item--red Sell
              .coin-info__c-list-item.coin-info__c-list-item--violet Buy
            .coin-info__chart-inner
              .coin-info__chart-percent 55.1%
              svg.circle-chart(width='100%', height='100%', viewbox='0 0 42 42', data-val="55")
                circle.circle-chart__hole(cx='21', cy='21', r='16', fill='#2d3f5d')
                circle.circle-chart__main(cx='21', cy='21', r='16', fill='transparent', stroke='#ff9e8e', stroke-width='2.5', stroke-dasharray='100', stroke-dashoffset='0', stroke-linecap="butt")
                circle.circle-chart__main-l(cx='21', cy='21', r='16', fill='transparent', stroke='#7e6aff', stroke-width='2.5', stroke-dasharray='100', stroke-dashoffset='0', stroke-linecap="butt")
                circle.circle-chart__sub(cx='21', cy='21', r='20', fill='transparent', stroke='#ff9e8e', stroke-width='0.3', stroke-dasharray='128', stroke-dashoffset='0')
                circle.circle-chart__sub-l(cx='21', cy='21', r='20', fill='transparent', stroke='#7e6aff', stroke-width='0.3', stroke-dasharray='128', stroke-dashoffset='0')
        .col-1-6
          .coin-info__chart
            .coin-info__chart-title 1 min
            .coin-info__c-list
              .coin-info__c-list-item.coin-info__c-list-item--red Sell
              .coin-info__c-list-item.coin-info__c-list-item--violet Buy
            .coin-info__chart-inner
              .coin-info__chart-percent 55.1%
              svg.circle-chart(width='100%', height='100%', viewbox='0 0 42 42', data-val="55")
                circle.circle-chart__hole(cx='21', cy='21', r='16', fill='#2d3f5d')
                circle.circle-chart__main(cx='21', cy='21', r='16', fill='transparent', stroke='#ff9e8e', stroke-width='2.5', stroke-dasharray='100', stroke-dashoffset='0', stroke-linecap="butt")
                circle.circle-chart__main-l(cx='21', cy='21', r='16', fill='transparent', stroke='#7e6aff', stroke-width='2.5', stroke-dasharray='100', stroke-dashoffset='0', stroke-linecap="butt")
                circle.circle-chart__sub(cx='21', cy='21', r='20', fill='transparent', stroke='#ff9e8e', stroke-width='0.3', stroke-dasharray='128', stroke-dashoffset='0')
                circle.circle-chart__sub-l(cx='21', cy='21', r='20', fill='transparent', stroke='#7e6aff', stroke-width='0.3', stroke-dasharray='128', stroke-dashoffset='0')
        .col-1-6
          .coin-info__chart
            .coin-info__chart-title 1 min
            .coin-info__c-list
              .coin-info__c-list-item.coin-info__c-list-item--red Sell
              .coin-info__c-list-item.coin-info__c-list-item--violet Buy
            .coin-info__chart-inner
              .coin-info__chart-percent 55.1%
              svg.circle-chart(width='100%', height='100%', viewbox='0 0 42 42', data-val="55")
                circle.circle-chart__hole(cx='21', cy='21', r='16', fill='#2d3f5d')
                circle.circle-chart__main(cx='21', cy='21', r='16', fill='transparent', stroke='#ff9e8e', stroke-width='2.5', stroke-dasharray='100', stroke-dashoffset='0', stroke-linecap="butt")
                circle.circle-chart__main-l(cx='21', cy='21', r='16', fill='transparent', stroke='#7e6aff', stroke-width='2.5', stroke-dasharray='100', stroke-dashoffset='0', stroke-linecap="butt")
                circle.circle-chart__sub(cx='21', cy='21', r='20', fill='transparent', stroke='#ff9e8e', stroke-width='0.3', stroke-dasharray='128', stroke-dashoffset='0')
                circle.circle-chart__sub-l(cx='21', cy='21', r='20', fill='transparent', stroke='#7e6aff', stroke-width='0.3', stroke-dasharray='128', stroke-dashoffset='0')
    .flex-p-wrap.mt-8
      .col-1-2.coin-info__chart-col
        .coin-info__chart-cont.p-inner
          .category-title 
            .category-title__icon
              svg(class="icon icon--chart")
                use(xlink:href="img/svg-sprite.svg#chart")
            | Last Checked   
            span Users
          #container.coin-info__chart-line
      .col-1-2.coin-info__chart-col
        .coin-info__chart-cont.p-inner
          .category-title 
            .category-title__icon
              svg(class="icon icon--chart")
                use(xlink:href="img/svg-sprite.svg#chart")
            | Last Checked   
            span Users
          #container-2.coin-info__chart-line
      .col-1-2.coin-info__chart-col
        .coin-info__chart-cont.p-inner
          .category-title 
            .category-title__icon
              svg(class="icon icon--chart")
                use(xlink:href="img/svg-sprite.svg#chart")
            | Last Checked   
            span Users
          #container-3.coin-info__chart-line
      .col-1-2.coin-info__chart-col
        .coin-info__chart-cont.p-inner
          .category-title 
            .category-title__icon
              svg(class="icon icon--chart")
                use(xlink:href="img/svg-sprite.svg#chart")
            | Last Checked   
            span Users
          #container-4.coin-info__chart-line
