extends layouts/layout.pug

block title
  title Main page

block content
  .flex-p-wrap.mt-30 
    .col-1-4 
      .inner-block.p-cont.min-h-full
        .form-row 
          label.form-row__label Биржа
          select.select-styler.select-styler__icon
            option.ico-s-binance Binance
            option.ico-s-binance Binance 2
            option.ico-s-binance Binance 3
        .form-row 
          label.form-row__label Ваши активы
          .tabs.tabs__assets
            .tabs__list.flex-wrap
              .col-1-2
                .tabs__list-item.tabs__list-item--active(data-tab="#assets-btc") 
                  .coin-price
                    .coin-price__num 
                      span 0.92
                      | 1500
                    .coin-price__name
                      svg.coin-price__icon.icon.icon--btc
                        use(xlink:href="img/svg-sprite.svg#btc")
                      span BTC
              .col-1-2
                .tabs__list-item(data-tab="#assets-bch") 
                  .coin-price
                    .coin-price__num 
                      span 0.32
                      | 1500
                    .coin-price__name
                      svg.coin-price__icon.icon.icon--bch
                        use(xlink:href="img/svg-sprite.svg#bch")
                      span BCH
            .tabs__cont
              #assets-btc.tabs__item.tabs__item--active 
                select.select-coin
                  option(data-coin="btc" data-icon="btc" data-num="<span>0.32</span>1500") 
                  option(data-coin="bch" data-icon="bch" data-num="<span>0.92</span>1500")
              #assets-bch.tabs__item 
                select.select-coin
                  option(data-coin="bch" data-icon="bch" data-num="<span>0.92</span>1500")
                  option(data-coin="btc" data-icon="btc" data-num="<span>0.32</span>1500") 
        .form-row.mt-30
          label.form-row__label Сумма скупки
          .spinner.flex-wrap
            .col-auto.mr-auto
              a(href="").spinner__btn.spinner__btn--minus
            .col 
              .spinner__cont
                .flex-wrap 
                  .col-1-2.text-center
                    input(type="text" value="0.33").spinner__input.spinner__input--num
                  .col-1-2.text-center
                    svg.spinner__icon.icon.icon--bch
                      use(xlink:href="img/svg-sprite.svg#bch")
                    .spinner__coin bth
            .col-auto
              a(href="").spinner__btn.spinner__btn--pluse
          .btn-row
            .btn-row__item.col-1-4
              a(href="").btn.btn__small.btn__full 25%
            .btn-row__item.col-1-4
              a(href="").btn.btn__small.btn__full 50%
            .btn-row__item.col-1-4
              a(href="").btn.btn__small.btn__full 75%
            .btn-row__item.col-1-4
              a(href="").btn.btn__small.btn__full 100%
        .form-row 
          button(type="submit").btn.btn__blue.btn__full.btn__mega Submit
    .col-3-4 
      .inner-block.p-cont-mega
        .flex-wrap.flex-p-large
          .col-1-2 
            .flex-p-wrap 
              .col-1-2
                .form-row 
                  .form-row__label 
                  select.select-icon
                    option(data-icon="litecoin") Litecoin
                    option(data-icon="binance") Binance 
                    option(data-icon="binance") Binance 3
              .col-1-2
                .form-row__label
                .form-row__text Текущая цена
                .form-row__price
                  | 0.32
                  span.form-row__price--num 150 
                  span.form-row__price--currency USD
            .flex-p-wrap.mt-20
              .col-1-2
                .form-row 
                  label.form-row__label Закупать по цене
                  .slider(data-value="30")
              .col-1-2
                .form-row 
                  .spinner-v 
                    a(href="").spinner-v__btn.spinner-v__btn--up
                    a(href="").spinner-v__btn.spinner-v__btn--down
                    .spinner-v__num
                      | 0.31
                      span 150
                    .spinner-v__percent -17%
            .flex-p-wrap.mt-20
              .col-1-2
                .form-row 
                  label.form-row__label Закупать по цене
                  .slider.slider__blue(data-value="50")
              .col-1-2
                .form-row 
                  .spinner-v 
                    a(href="").spinner-v__btn.spinner-v__btn--up
                    a(href="").spinner-v__btn.spinner-v__btn--down
                    .spinner-v__num.text-blue-2 -13%                    
            .form-row.mt-20
              a(href="").btn.btn__blue.btn__mega.btn__full Submit
          .col-1-2 
            .coin-stats
              .coin-stats__cont
                .flex-wrap 
                  .coin-stats__icon.flex-center-cont
                    svg(class="icon icon--litecoin")
                      use(xlink:href="img/svg-sprite.svg#litecoin")
                  .col
                    .form-row__text Ожидаемый доход
                    .form-row__price
                      | 42.32
                      span.form-row__price--num 150 
                      span.form-row__price--currency USD
                .coin-stats__list
                  .coin-stats__scroll.mCustomScrollbar
                    .coin-stats__list-item
                      .coin-stats__list-num 0.32
                        span 150
                      .coin-stats__list-cont
                        .coin-stats__list-progress
                          div(style="width:70%")
                    .coin-stats__list-item.coin-stats__list-item--green
                      .coin-stats__list-num 0.31
                        span 150
                      .coin-stats__list-cont
                        .coin-stats__list-progress
                          div(style="width:95%")
                    .coin-stats__list-item.coin-stats__list-item--blue
                      .coin-stats__list-num 0.30
                        span 150
                      .coin-stats__list-cont
                        .coin-stats__list-progress
                          div(style="width:75%")
                    .coin-stats__list-item.coin-stats__list-item--blue
                      .coin-stats__list-num 0.29
                        span 150
                      .coin-stats__list-cont
                        .coin-stats__list-progress
                          div(style="width:50%")
                    .coin-stats__list-item.coin-stats__list-item--blue
                      .coin-stats__list-num 0.28
                        span 150
                      .coin-stats__list-cont
                        .coin-stats__list-progress
                          div(style="width:88%")
                    .coin-stats__list-item
                      .coin-stats__list-num 0.27
                        span 150
                      .coin-stats__list-cont
                        .coin-stats__list-progress
                          div(style="width:38%")
                    .coin-stats__list-item
                      .coin-stats__list-num 0.26
                        span 150
                      .coin-stats__list-cont
                        .coin-stats__list-progress
                          div(style="width:78%")
                    .coin-stats__list-item(style="opacity:0.2")
                      .coin-stats__list-num 0.25
                        span 150
                      .coin-stats__list-cont
                        .coin-stats__list-progress
                          div(style="width:98%")
                    .coin-stats__list-item(style="opacity:0.2")
                      .coin-stats__list-num 0.25
                        span 150
                      .coin-stats__list-cont
                        .coin-stats__list-progress
                          div(style="width:18%")
                    .coin-stats__list-item(style="opacity:0.2")
                      .coin-stats__list-num 0.25
                        span 150
                      .coin-stats__list-cont
                        .coin-stats__list-progress
                          div(style="width:68%")
                    .coin-stats__list-item(style="opacity:0.2")
                      .coin-stats__list-num 0.25
                        span 150
                      .coin-stats__list-cont
                        .coin-stats__list-progress
                          div(style="width:28%")
              .coin-stats__icon-bg
                svg(class="icon icon--litecoin")
                  use(xlink:href="img/svg-sprite.svg#litecoin")
      .inner-block.mt-8
        .table-l
          .table-l__head-wrap
            .flex-wrap
              .table-l__th.table-l__num #
              .table-l__th.table-l__name Name
              .table-l__th.table-l__market-cap Market Cap
              .table-l__th.table-l__price Price
              .table-l__th.table-l__volume Volume
              .table-l__th.table-l__change Change
              .table-l__th.table-l__graph Graph
          .table-l__scroll.mCustomScrollbar
            .table-l__body-wrap
              each tableLItem in table_l
                +tableLItem(tableLItem.num,tableLItem.name,tableLItem.market_cap,tableLItem.price,tableLItem.volume,tableLItem.change,tableLItem.graph,tableLItem.style)
            
