extends layouts/layout-sign-in.pug

block title
  title Main page

block content
  h1 Typography
  .inner-block.p-cont
    .flex-p-wrap 
      .col-1-3
        h1 h1 title 
        h2 h2 title 
        h3 h3 title 
      .col-1-3
        .text-blue text color blue 
        .text-blue-2 text color blue 2
        .text-green text color green
        .text-orange text color orange 
        .text-black text color black
        .text-red text color red
        .text-yellow text color yellow
        
      .col-1-3
        .fw-100 font weight 100
        .fw-300 font weight 300
        .fw-500 font weight 500
        .fw-700 font weight 700 or bold
        .fw-900 font weight 900
  h1 All icons
  .flex-wrap
    .col-1-3
      table.table
        tr
          th Class name
          th Icon view
        tr
          td .icon--checked
          td 
            svg.icon.icon--checked
              use(xlink:href="img/svg-sprite.svg#checked")
        tr
          td .icon--arrow-down
          td 
            svg.icon.icon--arrow-down
              use(xlink:href="img/svg-sprite.svg#arrow-down")
        tr
          td .icon--arrow-top
          td 
            svg.icon.icon--arrow-top
              use(xlink:href="img/svg-sprite.svg#arrow-top")
        tr
          td .icon--arrow-right
          td 
            svg.icon.icon--arrow-right
              use(xlink:href="img/svg-sprite.svg#arrow-right")
        tr
          td .icon--arrow-left
          td 
            svg.icon.icon--arrow-left
              use(xlink:href="img/svg-sprite.svg#arrow-left")
        tr
          td .icon--notifications
          td
            svg.icon.icon--notifications
              use(xlink:href="img/svg-sprite.svg#notifications")
        tr
          td .icon--message
          td
            svg.icon.icon--message
              use(xlink:href="img/svg-sprite.svg#message")
        tr 
          td .icon--chart
          td
            svg(class="icon icon--chart")
              use(xlink:href="img/svg-sprite.svg#chart")
        tr 
          td .icon--support
          td
            svg(class="icon icon--support")
              use(xlink:href="img/svg-sprite.svg#support")
        tr 
          td .icon--strategy
          td
            svg(class="icon icon--strategy")
              use(xlink:href="img/svg-sprite.svg#strategy")
        tr 
          td .icon--statistics
          td
            svg(class="icon icon--statistics")
              use(xlink:href="img/svg-sprite.svg#statistics")
        tr 
          td .icon--settings
          td
            svg(class="icon icon--settings")
              use(xlink:href="img/svg-sprite.svg#settings")
        tr 
          td .icon--next-arrow
          td
            svg(class="icon icon--next-arrow")
              use(xlink:href="img/svg-sprite.svg#next-arrow")
        tr 
          td .icon--man-user
          td
            svg(class="icon icon--man-user")
              use(xlink:href="img/svg-sprite.svg#man-user")
        tr 
          td .icon--send
          td
            svg(class="icon icon--send")
              use(xlink:href="img/svg-sprite.svg#send")
        tr 
          td .icon--verified
          td
            svg(class="icon icon--verified")
              use(xlink:href="img/svg-sprite.svg#verified")
        tr 
          td .icon--remove
          td
            svg(class="icon icon--remove")
              use(xlink:href="img/svg-sprite.svg#remove")
        tr 
          td .icon--time
          td
            svg(class="icon icon--time")
              use(xlink:href="img/svg-sprite.svg#time")
        tr 
          td .icon--calendar
          td
            svg(class="icon icon--calendar")
              use(xlink:href="img/svg-sprite.svg#calendar")
        tr 
          td .icon--location
          td
            svg(class="icon icon--location")
              use(xlink:href="img/svg-sprite.svg#location")
        tr 
          td .icon--global
          td
            svg(class="icon icon--global")
              use(xlink:href="img/svg-sprite.svg#global")
        tr 
          td .icon--telegram
          td
            svg(class="icon icon--telegram")
              use(xlink:href="img/svg-sprite.svg#telegram")
    .col-1-3
      table.table
        tr
          th Class name
          th Icon view
        tr 
          td .icon--btc
          td
            svg(class="icon icon--btc")
              use(xlink:href="img/svg-sprite.svg#btc")
        tr 
          td .icon--bch
          td
            svg(class="icon icon--bch")
              use(xlink:href="img/svg-sprite.svg#bch")
        tr 
          td .icon--binance
          td
            svg(class="icon icon--binance")
              use(xlink:href="img/svg-sprite.svg#binance")
        tr 
          td .icon--litecoin
          td
            svg(class="icon icon--litecoin")
              use(xlink:href="img/svg-sprite.svg#litecoin")
        tr 
          td .icon--ethereum
          td
            svg(class="icon icon--ethereum")
              use(xlink:href="img/svg-sprite.svg#ethereum")
  h1 Form styler 
  .flex-p-wrap 
    .col-1-4 
      .form-row 
        label.form-row__label Селект обыкновенный
        select.select-styler
          option Binance
          option Binance 2
          option Binance 3
    .col-1-4
      .form-row 
        label.form-row__label Селекс с иконкой
        select.select-icon
          option(data-icon="binance") Binance
          option(data-icon="litecoin") Litecoin
          option(data-icon="binance") Binance 3
  h1 Blocks container 
  .inner-block.p-cont Color container
  h1 Tabs
  .flex-wrap
    .col-1-3
      .tabs
        .tabs__list 
          .tabs__list-item.tabs__list-item--active(data-tab="#tab-1") Tab item 1
          .tabs__list-item(data-tab="#tab-2") Tab item 2
        .tabs__cont
          #tab-1.tabs__item.tabs__item--active Tab content 1
          #tab-2.tabs__item Tab content 2
    .col-1-3
      label.form-row__label Ваши активы
      .tabs.tabs__assets
        .tabs__list.flex-wrap
          .col-1-2
            .tabs__list-item.tabs__list-item--active(data-tab="#assets-btc") 
              .coin-price
                .coin-price__num 
                  span 0.92
                  | 1500
                .coin-price__name
                  svg.coin-price__icon.icon.icon--btc
                    use(xlink:href="img/svg-sprite.svg#btc")
                  span BTC
          .col-1-2
            .tabs__list-item(data-tab="#assets-bch") 
              .coin-price
                .coin-price__num 
                  span 0.32
                  | 1500
                .coin-price__name
                  svg.coin-price__icon.icon.icon--bch
                    use(xlink:href="img/svg-sprite.svg#bch")
                  span BCH
        .tabs__cont
          #assets-btc.tabs__item.tabs__item--active 
            select.select-coin
              option(data-coin="btc" data-icon="btc" data-num="<span>0.32</span>1500") 
              option(data-coin="bch" data-icon="bch" data-num="<span>0.92</span>1500")
          #assets-bch.tabs__item 
            select.select-coin
              option(data-coin="bch" data-icon="bch" data-num="<span>0.92</span>1500")
              option(data-coin="btc" data-icon="btc" data-num="<span>0.32</span>1500") 
  h2 Numbers 
  .inner-block.p-cont
    .flex-p-wrap 
      .col-1-4
        .form-row 
          label.form-row__label Number
          .spinner.flex-wrap
            .col-auto.mr-auto
              a(href="").spinner__btn.spinner__btn--minus
            .col 
              .spinner__cont
                input(type="text" value="3%").spinner__input
            .col-auto
              a(href="").spinner__btn.spinner__btn--pluse
      .col-1-4
        .form-row 
          label.form-row__label Number with icon coin
          .spinner.flex-wrap
            .col-auto.mr-auto
              a(href="").spinner__btn.spinner__btn--minus
            .col 
              .spinner__cont
                .flex-wrap 
                  .col-1-2.text-center
                    input(type="text" value="0.33").spinner__input.spinner__input--num
                  .col-1-2.text-center
                    svg.spinner__icon.icon.icon--bch
                      use(xlink:href="img/svg-sprite.svg#bch")
                    .spinner__coin bth
            .col-auto
              a(href="").spinner__btn.spinner__btn--pluse
      .col-1-4
        .form-row
          label.form-row__label Number 
          .spinner-v 
            a(href="").spinner-v__btn.spinner-v__btn--up
            a(href="").spinner-v__btn.spinner-v__btn--down
            .spinner-v__num
              | 0.31
              span 150
            .spinner-v__percent -17%
      .col-1-4
        .form-row
          label.form-row__label Number
          .spinner-v 
            a(href="").spinner-v__btn.spinner-v__btn--up
            a(href="").spinner-v__btn.spinner-v__btn--down
            .spinner-v__num.text-blue-2 -13%  
      .col-1-4
        .form-row
          label.form-row__label Number
          .spinner-small
            a(href="").spinner-small__btn.spinner-small__btn--up
            a(href="").spinner-small__btn.spinner-small__btn--down
            .spinner-small__num  7 decimals
  h2 Buttons
  .inner-block.p-cont
    .flex-p-wrap
      .col-1-4
        .form-row
          a(href="#").btn.btn__mega Button xxl
        .form-row
          a(href="#").btn.btn__mega Button mega
        .form-row
          a(href="#").btn.btn__large Button large
        .form-row
          a(href="#").btn Button default 
        .form-row
          a(href="#").btn.btn__small Button small
        .form-row
          a(href="#").btn.btn__mini Button mini
      .col-1-4
        .form-row
          a(href="#").btn.btn__full Button full width
          .btn-row
            .btn-row__item
              a(href="").btn.btn__small 25%
            .btn-row__item
              a(href="").btn.btn__small 50%
            .btn-row__item
              a(href="").btn.btn__small 75%
            .btn-row__item
              a(href="").btn.btn__small 100%
          .btn-row
            .btn-row__item.col-1-4
              a(href="").btn.btn__small.btn__full 25%
            .btn-row__item.col-1-4
              a(href="").btn.btn__small.btn__full 50%
            .btn-row__item.col-1-4
              a(href="").btn.btn__small.btn__full 75%
            .btn-row__item.col-1-4
              a(href="").btn.btn__small.btn__full 100%
            
      .col-1-4
        .form-row 
          a(href="#").btn.btn__blue-2 Button color blue 2
        .form-row 
          a(href="#").btn.btn__blue Button color blue
        .form-row 
          a(href="#").btn.btn__green Button color green
        .form-row 
          a(href="#").btn.btn__red Button color red
        .form-row 
          a(href="#").btn.btn__yellow Button color yellow
      .col-1-4
        .form-row 
          a(href="#").btn-r Button with border 
        .form-row 
          a(href="#").btn-c Button  
        .form-row 
          a(href="#").btn-c.btn-c__white Button  white
  h2 Sliders
  .inner-block.p-cont
    .flex-p-wrap
      .col-1-4
        .form-row
          label.form-row__label Slider
          .slider(data-value="30")
      .col-1-4
        .form-row
          label.form-row__label Slider
          .slider.slider__blue(data-value="50")
      .col-1-4
        .form-row
          label.form-row__label Slider
          .slider.slider__red(data-value="50")
  h2 Checkbox 
  .inner-block.p-cont
    .flex-p-wrap
      .col-1-4
        .form-row 
          label.form-row__label Checkbox
          label.checkbox 
            .checkbox__inner
              input(type="checkbox" checked).checkbox__inner-input
              .checkbox__inner-check
                svg.icon.icon--checked
                  use(xlink:href="img/svg-sprite.svg#checked")
            .checkbox__text Checkbox text
        .form-row 
          label.form-row__label Checkbox
          label.checkbox.checkbox__red 
            .checkbox__inner
              input(type="checkbox" checked).checkbox__inner-input
              .checkbox__inner-check
                svg.icon.icon--checked
                  use(xlink:href="img/svg-sprite.svg#checked")
            .checkbox__text Checkbox text
        .form-row 
          label.form-row__label Checkbox
          label.checkbox.checkbox__blue
            .checkbox__inner
              input(type="checkbox" checked).checkbox__inner-input
              .checkbox__inner-check
                svg.icon.icon--checked
                  use(xlink:href="img/svg-sprite.svg#checked")
            .checkbox__text Checkbox text            
      .col-1-4
        .swicher
          input(type="checkbox").swicher__input
          .swicher__circle
  h2 Rocket
   .inner-block.p-cont
     .flex-p-wrap
       .col-1-4
         .firework-rocket
            svg.firework-rocket__svg
              use(xlink:href='img/svg-sprite.svg#firework-rocket')
            .firework-rocket__flames
              .firework-rocket__flame-position
                .firework-rocket__flame.firework-rocket__flame--1.animate-flame
              .firework-rocket__flame-position
                .firework-rocket__flame.firework-rocket__flame--2.animate-flame
              .firework-rocket__flame-position
                .firework-rocket__flame.firework-rocket__flame--3.animate-flame
              .firework-rocket__flame-position
                .firework-rocket__flame.firework-rocket__flame--4.animate-flame
              .firework-rocket__flame-position
                .firework-rocket__flame.firework-rocket__flame--5.animate-flame
            .firework-rocket__stars
              .firework-rocket__star.firework-rocket__star--1.animate-flame-star
                svg.svg-firework-star__svg
                  use(xlink:href='img/svg-sprite.svg#firework-star')
              .firework-rocket__star.firework-rocket__star--2.animate-flame-star
                svg.svg-firework-star__svg
                  use(xlink:href='img/svg-sprite.svg#firework-star')
              .firework-rocket__star.firework-rocket__star--3.animate-flame-star
                svg.svg-firework-star__svg
                  use(xlink:href='img/svg-sprite.svg#firework-star')
              .firework-rocket__star.firework-rocket__star--4.animate-flame-star
                svg.svg-firework-star__svg
                  use(xlink:href='img/svg-sprite.svg#firework-star')
              .firework-rocket__star.firework-rocket__star--5.animate-flame-star
                svg.svg-firework-star__svg
                  use(xlink:href='img/svg-sprite.svg#firework-star')
              .firework-rocket__star.firework-rocket__star--6.animate-flame-star
                svg.svg-firework-star__svg
                  use(xlink:href='img/svg-sprite.svg#firework-star')
              .firework-rocket__star.firework-rocket__star--7.animate-flame-star
                svg.svg-firework-star__svg
                  use(xlink:href='img/svg-sprite.svg#firework-star')
              .firework-rocket__star.firework-rocket__star--8.animate-flame-star
                svg.svg-firework-star__svg
                  use(xlink:href='img/svg-sprite.svg#firework-star')
