extends layouts/layout-history.pug

block title
  title Coin History

block content
  include blocks/header
  .flex-wrap
    .aside
      include blocks/menu-small.pug
    .content 
      .inner-block.p-cont-3
        .user-history__header 
          .category-title 
            .category-title__icon
              svg(class="icon icon--chart")
                use(xlink:href="img/svg-sprite.svg#chart")
            | Asset 
            span History
          .user-history__header-inner 
            .btn-row-c
              .btn-row-c__item
                a(href="").btn-row-c__link 7d
              .btn-row-c__item
                a(href="").btn-row-c__link.btn-row-c__link--active 1w
              .btn-row-c__item
                a(href="").btn-row-c__link 1m
              .btn-row-c__item
                a(href="").btn-row-c__link 3m
            .category-title 
              .category-title__icon
                svg(class="icon icon--statistics-2")
                  use(xlink:href="img/svg-sprite.svg#statistics-2")
              | Your Score 
              span Overall
          .user-history__stat(style="background-image:url(img/pic-7.png)")
          .flex-p-wrap
            .col-1-3
              .flex-p-wrap 
                .col-1-2
                  .user-history__block.user-history__block--large
                    .category-title 
                      .category-title__icon
                        svg(class="icon icon--statistics-2")
                          use(xlink:href="img/svg-sprite.svg#statistics-2")
                      | Your Score 
                      span Overall
                    .user-history__inf
                      .user-history__inf-cont
                        .user-history__inf-text 411
                          span /1000
                      .user-history__inf-list
                        .user-history__inf-item Income
                        .user-history__inf-item Outcome
                        .user-history__inf-item Correlation
                .col-1-2
                  .user-history__block.user-history__block--large
            .col-1-3
              .user-history__block.pl-0.pr-0
                .flex-p-wrap 
                  .col-1-2
                    .user-stat
                      .user-stat__name Анализируемая биржа
                      .col-auto.ml-auto
                        .user-stat__icon-w
                          svg.icon.icon--btc
                            use(xlink:href="img/svg-sprite.svg#btc")
                  .col-1-2
                    .user-stat
                      .user-stat__name!="Всего <br> сделок"
                      .col-auto.ml-auto 
                        .user-stat__num 35+
                        
              .flex-p-wrap 
                .col-1-2
                  .user-history__block.pl-0.pr-0
                    .user-stat
                      .user-stat__name!="Топ <br> сделка в плюс"
                      .col-auto.ml-auto 
                        .user-stat__num.text-green +0.2
                        .user-stat__icon
                          svg.icon.icon--btc
                            use(xlink:href="img/svg-sprite.svg#btc")
                .col-1-2
                  .user-history__block.pl-0.pr-0
                    .user-stat
                      .user-stat__name!="Топ <br> сделка в плюс"
                      .col-auto.ml-auto 
                        .user-stat__num.text-red -0.2
                        .user-stat__icon
                          svg.icon.icon--litecoin
                            use(xlink:href="img/svg-sprite.svg#litecoin")
                .col-1-2
                  .user-history__block.pl-0.pr-0
                    .user-stat
                      .user-stat__name!="Непроданных раз <br> на пампе"
                      .col-auto.ml-auto 
                        .user-stat__num 35+
                .col-1-2
                  .user-history__block.pl-0.pr-0
                    .user-stat
                      .user-stat__name!="Всего потрачено  <br> комиссиии"
                      .col-auto.ml-auto 
                        .user-stat__num 0.2
                        .user-stat__icon
                          svg.icon.icon--btc
                            use(xlink:href="img/svg-sprite.svg#btc")
                .col-1-2
                  .user-history__block
                .col-1-2
                  .user-history__block
            .col-1-3.user-cong
              .firework-rocket
                 svg.firework-rocket__svg
                   use(xlink:href='img/svg-sprite.svg#firework-rocket')
                 .firework-rocket__flames
                   .firework-rocket__flame-position
                     .firework-rocket__flame.firework-rocket__flame--1.animate-flame
                   .firework-rocket__flame-position
                     .firework-rocket__flame.firework-rocket__flame--2.animate-flame
                   .firework-rocket__flame-position
                     .firework-rocket__flame.firework-rocket__flame--3.animate-flame
                   .firework-rocket__flame-position
                     .firework-rocket__flame.firework-rocket__flame--4.animate-flame
                   .firework-rocket__flame-position
                     .firework-rocket__flame.firework-rocket__flame--5.animate-flame
                 .firework-rocket__stars
                   .firework-rocket__star.firework-rocket__star--1.animate-flame-star
                     svg.svg-firework-star__svg
                       use(xlink:href='img/svg-sprite.svg#firework-star')
                   .firework-rocket__star.firework-rocket__star--2.animate-flame-star
                     svg.svg-firework-star__svg
                       use(xlink:href='img/svg-sprite.svg#firework-star')
                   .firework-rocket__star.firework-rocket__star--3.animate-flame-star
                     svg.svg-firework-star__svg
                       use(xlink:href='img/svg-sprite.svg#firework-star')
                   .firework-rocket__star.firework-rocket__star--4.animate-flame-star
                     svg.svg-firework-star__svg
                       use(xlink:href='img/svg-sprite.svg#firework-star')
                   .firework-rocket__star.firework-rocket__star--5.animate-flame-star
                     svg.svg-firework-star__svg
                       use(xlink:href='img/svg-sprite.svg#firework-star')
                   .firework-rocket__star.firework-rocket__star--6.animate-flame-star
                     svg.svg-firework-star__svg
                       use(xlink:href='img/svg-sprite.svg#firework-star')
                   .firework-rocket__star.firework-rocket__star--7.animate-flame-star
                     svg.svg-firework-star__svg
                       use(xlink:href='img/svg-sprite.svg#firework-star')
                   .firework-rocket__star.firework-rocket__star--8.animate-flame-star
                     svg.svg-firework-star__svg
                       use(xlink:href='img/svg-sprite.svg#firework-star')
              .user-cong__title Сongratulations!
              .user-cong__text!="Wheels come in many variations that <br> affect grip, top speed, cryptocurrency!"
              .text-center 
                a(href="#api-code").btn.btn__blue-2.btn__large.modal-btn Submit
    #api-code.modal 
      .modal__title Need your API Code
      .modal__text!="Wheels come in many variations that affect <br> grip, top speed, cryptocurrency!"
      .form-row.form-row__icon
        svg(class="icon icon--btc")
          use(xlink:href="img/svg-sprite.svg#btc")
        input(type="text").form-row__input-lg
      .form-row.text-right
        a(href="").btn.btn__gray.btn__large.mr-8.modal__btn-close close 
        a(href="").btn.btn__blue-2.btn__large Copy code 
      .modal__footer API-код биржы можно найти в натсройках.
        |  
        a(href="") Смотри подробнее
         
