extends layouts/layout.pug

block title
  title Main page

block content
  .bn-blue
    .flex-p-wrap 
      .col-1-2
        .bn-blue__bg
          img(src="img/bn-blue-bg.png" width="486px" height="207px").bn-blue__bg-img
      .col-1-2
        .bn-blue__cont
          .bn-blue__title Enjoyably Customizable
          p Wheels come in many variations that affect grip, top speed, cryptocurrency, and turning so choose wisely. Wheels come in many acceleration, and turning so happenwisely.
          a(href="").btn-c.btn-c__white Analyze Me
  .flex-wrap
    .content-lg.pl-0
      .inner-block.users-status.z-index-10
        .users-status__item
        .flex-p-wrap.flex-p-small 
          .col-1-3
            +uslListItem('img/pic-3.png','Chris Williams','$54.M','76% profit','in a year','76% profit','in a year')
          .col-1-3
            +uslListItem('img/pic-4.png','Chris Williams','$54.M','76% profit','in a year','76% profit','in a year')
          .col-1-3
            +uslListItem('img/pic-5.png','Chris Williams','$54.M','76% profit','in a year','76% profit','in a year')
        .ul-row
          a(href="").users-status__go-to
            svg(class="icon icon--arrow-right")
              use(xlink:href="img/svg-sprite.svg#arrow-right")
          .flex-p-wrap 
            .col-1-2
              .flex-p-wrap 
                .col-auto 
                  .ul-row__num 4.
                  .ul-row__avatar
                    svg(class="icon icon--man-user")
                      use(xlink:href="img/svg-sprite.svg#man-user")
                  a(href="").ul-row__name Michael Glutenberg
                .col-auto.ml-auto
                  img(src="img/pic-6.png" height="34px").ul-row__img
            .col-1-2
              .flex-p-wrap 
                .col-1-2
                  .ul-row__profit.ul-row__profit--up
                    .ul-row__profit-percent 76% profit 
                    .ul-row__profit-time in a year
                .col-1-2
                  .ul-row__profit.ul-row__profit--down
                    .ul-row__profit-percent 76% profit 
                    .ul-row__profit-time in a year
        .ul-row
          a(href="").users-status__go-to
            svg(class="icon icon--arrow-right")
              use(xlink:href="img/svg-sprite.svg#arrow-right")
          .flex-p-wrap 
            .col-1-2
              .flex-p-wrap 
                .col-auto 
                  .ul-row__num 5.
                  .ul-row__avatar(style="background-image:url(img/pic-5.png)")
                  a(href="").ul-row__name Michael Glutenberg
                .col-auto.ml-auto
                  img(src="img/pic-6.png" height="34px").ul-row__img
            .col-1-2
              .flex-p-wrap 
                .col-1-2
                  .ul-row__profit.ul-row__profit--up
                    .ul-row__profit-percent 76% profit 
                    .ul-row__profit-time in a year
                .col-1-2
                  .ul-row__profit.ul-row__profit--down
                    .ul-row__profit-percent 76% profit 
                    .ul-row__profit-time in a year
        .ul-row
          a(href="").users-status__go-to
            svg(class="icon icon--arrow-right")
              use(xlink:href="img/svg-sprite.svg#arrow-right")
          .flex-p-wrap 
            .col-1-2
              .flex-p-wrap 
                .col-auto 
                  .ul-row__num 6.
                  .ul-row__avatar(style="background-image:url(img/pic-5.png)")
                  a(href="").ul-row__name Michael Glutenberg
                .col-auto.ml-auto
                  img(src="img/pic-6.png" height="34px").ul-row__img
            .col-1-2
              .flex-p-wrap 
                .col-1-2
                  .ul-row__profit.ul-row__profit--up
                    .ul-row__profit-percent 76% profit 
                    .ul-row__profit-time in a year
                .col-1-2
                  .ul-row__profit.ul-row__profit--down
                    .ul-row__profit-percent 76% profit 
                    .ul-row__profit-time in a year
        .ul-row
          a(href="").users-status__go-to
            svg(class="icon icon--arrow-right")
              use(xlink:href="img/svg-sprite.svg#arrow-right")
          .flex-p-wrap 
            .col-1-2
              .flex-p-wrap 
                .col-auto 
                  .ul-row__num 7.
                  .ul-row__avatar(style="background-image:url(img/pic-5.png)")
                  a(href="").ul-row__name Michael Glutenberg
                .col-auto.ml-auto
                  img(src="img/pic-6.png" height="34px").ul-row__img
            .col-1-2
              .flex-p-wrap 
                .col-1-2
                  .ul-row__profit.ul-row__profit--up
                    .ul-row__profit-percent 76% profit 
                    .ul-row__profit-time in a year
                .col-1-2
                  .ul-row__profit.ul-row__profit--down
                    .ul-row__profit-percent 76% profit 
                    .ul-row__profit-time in a year
        .ul-row
          a(href="").users-status__go-to
            svg(class="icon icon--arrow-right")
              use(xlink:href="img/svg-sprite.svg#arrow-right")
          .flex-p-wrap 
            .col-1-2
              .flex-p-wrap 
                .col-auto 
                  .ul-row__num 8.
                  .ul-row__avatar(style="background-image:url(img/pic-5.png)")
                  a(href="").ul-row__name Michael Glutenberg
                .col-auto.ml-auto
                  img(src="img/pic-6.png" height="34px").ul-row__img
            .col-1-2
              .flex-p-wrap 
                .col-1-2
                  .ul-row__profit.ul-row__profit--up
                    .ul-row__profit-percent 76% profit 
                    .ul-row__profit-time in a year
                .col-1-2
                  .ul-row__profit.ul-row__profit--down
                    .ul-row__profit-percent 76% profit 
                    .ul-row__profit-time in a year
        .ul-row
          a(href="").users-status__go-to
            svg(class="icon icon--arrow-right")
              use(xlink:href="img/svg-sprite.svg#arrow-right")
          .flex-p-wrap 
            .col-1-2
              .flex-p-wrap 
                .col-auto 
                  .ul-row__num 9.
                  .ul-row__avatar(style="background-image:url(img/pic-5.png)")
                  a(href="").ul-row__name Michael Glutenberg
                .col-auto.ml-auto
                  img(src="img/pic-6.png" height="34px").ul-row__img
            .col-1-2
              .flex-p-wrap 
                .col-1-2
                  .ul-row__profit.ul-row__profit--up
                    .ul-row__profit-percent 76% profit 
                    .ul-row__profit-time in a year
                .col-1-2
                  .ul-row__profit.ul-row__profit--down
                    .ul-row__profit-percent 76% profit 
                    .ul-row__profit-time in a year
        .ul-row
          a(href="").users-status__go-to
            svg(class="icon icon--arrow-right")
              use(xlink:href="img/svg-sprite.svg#arrow-right")
          .flex-p-wrap 
            .col-1-2
              .flex-p-wrap 
                .col-auto 
                  .ul-row__num 10.
                  .ul-row__avatar(style="background-image:url(img/pic-5.png)")
                  a(href="").ul-row__name Michael Glutenberg
                .col-auto.ml-auto
                  img(src="img/pic-6.png" height="34px").ul-row__img
            .col-1-2
              .flex-p-wrap 
                .col-1-2
                  .ul-row__profit.ul-row__profit--up
                    .ul-row__profit-percent 76% profit 
                    .ul-row__profit-time in a year
                .col-1-2
                  .ul-row__profit.ul-row__profit--down
                    .ul-row__profit-percent 76% profit 
                    .ul-row__profit-time in a year
        .ul-row
          a(href="").users-status__go-to
            svg(class="icon icon--arrow-right")
              use(xlink:href="img/svg-sprite.svg#arrow-right")
          .flex-p-wrap 
            .col-1-2
              .flex-p-wrap 
                .col-auto 
                  .ul-row__num 11.
                  .ul-row__avatar(style="background-image:url(img/pic-5.png)")
                  a(href="").ul-row__name Michael Glutenberg
                .col-auto.ml-auto
                  img(src="img/pic-6.png" height="34px").ul-row__img
            .col-1-2
              .flex-p-wrap 
                .col-1-2
                  .ul-row__profit.ul-row__profit--up
                    .ul-row__profit-percent 76% profit 
                    .ul-row__profit-time in a year
                .col-1-2
                  .ul-row__profit.ul-row__profit--down
                    .ul-row__profit-percent 76% profit 
                    .ul-row__profit-time in a year
        .ul-row
          a(href="").users-status__go-to
            svg(class="icon icon--arrow-right")
              use(xlink:href="img/svg-sprite.svg#arrow-right")
          .flex-p-wrap 
            .col-1-2
              .flex-p-wrap 
                .col-auto 
                  .ul-row__num 12.
                  .ul-row__avatar(style="background-image:url(img/pic-5.png)")
                  a(href="").ul-row__name Michael Glutenberg
                .col-auto.ml-auto
                  img(src="img/pic-6.png" height="34px").ul-row__img
            .col-1-2
              .flex-p-wrap 
                .col-1-2
                  .ul-row__profit.ul-row__profit--up
                    .ul-row__profit-percent 76% profit 
                    .ul-row__profit-time in a year
                .col-1-2
                  .ul-row__profit.ul-row__profit--down
                    .ul-row__profit-percent 76% profit 
                    .ul-row__profit-time in a year
        .ul-row
          a(href="").users-status__go-to
            svg(class="icon icon--arrow-right")
              use(xlink:href="img/svg-sprite.svg#arrow-right")
          .flex-p-wrap 
            .col-1-2
              .flex-p-wrap 
                .col-auto 
                  .ul-row__num 13.
                  .ul-row__avatar(style="background-image:url(img/pic-5.png)")
                  a(href="").ul-row__name Michael Glutenberg
                .col-auto.ml-auto
                  img(src="img/pic-6.png" height="34px").ul-row__img
            .col-1-2
              .flex-p-wrap 
                .col-1-2
                  .ul-row__profit.ul-row__profit--up
                    .ul-row__profit-percent 76% profit 
                    .ul-row__profit-time in a year
                .col-1-2
                  .ul-row__profit.ul-row__profit--down
                    .ul-row__profit-percent 76% profit 
                    .ul-row__profit-time in a year
        .ul-row
          a(href="").users-status__go-to
            svg(class="icon icon--arrow-right")
              use(xlink:href="img/svg-sprite.svg#arrow-right")
          .flex-p-wrap 
            .col-1-2
              .flex-p-wrap 
                .col-auto 
                  .ul-row__num 14.
                  .ul-row__avatar(style="background-image:url(img/pic-5.png)")
                  a(href="").ul-row__name Michael Glutenberg
                .col-auto.ml-auto
                  img(src="img/pic-6.png" height="34px").ul-row__img
            .col-1-2
              .flex-p-wrap 
                .col-1-2
                  .ul-row__profit.ul-row__profit--up
                    .ul-row__profit-percent 76% profit 
                    .ul-row__profit-time in a year
                .col-1-2
                  .ul-row__profit.ul-row__profit--down
                    .ul-row__profit-percent 76% profit 
                    .ul-row__profit-time in a year
        .ul-row
          a(href="").users-status__go-to
            svg(class="icon icon--arrow-right")
              use(xlink:href="img/svg-sprite.svg#arrow-right")
          .flex-p-wrap 
            .col-1-2
              .flex-p-wrap 
                .col-auto 
                  .ul-row__num 15.
                  .ul-row__avatar(style="background-image:url(img/pic-5.png)")
                  a(href="").ul-row__name Michael Glutenberg
                .col-auto.ml-auto
                  img(src="img/pic-6.png" height="34px").ul-row__img
            .col-1-2
              .flex-p-wrap 
                .col-1-2
                  .ul-row__profit.ul-row__profit--up
                    .ul-row__profit-percent 76% profit 
                    .ul-row__profit-time in a year
                .col-1-2
                  .ul-row__profit.ul-row__profit--down
                    .ul-row__profit-percent 76% profit 
                    .ul-row__profit-time in a year
        .ul-row
          a(href="").users-status__go-to
            svg(class="icon icon--arrow-right")
              use(xlink:href="img/svg-sprite.svg#arrow-right")
          .flex-p-wrap 
            .col-1-2
              .flex-p-wrap 
                .col-auto 
                  .ul-row__num 16.
                  .ul-row__avatar(style="background-image:url(img/pic-5.png)")
                  a(href="").ul-row__name Michael Glutenberg
                .col-auto.ml-auto
                  img(src="img/pic-6.png" height="34px").ul-row__img
            .col-1-2
              .flex-p-wrap 
                .col-1-2
                  .ul-row__profit.ul-row__profit--up
                    .ul-row__profit-percent 76% profit 
                    .ul-row__profit-time in a year
                .col-1-2
                  .ul-row__profit.ul-row__profit--down
                    .ul-row__profit-percent 76% profit 
                    .ul-row__profit-time in a year
        .ul-row
          a(href="").users-status__go-to
            svg(class="icon icon--arrow-right")
              use(xlink:href="img/svg-sprite.svg#arrow-right")
          .flex-p-wrap 
            .col-1-2
              .flex-p-wrap 
                .col-auto 
                  .ul-row__num 17.
                  .ul-row__avatar(style="background-image:url(img/pic-5.png)")
                  a(href="").ul-row__name Michael Glutenberg
                .col-auto.ml-auto
                  img(src="img/pic-6.png" height="34px").ul-row__img
            .col-1-2
              .flex-p-wrap 
                .col-1-2
                  .ul-row__profit.ul-row__profit--up
                    .ul-row__profit-percent 76% profit 
                    .ul-row__profit-time in a year
                .col-1-2
                  .ul-row__profit.ul-row__profit--down
                    .ul-row__profit-percent 76% profit 
                    .ul-row__profit-time in a year
        .ul-row
          a(href="").users-status__go-to
            svg(class="icon icon--arrow-right")
              use(xlink:href="img/svg-sprite.svg#arrow-right")
          .flex-p-wrap 
            .col-1-2
              .flex-p-wrap 
                .col-auto 
                  .ul-row__num 18.
                  .ul-row__avatar(style="background-image:url(img/pic-5.png)")
                  a(href="").ul-row__name Michael Glutenberg
                .col-auto.ml-auto
                  img(src="img/pic-6.png" height="34px").ul-row__img
            .col-1-2
              .flex-p-wrap 
                .col-1-2
                  .ul-row__profit.ul-row__profit--up
                    .ul-row__profit-percent 76% profit 
                    .ul-row__profit-time in a year
                .col-1-2
                  .ul-row__profit.ul-row__profit--down
                    .ul-row__profit-percent 76% profit 
                    .ul-row__profit-time in a year
        .ul-row
          a(href="").users-status__go-to
            svg(class="icon icon--arrow-right")
              use(xlink:href="img/svg-sprite.svg#arrow-right")
          .flex-p-wrap 
            .col-1-2
              .flex-p-wrap 
                .col-auto 
                  .ul-row__num 19.
                  .ul-row__avatar(style="background-image:url(img/pic-5.png)")
                  a(href="").ul-row__name Michael Glutenberg
                .col-auto.ml-auto
                  img(src="img/pic-6.png" height="34px").ul-row__img
            .col-1-2
              .flex-p-wrap 
                .col-1-2
                  .ul-row__profit.ul-row__profit--up
                    .ul-row__profit-percent 76% profit 
                    .ul-row__profit-time in a year
                .col-1-2
                  .ul-row__profit.ul-row__profit--down
                    .ul-row__profit-percent 76% profit 
                    .ul-row__profit-time in a year
        .ul-row
          a(href="").users-status__go-to
            svg(class="icon icon--arrow-right")
              use(xlink:href="img/svg-sprite.svg#arrow-right")
          .flex-p-wrap 
            .col-1-2
              .flex-p-wrap 
                .col-auto 
                  .ul-row__num 20.
                  .ul-row__avatar(style="background-image:url(img/pic-5.png)")
                  a(href="").ul-row__name Michael Glutenberg
                .col-auto.ml-auto
                  img(src="img/pic-6.png" height="34px").ul-row__img
            .col-1-2
              .flex-p-wrap 
                .col-1-2
                  .ul-row__profit.ul-row__profit--up
                    .ul-row__profit-percent 76% profit 
                    .ul-row__profit-time in a year
                .col-1-2
                  .ul-row__profit.ul-row__profit--down
                    .ul-row__profit-percent 76% profit 
                    .ul-row__profit-time in a year
        .ul-row
          a(href="").users-status__go-to
            svg(class="icon icon--arrow-right")
              use(xlink:href="img/svg-sprite.svg#arrow-right")
          .flex-p-wrap 
            .col-1-2
              .flex-p-wrap 
                .col-auto 
                  .ul-row__num 21.
                  .ul-row__avatar(style="background-image:url(img/pic-5.png)")
                  a(href="").ul-row__name Michael Glutenberg
                .col-auto.ml-auto
                  img(src="img/pic-6.png" height="34px").ul-row__img
            .col-1-2
              .flex-p-wrap 
                .col-1-2
                  .ul-row__profit.ul-row__profit--up
                    .ul-row__profit-percent 76% profit 
                    .ul-row__profit-time in a year
                .col-1-2
                  .ul-row__profit.ul-row__profit--down
                    .ul-row__profit-percent 76% profit 
                    .ul-row__profit-time in a year
        .ul-row
          a(href="").users-status__go-to
            svg(class="icon icon--arrow-right")
              use(xlink:href="img/svg-sprite.svg#arrow-right")
          .flex-p-wrap 
            .col-1-2
              .flex-p-wrap 
                .col-auto 
                  .ul-row__num 22.
                  .ul-row__avatar(style="background-image:url(img/pic-5.png)")
                  a(href="").ul-row__name Michael Glutenberg
                .col-auto.ml-auto
                  img(src="img/pic-6.png" height="34px").ul-row__img
            .col-1-2
              .flex-p-wrap 
                .col-1-2
                  .ul-row__profit.ul-row__profit--up
                    .ul-row__profit-percent 76% profit 
                    .ul-row__profit-time in a year
                .col-1-2
                  .ul-row__profit.ul-row__profit--down
                    .ul-row__profit-percent 76% profit 
                    .ul-row__profit-time in a year
        .ul-row
          a(href="").users-status__go-to
            svg(class="icon icon--arrow-right")
              use(xlink:href="img/svg-sprite.svg#arrow-right")
          .flex-p-wrap 
            .col-1-2
              .flex-p-wrap 
                .col-auto 
                  .ul-row__num 23.
                  .ul-row__avatar(style="background-image:url(img/pic-5.png)")
                  a(href="").ul-row__name Michael Glutenberg
                .col-auto.ml-auto
                  img(src="img/pic-6.png" height="34px").ul-row__img
            .col-1-2
              .flex-p-wrap 
                .col-1-2
                  .ul-row__profit.ul-row__profit--up
                    .ul-row__profit-percent 76% profit 
                    .ul-row__profit-time in a year
                .col-1-2
                  .ul-row__profit.ul-row__profit--down
                    .ul-row__profit-percent 76% profit 
                    .ul-row__profit-time in a year
        .ul-row
          a(href="").users-status__go-to
            svg(class="icon icon--arrow-right")
              use(xlink:href="img/svg-sprite.svg#arrow-right")
          .flex-p-wrap 
            .col-1-2
              .flex-p-wrap 
                .col-auto 
                  .ul-row__num 24.
                  .ul-row__avatar(style="background-image:url(img/pic-5.png)")
                  a(href="").ul-row__name Michael Glutenberg
                .col-auto.ml-auto
                  img(src="img/pic-6.png" height="34px").ul-row__img
            .col-1-2
              .flex-p-wrap 
                .col-1-2
                  .ul-row__profit.ul-row__profit--up
                    .ul-row__profit-percent 76% profit 
                    .ul-row__profit-time in a year
                .col-1-2
                  .ul-row__profit.ul-row__profit--down
                    .ul-row__profit-percent 76% profit 
                    .ul-row__profit-time in a year
        .ul-row
          a(href="").users-status__go-to
            svg(class="icon icon--arrow-right")
              use(xlink:href="img/svg-sprite.svg#arrow-right")
          .flex-p-wrap 
            .col-1-2
              .flex-p-wrap 
                .col-auto 
                  .ul-row__num 25.
                  .ul-row__avatar(style="background-image:url(img/pic-5.png)")
                  a(href="").ul-row__name Michael Glutenberg
                .col-auto.ml-auto
                  img(src="img/pic-6.png" height="34px").ul-row__img
            .col-1-2
              .flex-p-wrap 
                .col-1-2
                  .ul-row__profit.ul-row__profit--up
                    .ul-row__profit-percent 76% profit 
                    .ul-row__profit-time in a year
                .col-1-2
                  .ul-row__profit.ul-row__profit--down
                    .ul-row__profit-percent 76% profit 
                    .ul-row__profit-time in a year
    .aside-lg
      include blocks/coin-slider
      .chat-list.chat-list__full
        +chatListItem('img/pic-2.png','Chris Williams','3 min ago','85%','73.34 BCH','btc','up')
        +chatListItem('img/pic-2.png','Chris Williams','3 min ago','85%','73.34 BCH','binance','down')
        +chatListItem('img/pic-2.png','Chris Williams','3 min ago','85%','73.34 BCH','litecoin','up')
        +chatListItem('img/pic-2.png','Chris Williams','3 min ago','85%','73.34 BCH','binance','down')
        +chatListItem('img/pic-2.png','Chris Williams','3 min ago','85%','73.34 BCH','bch','down')
        +chatListItem('img/pic-2.png','Chris Williams','3 min ago','85%','73.34 BCH','btc','up')
      
