include ../inc/var.pug
include ../inc/mixins.pug

doctype html
html(lang="ru" dir="ltr")
  head
    meta(charset="UTF-8")
    
    block title
      title Title
    link(href="styles/main.css" rel="stylesheet")

  body
    #overlay      
    block content

    script(type="text/javascript" src="scripts/jquery.min.js")
    script(type="text/javascript" src="scripts/libs.min.js")
    script(type="text/javascript" src="scripts/main.js")
